@font-face {
  font-family: 'proxima_nova_bold';
  src: url("../fonts/proxima_nova_bold/ProximaNova-Bold.eot");
  src: url("../fonts/proxima_nova_bold/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova_bold/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/proxima_nova_bold/ProximaNova-Bold.woff") format("woff"), url("../fonts/proxima_nova_bold/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/proxima_nova_bold/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_regular';
  src: url("../fonts/proxima_nova_regular/ProximaNova-Regular.eot");
  src: url("../fonts/proxima_nova_regular/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova_regular/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/proxima_nova_regular/ProximaNova-Regular.woff") format("woff"), url("../fonts/proxima_nova_regular/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/proxima_nova_regular/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@-webkit-keyframes pulse {
  from {
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -moz-transform: scale3d(1.05, 1.05, 1.05);
    -ms-transform: scale3d(1.05, 1.05, 1.05);
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -moz-transform: scale3d(1.05, 1.05, 1.05);
    -ms-transform: scale3d(1.05, 1.05, 1.05);
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes rotate {
  0% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* line 1, ../sass/partials/_dashboard.scss */
.admin_area {
  position: relative;
  /* Tablets and phablets */
}
/* line 3, ../sass/partials/_dashboard.scss */
.admin_area .admin_content {
  padding: 20px 0;
}
@media only screen and (min-width: 800px) {
  /* line 1, ../sass/partials/_dashboard.scss */
  .admin_area {
    background: black;
  }
}

/* line 12, ../sass/partials/_dashboard.scss */
.admin_content .content_body {
  width: 100%;
  height: 100%;
  position: relative;
}

/* line 19, ../sass/partials/_dashboard.scss */
.main_content,
.aside_content {
  /* Tablets and phablets */
}
/* line 21, ../sass/partials/_dashboard.scss */
.main_content > .content_wrapper,
.aside_content > .content_wrapper {
  border-radius: 4px;
  overflow: hidden;
}
@media only screen and (min-width: 800px) {
  /* line 19, ../sass/partials/_dashboard.scss */
  .main_content,
  .aside_content {
    clear: none;
  }
  /* line 27, ../sass/partials/_dashboard.scss */
  .main_content > .content_wrapper,
  .aside_content > .content_wrapper {
    min-height: 600px;
    overflow: visible;
  }
}

/* line 34, ../sass/partials/_dashboard.scss */
.aside_content {
  display: none;
  /* Tablets and phablets */
}
/* line 36, ../sass/partials/_dashboard.scss */
.st-menu .aside_content {
  display: block;
}
/* line 38, ../sass/partials/_dashboard.scss */
.st-menu .aside_content > .content_wrapper {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding-bottom: 150px;
}
/* line 43, ../sass/partials/_dashboard.scss */
.aside_content > .content_wrapper {
  background-color: #FFFFFF;
}
@media only screen and (min-width: 800px) {
  /* line 34, ../sass/partials/_dashboard.scss */
  .aside_content {
    display: block;
    position: relative;
    float: right;
    width: 25%;
    border: none;
    padding-left: 15px;
    padding-bottom: 0;
  }
  /* line 54, ../sass/partials/_dashboard.scss */
  .aside_content + .main_content {
    width: 75%;
  }
}

/* line 60, ../sass/partials/_dashboard.scss */
.content_header {
  background-color: black;
  color: #FFFFFF;
  padding: 10px 15px;
  border-bottom: 1px solid #D0D8DB;
  *zoom: 1;
}
/* line 38, ../sass/partials/_mixins.scss */
.content_header:before, .content_header:after {
  content: "";
  display: table;
}
/* line 45, ../sass/partials/_mixins.scss */
.content_header:after {
  clear: both;
}
/* line 67, ../sass/partials/_dashboard.scss */
.content_header.help_content_header {
  background-color: #FFFFFF;
}
/* line 71, ../sass/partials/_dashboard.scss */
.content_aside .content_header {
  border-bottom: none;
}
/* line 75, ../sass/partials/_dashboard.scss */
.content_header > * {
  vertical-align: middle;
  display: inline-block;
}
/* line 80, ../sass/partials/_dashboard.scss */
.col_panes .content_header {
  background-color: transparent;
  color: inherit;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
/* line 88, ../sass/partials/_dashboard.scss */
.content_header .title {
  font-family: "proxima_nova_regular", Open Sans, sans-serif;
  color: inherit;
  font-size: 12px;
}
/* line 93, ../sass/partials/_dashboard.scss */
.col_panes .content_header .title {
  font-size: 18px;
}
/* line 97, ../sass/partials/_dashboard.scss */
.content_header .title + * {
  float: right;
  padding: 3px 5px;
}
/* line 101, ../sass/partials/_dashboard.scss */
.modal .content_header .title + * {
  padding: 0;
  border-radius: 50%;
}
/* line 106, ../sass/partials/_dashboard.scss */
.content_header .title + *.fa {
  color: #FFFFFF;
  padding: 0;
  font-size: 14px;
}
/* line 114, ../sass/partials/_dashboard.scss */
.content_header .section_title {
  font-size: 23px;
  margin: 0;
  line-height: 1;
}
/* line 120, ../sass/partials/_dashboard.scss */
.content_header.header_primary {
  background-color: #006E48;
  color: #FFFFFF;
}
/* line 125, ../sass/partials/_dashboard.scss */
.content_header.header_secondary {
  background-color: #FDC00F;
  color: #353535;
}
/* line 130, ../sass/partials/_dashboard.scss */
.content_header.header_black {
  background-color: #424242;
}
/* line 134, ../sass/partials/_dashboard.scss */
.content_header a {
  color: inherit;
  border-radius: 15px;
}

/* line 140, ../sass/partials/_dashboard.scss */
.content_body {
  padding: 15px 0;
  position: relative;
  left: 0;
  z-index: 9;
  height: 100%;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  /* Tablets and phablets */
}
/* line 148, ../sass/partials/_dashboard.scss */
.content_body::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -moz-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  -o-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  -webkit-transition: opacity 0.5s, width 0.1s, height 0.1s;
  -webkit-transition-delay: 0s, 0.5s, 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}
/* line 160, ../sass/partials/_dashboard.scss */
.content_body > .container {
  padding: 0;
}
/* line 165, ../sass/partials/_dashboard.scss */
.content_body.fill_block > .container {
  padding: 0 15px;
}
@media only screen and (min-width: 800px) {
  /* line 140, ../sass/partials/_dashboard.scss */
  .content_body {
    z-index: 0;
    position: static;
  }
  /* line 174, ../sass/partials/_dashboard.scss */
  .content_body > .container {
    padding: 0 15px;
  }
}

/* line 180, ../sass/partials/_dashboard.scss */
.main_content {
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 180, ../sass/partials/_dashboard.scss */
  .main_content {
    float: left;
  }
  /* line 183, ../sass/partials/_dashboard.scss */
  .main_content .content_aside {
    width: 33.5%;
  }
  /* line 185, ../sass/partials/_dashboard.scss */
  .main_content .content_aside + .content_main {
    width: 66.5%;
    padding-left: 15px;
  }
}
/* line 192, ../sass/partials/_dashboard.scss */
.main_content .content_wrapper.make_opaq {
  background-color: #f5f5f5;
}

/* line 198, ../sass/partials/_dashboard.scss */
.content_main,
.content_aside {
  /* Tablets and phablets */
}
/* line 200, ../sass/partials/_dashboard.scss */
.content_main > .content_wrapper,
.content_aside > .content_wrapper {
  background-color: #FFFFFF;
  border-radius: 4px;
  position: relative;
}
@media only screen and (min-width: 800px) {
  /* line 198, ../sass/partials/_dashboard.scss */
  .content_main,
  .content_aside {
    float: left;
    height: 100%;
  }
  /* line 208, ../sass/partials/_dashboard.scss */
  .content_main > .content_wrapper,
  .content_aside > .content_wrapper {
    min-height: 600px;
  }
}

/* line 214, ../sass/partials/_dashboard.scss */
.content_aside {
  display: none;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
  /* Tablets and phablets */
}
/* line 218, ../sass/partials/_dashboard.scss */
.content_aside .pane_heading {
  padding: 15px 20px;
  margin-bottom: 0;
  background-color: #f5f5f5;
}
/* line 222, ../sass/partials/_dashboard.scss */
.content_aside .pane_heading > .centered {
  text-align: left;
}
/* line 226, ../sass/partials/_dashboard.scss */
.content_aside .content_wrapper {
  padding: 0 0 30px;
}
/* line 229, ../sass/partials/_dashboard.scss */
.content_aside .pane_widget {
  padding: 0 20px;
}
@media only screen and (min-width: 800px) {
  /* line 214, ../sass/partials/_dashboard.scss */
  .content_aside {
    width: 25%;
    border-bottom: none;
    padding-left: 0;
    display: block;
  }
  /* line 237, ../sass/partials/_dashboard.scss */
  .content_aside + .content_main {
    width: 75%;
  }
}

/* line 243, ../sass/partials/_dashboard.scss */
.subtitle {
  margin: 0;
}

/* line 247, ../sass/partials/_dashboard.scss */
.panel_rendered {
  position: fixed;
  top: 50px;
  bottom: 0;
  width: 270px;
  padding-top: 0;
  border-right: 6px solid #FDC00F;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -moz-transform: translateX(-270px) translateX(6px);
  -ms-transform: translateX(-270px) translateX(6px);
  -webkit-transform: translateX(-270px) translateX(6px);
  transform: translateX(-270px) translateX(6px);
  z-index: 10;
}
/* line 257, ../sass/partials/_dashboard.scss */
.panel_rendered.is_opened {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
/* line 261, ../sass/partials/_dashboard.scss */
.no-js .panel_rendered .panel_handle {
  display: none;
}
/* line 265, ../sass/partials/_dashboard.scss */
.panel_rendered > .content_wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow-y: scroll;
}

/* line 274, ../sass/partials/_dashboard.scss */
.panel_handle {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #FDC00F;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1em;
  line-height: 1;
  padding: .25em .75em;
  position: absolute;
  text-transform: uppercase;
  right: -20px;
  top: 50%;
  bottom: auto;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -moz-transform: rotate(-90deg) translateY(100%) translateX(50%);
  -ms-transform: rotate(-90deg) translateY(100%) translateX(50%);
  -webkit-transform: rotate(-90deg) translateY(100%) translateX(50%);
  transform: rotate(-90deg) translateY(100%) translateX(50%);
  z-index: 3;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 274, ../sass/partials/_dashboard.scss */
  .panel_handle {
    right: -10px;
    display: none;
  }
}

/* line 294, ../sass/partials/_dashboard.scss */
.content_main {
  /* Tablets and phablets */
}
/* line 295, ../sass/partials/_dashboard.scss */
.content_main .content_inner {
  padding: 20px 15px;
  display: block;
}
/* line 298, ../sass/partials/_dashboard.scss */
.timeline_container .content_main .content_inner {
  padding: 0;
  position: relative;
}
@media only screen and (min-width: 800px) {
  /* line 294, ../sass/partials/_dashboard.scss */
  .content_main {
    width: 100%;
  }
  /* line 305, ../sass/partials/_dashboard.scss */
  .content_main .content_inner {
    padding-left: 30px;
    padding-right: 30px;
  }
  /* line 308, ../sass/partials/_dashboard.scss */
  .timeline_container .content_main .content_inner {
    padding: 0 10px;
  }
}

/* line 315, ../sass/partials/_dashboard.scss */
.table {
  margin: 0;
}
/* line 320, ../sass/partials/_dashboard.scss */
.table thead tr th,
.table thead tr td,
.table tbody tr th,
.table tbody tr td {
  vertical-align: middle;
}
/* line 327, ../sass/partials/_dashboard.scss */
.table thead th {
  background-color: #E9EBEE;
}
/* line 330, ../sass/partials/_dashboard.scss */
.table thead > tr > th {
  border-bottom: none;
}

/* line 336, ../sass/partials/_dashboard.scss */
.info_table {
  padding-top: 10px;
}
/* line 338, ../sass/partials/_dashboard.scss */
.info_table th {
  min-width: 100px;
}
/* line 340, ../sass/partials/_dashboard.scss */
.info_table th + th {
  border-left: 1px solid #D0D8DB;
}
/* line 344, ../sass/partials/_dashboard.scss */
.info_table td + td {
  border-left: 1px solid #D0D8DB;
}
/* line 347, ../sass/partials/_dashboard.scss */
.info_table tr {
  background-color: #f5f5f5;
}

/* line 352, ../sass/partials/_dashboard.scss */
.data-table {
  padding: 30px 0;
  width: 100%;
  overflow: auto;
  margin-bottom: 0;
  /* Tablets and phablets */
}
/* line 357, ../sass/partials/_dashboard.scss */
.data-table > .table {
  min-width: 480px;
}
@media only screen and (min-width: 800px) {
  /* line 352, ../sass/partials/_dashboard.scss */
  .data-table {
    overflow: visible;
  }
  /* line 361, ../sass/partials/_dashboard.scss */
  .data-table > .table {
    min-width: 100%;
  }
}
/* line 368, ../sass/partials/_dashboard.scss */
.data-table thead th + th {
  border-left: 1px solid #FFFFFF;
}
/* line 371, ../sass/partials/_dashboard.scss */
.data-table thead th:first-of-type {
  min-width: 120px;
}
/* line 374, ../sass/partials/_dashboard.scss */
.data-table thead th:last-of-type {
  background-color: #006E48;
  text-align: center;
  color: #FFFFFF;
  /* width: 5%; */
}

/* line 384, ../sass/partials/_dashboard.scss */
.pane_item {
  padding-top: 20px;
}
/* line 386, ../sass/partials/_dashboard.scss */
.pane_item .item_title {
  padding-bottom: 7.5px;
}
/* line 389, ../sass/partials/_dashboard.scss */
.pane_item address {
  font-style: normal;
}
/* line 392, ../sass/partials/_dashboard.scss */
.step_wrapper .pane_item {
  padding-top: 10px;
}

/* line 398, ../sass/partials/_dashboard.scss */
.list_pane a {
  color: inherit;
  font-size: 13px;
}
/* line 402, ../sass/partials/_dashboard.scss */
.list_pane + .list_pane {
  padding-top: 30px;
}
/* line 405, ../sass/partials/_dashboard.scss */
.list_pane > .pane_item {
  padding: 0;
}
/* line 407, ../sass/partials/_dashboard.scss */
.list_pane > .pane_item + .pane_item {
  padding-top: 15px;
}
/* line 410, ../sass/partials/_dashboard.scss */
.list_pane > .pane_item > .title {
  border-bottom: 1px solid #D0D8DB;
}
/* line 414, ../sass/partials/_dashboard.scss */
.list_pane .control {
  color: #353535;
  font-size: 18px;
  vertical-align: inherit;
}
/* line 418, ../sass/partials/_dashboard.scss */
.list_pane .control:hover {
  color: #FDC00F;
}
/* line 422, ../sass/partials/_dashboard.scss */
.list_pane .pane_title {
  /* font-size: 18px;
  margin-bottom: 10px; */
  display: inline-block;
}
/* line 427, ../sass/partials/_dashboard.scss */
.list_pane .title {
  margin-top: 0;
  margin-bottom: 7.5px;
  padding-bottom: 7.5px;
}

/* line 434, ../sass/partials/_dashboard.scss */
.list_info {
  display: block;
  clear: both;
  padding: 10px 0;
  position: relative;
}

/* line 441, ../sass/partials/_dashboard.scss */
.user_meta {
  padding-bottom: 5px;
}
/* line 443, ../sass/partials/_dashboard.scss */
.user_meta li {
  display: inline-block;
}
/* line 445, ../sass/partials/_dashboard.scss */
.user_meta li + li::before {
  content: "|";
  color: inherit;
  padding: 0 4px;
}
/* line 451, ../sass/partials/_dashboard.scss */
.user_meta a {
  color: inherit;
  font-weight: bold;
}
/* line 454, ../sass/partials/_dashboard.scss */
.user_meta a:hover {
  color: #006E48;
}
/* line 458, ../sass/partials/_dashboard.scss */
.post_body .user_meta {
  padding-left: 0;
  padding-right: 0;
  list-style: none;
}
/* line 462, ../sass/partials/_dashboard.scss */
.post_body .user_meta li {
  clear: none;
  display: inline-block;
}

/* line 469, ../sass/partials/_dashboard.scss */
.welcome_pane {
  padding: 10px 0;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 469, ../sass/partials/_dashboard.scss */
  .welcome_pane {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* line 477, ../sass/partials/_dashboard.scss */
.dialog_dismiss {
  background-color: black;
  color: #FFFFFF;
  padding: 3px 5px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

/* line 487, ../sass/partials/_dashboard.scss */
.loca_track {
  font-family: "proxima_nova_bold", Open Sans, sans-serif;
  color: #FDC00F;
}
/* line 490, ../sass/partials/_dashboard.scss */
.loca_track + .loca_track::before {
  content: ">>";
  padding: 0 2px;
  color: #FFFFFF;
}

/* line 497, ../sass/partials/_dashboard.scss */
.pane_widgets {
  padding: 15px 0;
}
/* line 499, ../sass/partials/_dashboard.scss */
.user_nav .pane_widgets {
  padding: 20px 20px 20px 0;
}
/* line 502, ../sass/partials/_dashboard.scss */
.side_controls .pane_widgets {
  padding: 10px 0 20px;
}
/* line 505, ../sass/partials/_dashboard.scss */
.pane_widgets .pane_title {
  border-bottom: 1px solid #D0D8DB;
}

/* line 510, ../sass/partials/_dashboard.scss */
.pane_heading {
  padding: 0 20px;
  margin-bottom: 15px;
  position: relative;
}
/* line 514, ../sass/partials/_dashboard.scss */
.pane_heading.main_callout {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 3px #D0D8DB;
}
/* line 520, ../sass/partials/_dashboard.scss */
.content_main .pane_heading {
  margin-bottom: 0;
  border-radius: 0;
}

/* line 526, ../sass/partials/_dashboard.scss */
.title_icon {
  width: 35px;
  height: 35px;
  display: block;
}
/* line 530, ../sass/partials/_dashboard.scss */
.title_icon + .pane_title {
  display: table-cell;
  height: 40px;
  vertical-align: middle;
  padding-bottom: 0;
  font-size: 25px;
  padding-left: 5px;
  line-height: 1;
}

/* line 541, ../sass/partials/_dashboard.scss */
.pane_title {
  margin: 0;
  display: block;
  font-size: 18px;
  line-height: 130%;
  padding-bottom: 10px;
}
/* line 547, ../sass/partials/_dashboard.scss */
.main_callout .pane_title {
  padding-bottom: 0;
  font-size: 20px;
}

/* line 553, ../sass/partials/_dashboard.scss */
.surf_text {
  display: inline-block;
  font-size: .9em;
}
/* line 556, ../sass/partials/_dashboard.scss */
.surf_text::before {
  content: "-";
  padding: 0 4px;
}

/* line 562, ../sass/partials/_dashboard.scss */
.pane_options {
  padding: 0;
}
/* line 564, ../sass/partials/_dashboard.scss */
.pane_options li {
  display: block;
}
/* line 568, ../sass/partials/_dashboard.scss */
.pane_options.user_events .link_wrapper {
  padding: 5px 20px;
}
/* line 571, ../sass/partials/_dashboard.scss */
.pane_options.user_events .active > .link_wrapper,
.pane_options.user_events .link_wrapper:hover {
  background-color: #E9EBEE;
}
/* line 576, ../sass/partials/_dashboard.scss */
.pane_options .tooltip {
  font-size: 11px;
}
/* line 579, ../sass/partials/_dashboard.scss */
.pane_options .option_label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  max-width: 70%;
  color: inherit;
}
/* line 584, ../sass/partials/_dashboard.scss */
.pane_options .active > .link_wrapper,
.pane_options .link_wrapper:hover {
  background-color: #FDC00F;
}
/* line 587, ../sass/partials/_dashboard.scss */
.user_nav .pane_options .active > .link_wrapper, .side_controls .pane_options .active > .link_wrapper, .user_nav
.pane_options .link_wrapper:hover, .side_controls
.pane_options .link_wrapper:hover {
  background-color: #f5f5f5;
}

/* line 594, ../sass/partials/_dashboard.scss */
.link_wrapper {
  display: block;
  padding: 10px 20px;
  color: #353535;
  *zoom: 1;
  position: relative;
}
/* line 38, ../sass/partials/_mixins.scss */
.link_wrapper:before, .link_wrapper:after {
  content: "";
  display: table;
}
/* line 45, ../sass/partials/_mixins.scss */
.link_wrapper:after {
  clear: both;
}
/* line 600, ../sass/partials/_dashboard.scss */
.user_nav .link_wrapper {
  padding: 10px;
}
/* line 603, ../sass/partials/_dashboard.scss */
.side_controls .link_wrapper {
  padding: 7px 20px;
}
/* line 606, ../sass/partials/_dashboard.scss */
.link_wrapper .label {
  float: right;
  font-size: 8.5px;
}
/* line 610, ../sass/partials/_dashboard.scss */
.link_wrapper > * {
  display: inline-block;
}

/* line 617, ../sass/partials/_dashboard.scss */
.nav_link_main.active > a {
  pointer-events: none;
}
/* line 620, ../sass/partials/_dashboard.scss */
.nav_link_main.active .option_label {
  pointer-events: none;
}
/* line 622, ../sass/partials/_dashboard.scss */
.nav_link_main.active .option_label::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 50%;
  bottom: auto;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-top: 20px solid transparent;
  border-right: 15px solid #FDC00F;
  border-bottom: 20px solid transparent;
}
/* line 632, ../sass/partials/_dashboard.scss */
.nav_link_main.active .collapse {
  display: block;
}
/* line 636, ../sass/partials/_dashboard.scss */
.nav_link_main .badge {
  float: right;
}

/* line 641, ../sass/partials/_dashboard.scss */
.link_children {
  display: block;
  background-color: #f5f5f5;
  list-style: none;
  padding: 0;
}
/* line 646, ../sass/partials/_dashboard.scss */
.link_children a {
  color: inherit;
  display: block;
  padding: 10px 20px;
}
/* line 650, ../sass/partials/_dashboard.scss */
.link_children a:hover, .link_children a:focus {
  background-color: #FDC00F;
}
/* line 655, ../sass/partials/_dashboard.scss */
.link_children .active > a {
  background-color: #424242;
  color: #FFFFFF;
  pointer-events: none;
}
/* line 659, ../sass/partials/_dashboard.scss */
.link_children .active > a .badge {
  background-color: #FDC00F;
}

/* line 665, ../sass/partials/_dashboard.scss */
.option_icon {
  float: right;
  width: 20px;
  height: 20px;
  font-size: 1em;
  line-height: 20px;
  border-radius: 3px;
  background-color: #006E48;
  color: #FFFFFF;
  text-align: center;
  background-size: cover;
}
/* line 676, ../sass/partials/_dashboard.scss */
.link_inactive .option_icon {
  background-color: #D0D8DB;
  color: #353535;
}

/* line 682, ../sass/partials/_dashboard.scss */
.content_control {
  padding: 15px 0;
  border-bottom: 1px solid #D0D8DB;
}
/* line 685, ../sass/partials/_dashboard.scss */
.content_main .content_control {
  padding-top: 0;
  border: none;
}
/* line 689, ../sass/partials/_dashboard.scss */
.content_control > .pane_title {
  font-size: 16px;
  text-align: center;
}
/* line 693, ../sass/partials/_dashboard.scss */
.aside_content .content_control {
  border-bottom: none;
}
/* line 695, ../sass/partials/_dashboard.scss */
.aside_content .content_control .dropdown {
  padding: 0 20px;
}
/* line 698, ../sass/partials/_dashboard.scss */
.aside_content .content_control .dropdown-menu {
  width: 100%;
}
/* line 702, ../sass/partials/_dashboard.scss */
.content_control .context_switch {
  background-color: #424242;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 10px 15px;
  display: block;
}
/* line 708, ../sass/partials/_dashboard.scss */
.content_control .context_switch:hover, .content_control .context_switch:focus {
  background-color: #959595;
}

/* line 715, ../sass/partials/_dashboard.scss */
.side_controls {
  padding: 30px 0 0;
}
/* line 717, ../sass/partials/_dashboard.scss */
.side_controls + .side_controls {
  padding-top: 0;
}
/* line 720, ../sass/partials/_dashboard.scss */
.side_controls > .control_title {
  margin: 0;
  background: #006E48;
  color: #FFFFFF;
  font-size: 1em;
  padding: 10px 20px;
  font-family: "proxima_nova_regular", Open Sans, sans-serif;
}
/* line 728, ../sass/partials/_dashboard.scss */
.side_controls .content_header {
  padding-bottom: 10px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 728, ../sass/partials/_dashboard.scss */
  .side_controls .content_header {
    padding: 5px 20px;
  }
}
/* line 733, ../sass/partials/_dashboard.scss */
.side_controls .content_header a {
  border-radius: 15px;
}
/* line 737, ../sass/partials/_dashboard.scss */
.side_controls .panel-group {
  padding: 20px;
}
/* line 739, ../sass/partials/_dashboard.scss */
.modal .side_controls .panel-group {
  padding: 10px 0;
}

/* line 746, ../sass/partials/_dashboard.scss */
.profile_img .user_avartar {
  text-align: center;
}
/* line 749, ../sass/partials/_dashboard.scss */
.profile_img .title {
  font-size: 32px;
  margin-bottom: 0;
}

/* line 758, ../sass/partials/_dashboard.scss */
.profile_area .user_content > .content_wrapper,
.profile_area .user_nav > .content_wrapper {
  padding: 15px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 758, ../sass/partials/_dashboard.scss */
  .profile_area .user_content > .content_wrapper,
  .profile_area .user_nav > .content_wrapper {
    padding: 30px 15px 20px;
  }
}
/* line 765, ../sass/partials/_dashboard.scss */
.profile_area .user_content {
  padding: 0;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 765, ../sass/partials/_dashboard.scss */
  .profile_area .user_content {
    padding-left: 20px;
  }
}
/* line 771, ../sass/partials/_dashboard.scss */
.profile_area .title {
  position: relative;
}
/* line 774, ../sass/partials/_dashboard.scss */
.profile_area .sec_icon {
  position: absolute;
  right: 10px;
  top: -50%;
}

/* line 781, ../sass/partials/_dashboard.scss */
.call_out_header {
  display: block;
  background-color: #424242;
  color: #FFFFFF;
  padding: 10px 15px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 781, ../sass/partials/_dashboard.scss */
  .call_out_header {
    padding-left: 30px;
    padding-right: 30px;
  }
}
/* line 790, ../sass/partials/_dashboard.scss */
.call_out_header > .pane_header {
  display: block;
  *zoom: 1;
  padding: 0 0 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #959595;
}
/* line 38, ../sass/partials/_mixins.scss */
.call_out_header > .pane_header:before, .call_out_header > .pane_header:after {
  content: "";
  display: table;
}
/* line 45, ../sass/partials/_mixins.scss */
.call_out_header > .pane_header:after {
  clear: both;
}
/* line 797, ../sass/partials/_dashboard.scss */
.call_out_header .call_out_title {
  font-family: "proxima_nova_regular", Open Sans, sans-serif;
  margin: 0;
}
/* line 801, ../sass/partials/_dashboard.scss */
.call_out_header .call_out_right,
.call_out_header .call_out_left {
  margin: 5px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 801, ../sass/partials/_dashboard.scss */
  .call_out_header .call_out_right,
  .call_out_header .call_out_left {
    margin: 0;
    display: inline-block;
  }
}
/* line 809, ../sass/partials/_dashboard.scss */
.call_out_header .call_out_left {
  max-width: 400px;
}
/* line 812, ../sass/partials/_dashboard.scss */
.call_out_header .call_out_right {
  float: right;
}

/* line 817, ../sass/partials/_dashboard.scss */
.action_tiles {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin: 0 -5px;
  padding: 10px 0 30px;
}

/* line 825, ../sass/partials/_dashboard.scss */
.action_item {
  padding: 5px;
  border-radius: 4px;
  width: 50%;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 825, ../sass/partials/_dashboard.scss */
  .action_item {
    width: 25%;
  }
}
/* line 832, ../sass/partials/_dashboard.scss */
.action_item .wrapper {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px;
}

/* line 840, ../sass/partials/_dashboard.scss */
.act_banner {
  display: block;
  margin: auto;
}

/* line 845, ../sass/partials/_dashboard.scss */
.act_count {
  display: block;
  font-size: 25px;
  padding-bottom: 7.5px;
}

/* line 851, ../sass/partials/_dashboard.scss */
.act_label {
  font-size: 13.5px;
}

/* line 2, ../sass/partials/_media-layout.scss */
.media_item {
  display: block;
  *zoom: 1;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 1px solid #D0D8DB;
}
/* line 38, ../sass/partials/_mixins.scss */
.media_item:before, .media_item:after {
  content: "";
  display: table;
}
/* line 45, ../sass/partials/_mixins.scss */
.media_item:after {
  clear: both;
}
/* line 9, ../sass/partials/_media-layout.scss */
.media_item .media_image, .media_item .media_body {
  display: table-cell;
  vertical-align: top;
}

/* line 15, ../sass/partials/_media-layout.scss */
.media-list {
  padding: 10px 0 30px;
}

/* line 19, ../sass/partials/_media-layout.scss */
.media_control {
  float: right;
}

/* line 23, ../sass/partials/_media-layout.scss */
.media_uploader {
  *zoom: 1;
}
/* line 38, ../sass/partials/_mixins.scss */
.media_uploader:before, .media_uploader:after {
  content: "";
  display: table;
}
/* line 45, ../sass/partials/_mixins.scss */
.media_uploader:after {
  clear: both;
}
/* line 26, ../sass/partials/_media-layout.scss */
.media_uploader .media_item {
  border: none;
  display: inline-block;
  padding: 0;
}
/* line 31, ../sass/partials/_media-layout.scss */
.media_uploader .media_item.media_large {
  width: 63%;
}
/* line 35, ../sass/partials/_media-layout.scss */
.media_uploader .media_item.media_small + .media_large {
  float: right;
}

/* line 41, ../sass/partials/_media-layout.scss */
.media_thumb {
  position: relative;
  background-color: #E9EBEE;
  overflow: hidden;
  margin-bottom: 10px;
}
/* line 47, ../sass/partials/_media-layout.scss */
.media_thumb.thumb_circle {
  border-radius: 50%;
}
/* line 51, ../sass/partials/_media-layout.scss */
.media_thumb img {
  width: 100%;
  height: 100%;
}
/* line 56, ../sass/partials/_media-layout.scss */
.media_small .media_thumb {
  width: 100px;
  height: 100px;
  /* Mobile devices */
}
@media only screen and (min-width: 480px) {
  /* line 56, ../sass/partials/_media-layout.scss */
  .media_small .media_thumb {
    width: 128px;
    height: 128px;
  }
}
/* line 66, ../sass/partials/_media-layout.scss */
.media_large .media_thumb {
  width: 100%;
  height: 100px;
  /* Mobile devices */
}
@media only screen and (min-width: 480px) {
  /* line 66, ../sass/partials/_media-layout.scss */
  .media_large .media_thumb {
    height: 128px;
  }
}

/* line 76, ../sass/partials/_media-layout.scss */
.toasts {
  border-bottom: 1px solid #D0D8DB;
}
/* line 79, ../sass/partials/_media-layout.scss */
.toasts .item_wrapper {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
/* line 85, ../sass/partials/_media-layout.scss */
.toasts .pane_title {
  padding-bottom: 5px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
/* line 90, ../sass/partials/_media-layout.scss */
.toasts .pane_title:hover {
  white-space: normal;
  text-overflow: inherit;
}
/* line 96, ../sass/partials/_media-layout.scss */
.toasts a:hover, .toasts:focus {
  color: #006E48;
}
/* line 100, ../sass/partials/_media-layout.scss */
.toasts .toast_action {
  width: 20%;
  text-align: right;
}
/* line 106, ../sass/partials/_media-layout.scss */
.toasts span + time::before {
  content: ",";
  padding-right: 2px;
}
/* line 113, ../sass/partials/_media-layout.scss */
.toasts.toast_grid .toast_label {
  width: 80%;
}
/* line 118, ../sass/partials/_media-layout.scss */
.toasts .toast_label {
  overflow: hidden;
  color: inherit;
}

/* line 124, ../sass/partials/_media-layout.scss */
.toast_grey {
  background-color: #E9EBEE;
  border-bottom: none;
  margin-bottom: 5px;
}
/* line 129, ../sass/partials/_media-layout.scss */
.toast_grey .item_wrapper {
  padding: 10px;
}

/* line 134, ../sass/partials/_media-layout.scss */
.toast_msg {
  border: none;
  padding: 5px 0;
}
/* line 138, ../sass/partials/_media-layout.scss */
.toast_msg .item_wrapper {
  border-left: 6px solid #D0D8DB;
  background-color: #f5f5f5;
  padding-left: 10px;
}
/* line 145, ../sass/partials/_media-layout.scss */
.toast_msg.unread .item_wrapper {
  border-left-color: #FDC00F;
}

/* line 151, ../sass/partials/_media-layout.scss */
.post_media {
  clear: both;
}
/* line 154, ../sass/partials/_media-layout.scss */
.post_media .media_wrapper {
  padding: 10px 0;
}

/* line 159, ../sass/partials/_media-layout.scss */
.media_wrapper {
  *zoom: 1;
  display: block;
}
/* line 38, ../sass/partials/_mixins.scss */
.media_wrapper:before, .media_wrapper:after {
  content: "";
  display: table;
}
/* line 45, ../sass/partials/_mixins.scss */
.media_wrapper:after {
  clear: both;
}
/* line 163, ../sass/partials/_media-layout.scss */
.media_wrapper .media_image, .media_wrapper .media_body {
  display: inline-block;
  vertical-align: top;
  float: left;
}
/* line 168, ../sass/partials/_media-layout.scss */
.toasts .media_wrapper .media_image, .toasts .media_wrapper .media_body {
  vertical-align: middle;
  display: table-cell;
  float: none;
}
/* line 175, ../sass/partials/_media-layout.scss */
.media_wrapper:hover {
  text-decoration: underline;
}

/* line 180, ../sass/partials/_media-layout.scss */
.media_header {
  *zoom: 1;
  padding-bottom: 10px;
}
/* line 38, ../sass/partials/_mixins.scss */
.media_header:before, .media_header:after {
  content: "";
  display: table;
}
/* line 45, ../sass/partials/_mixins.scss */
.media_header:after {
  clear: both;
}
/* line 184, ../sass/partials/_media-layout.scss */
.media_header > * {
  display: inline-block;
  vertical-align: -15px;
}

/* line 190, ../sass/partials/_media-layout.scss */
.media-title {
  font-family: "proxima_nova_regular", Open Sans, sans-serif;
  font-weight: 600;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  max-width: 65%;
  font-size: 13.5px;
  /* Mobile devices */
}
/* line 198, ../sass/partials/_media-layout.scss */
.media-title:hover {
  text-decoration: underline;
}
@media only screen and (min-width: 480px) {
  /* line 190, ../sass/partials/_media-layout.scss */
  .media-title {
    font-weight: 500;
    max-width: 75%;
    font-size: 20px;
  }
}

/* line 209, ../sass/partials/_media-layout.scss */
.media_image {
  height: 60px;
  width: 60px;
  background-color: #607680;
  max-width: 360px;
  padding-right: 10px;
  border-radius: 4px;
}
/* line 217, ../sass/partials/_media-layout.scss */
.media_image a {
  display: block;
}
/* line 221, ../sass/partials/_media-layout.scss */
.media_image.card_image a {
  height: 100%;
}

/* line 226, ../sass/partials/_media-layout.scss */
.media_body {
  padding-left: 10px;
  width: 170px;
}
/* line 230, ../sass/partials/_media-layout.scss */
.media_body .title {
  font-size: 12px;
  margin: 0 0 10px;
  font-family: "proxima_nova_bold", Open Sans, sans-serif;
}

/* line 237, ../sass/partials/_media-layout.scss */
.info_layout {
  padding: 10px 0 5px;
  position: relative;
  clear: both;
}

/* line 243, ../sass/partials/_media-layout.scss */
.img_info_layout {
  position: relative;
  padding: 15px 0;
}
/* line 247, ../sass/partials/_media-layout.scss */
.img_info_layout.size_xs {
  min-height: 40px;
}
/* line 251, ../sass/partials/_media-layout.scss */
.img_info_layout.size_small {
  min-height: 90px;
}
/* line 255, ../sass/partials/_media-layout.scss */
.img_info_layout.size_large {
  min-height: 130px;
}
/* line 259, ../sass/partials/_media-layout.scss */
.img_info_layout.size_xl {
  /* Mobile devices */
  /* Tablets and phablets */
}
@media only screen and (min-width: 480px) {
  /* line 259, ../sass/partials/_media-layout.scss */
  .img_info_layout.size_xl {
    min-height: 170px;
  }
}
@media only screen and (min-width: 800px) {
  /* line 259, ../sass/partials/_media-layout.scss */
  .img_info_layout.size_xl {
    min-height: 270px;
  }
}

/* line 272, ../sass/partials/_media-layout.scss */
.size_xs .info_image {
  width: 40px;
  height: 40px;
  background-color: #E9EBEE;
  text-align: center;
  line-height: 40px;
}
/* line 280, ../sass/partials/_media-layout.scss */
.size_xs .info_img_wrapper + .info_details_wrapper {
  padding-left: 50px;
}

/* line 286, ../sass/partials/_media-layout.scss */
.size_small .info_image, .size_small img {
  width: 60px;
  height: 60px;
}
/* line 291, ../sass/partials/_media-layout.scss */
.size_small .info_img_wrapper + .info_details_wrapper {
  padding-left: 70px;
}

/* line 297, ../sass/partials/_media-layout.scss */
.size_large .info_image, .size_large img {
  width: 100px;
  height: 100px;
}
/* line 302, ../sass/partials/_media-layout.scss */
.size_large .info_img_wrapper + .info_details_wrapper {
  padding-left: 110px;
}

/* line 307, ../sass/partials/_media-layout.scss */
.info_img_wrapper {
  position: absolute;
  top: 15px;
  left: 0;
}
/* line 312, ../sass/partials/_media-layout.scss */
.info_img_wrapper .info_image {
  position: relative;
}
/* line 315, ../sass/partials/_media-layout.scss */
.info_img_wrapper .info_image.image_circle {
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  overflow: hidden;
}
/* line 322, ../sass/partials/_media-layout.scss */
.size_xs .info_img_wrapper {
  left: 20px;
}

/* line 327, ../sass/partials/_media-layout.scss */
.info_details_wrapper {
  display: block;
}

/* line 331, ../sass/partials/_media-layout.scss */
.info_meta {
  margin-top: 15px;
}
/* line 334, ../sass/partials/_media-layout.scss */
.info_meta .fa {
  color: #959595;
}
/* line 336, ../sass/partials/_media-layout.scss */
.context_banner .info_meta .fa {
  color: #E9EBEE;
}
/* line 341, ../sass/partials/_media-layout.scss */
.info_meta .meta_tags {
  padding-bottom: 0;
}
/* line 345, ../sass/partials/_media-layout.scss */
.info_meta > * + * {
  margin-top: 5px;
}

/* line 350, ../sass/partials/_media-layout.scss */
.info_header {
  margin-bottom: 5px;
}
/* line 353, ../sass/partials/_media-layout.scss */
.info_header .meta_tag {
  vertical-align: top;
  padding: 3px 8px;
}

/* line 359, ../sass/partials/_media-layout.scss */
.info_title {
  font-size: 14px;
  /* Mobile devices */
}
@media only screen and (min-width: 480px) {
  /* line 359, ../sass/partials/_media-layout.scss */
  .info_title {
    font-size: 20px;
  }
  /* line 365, ../sass/partials/_media-layout.scss */
  .context_banner .info_title {
    font-size: 22px;
  }
}
/* line 370, ../sass/partials/_media-layout.scss */
.size_xs .info_title {
  font-size: 14px;
  /* Mobile devices */
}
@media only screen and (min-width: 480px) {
  /* line 370, ../sass/partials/_media-layout.scss */
  .size_xs .info_title {
    font-size: 16px;
  }
}

/* line 379, ../sass/partials/_media-layout.scss */
.info_text {
  margin: 0;
}
/* line 382, ../sass/partials/_media-layout.scss */
.info_text + * {
  padding-top: 5px;
}

/* line 387, ../sass/partials/_media-layout.scss */
.info_details {
  /* Tablets and phablets */
}
/* line 388, ../sass/partials/_media-layout.scss */
.info_details .info_title, .info_details .info_text {
  color: inherit;
}
/* line 392, ../sass/partials/_media-layout.scss */
.info_details .info_text {
  padding-bottom: 15px;
}
@media only screen and (min-width: 800px) {
  /* line 387, ../sass/partials/_media-layout.scss */
  .info_details {
    padding-top: 20px;
  }
  /* line 399, ../sass/partials/_media-layout.scss */
  .info_details .info_text {
    font-size: 16px;
  }
}
