@font-face {
  font-family: 'proxima_nova_bold';
  src: url("../fonts/proxima_nova_bold/ProximaNova-Bold.eot");
  src: url("../fonts/proxima_nova_bold/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova_bold/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/proxima_nova_bold/ProximaNova-Bold.woff") format("woff"), url("../fonts/proxima_nova_bold/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/proxima_nova_bold/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_regular';
  src: url("../fonts/proxima_nova_regular/ProximaNova-Regular.eot");
  src: url("../fonts/proxima_nova_regular/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova_regular/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/proxima_nova_regular/ProximaNova-Regular.woff") format("woff"), url("../fonts/proxima_nova_regular/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/proxima_nova_regular/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@-webkit-keyframes pulse {
  from {
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -moz-transform: scale3d(1.05, 1.05, 1.05);
    -ms-transform: scale3d(1.05, 1.05, 1.05);
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -moz-transform: scale3d(1.05, 1.05, 1.05);
    -ms-transform: scale3d(1.05, 1.05, 1.05);
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/* line 1, ../sass/partials/_signup.scss */
.signup_hero_1 {
  background-color: rgba(200, 170, 0, 0.9);
  background-image: url(../img/banners/success_banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-blend-mode: overlay;
  transition: all 0.3s ease;
}

/* line 11, ../sass/partials/_signup.scss */
.signup_hero_2 {
  background-color: rgba(0, 100, 0, 0.9);
  background-image: url(../img/banners/cv_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-blend-mode: overlay;
  transition: all 0.3s ease;
}

/*
*
*Headers BEGIN
*
*/
/* line 27, ../sass/partials/_signup.scss */
.header-sm {
  margin: 10px 0 10px;
}

/* line 31, ../sass/partials/_signup.scss */
.header-md {
  margin: 20px 0 10px;
}

/* line 35, ../sass/partials/_signup.scss */
.header-md-bottom {
  margin: 0px 0 20px;
}

/* line 39, ../sass/partials/_signup.scss */
.header-lg {
  margin: 30px 0 60px;
}

/* line 43, ../sass/partials/_signup.scss */
.header-section-basic {
  padding: 10px 20px 10px;
}

/* line 47, ../sass/partials/_signup.scss */
.header-section {
  padding: 40px 0 40px;
  margin-bottom: 15px;
}

/* line 52, ../sass/partials/_signup.scss */
.header-section-md {
  padding: 20px 0 20px;
  margin-bottom: 10px;
}

/* line 57, ../sass/partials/_signup.scss */
.side-padding-sm {
  padding-left: 5px;
  padding-right: 5px;
}

/* line 62, ../sass/partials/_signup.scss */
.side-padding-md {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 67, ../sass/partials/_signup.scss */
.side-padding-lg {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 72, ../sass/partials/_signup.scss */
.side-padding-xlg {
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 72, ../sass/partials/_signup.scss */
  .side-padding-xlg {
    padding-left: 60px;
    padding-right: 60px;
  }
}

/* line 79, ../sass/partials/_signup.scss */
.basic-container-md {
  padding: 5px 10px 20px;
}

/* line 83, ../sass/partials/_signup.scss */
.basic-container-lg {
  padding: 10px 40px 40px;
}

/* line 87, ../sass/partials/_signup.scss */
.form-container {
  padding: 60px 40px 40px;
}

/* line 91, ../sass/partials/_signup.scss */
.fixed-height {
  min-height: 640px;
}

/* line 95, ../sass/partials/_signup.scss */
.signup-header {
  display: inline-block;
  padding: 8px 20px;
  margin-bottom: 10px;
}

/*
*
*Headers END
*
*/
/*
*
* Titles BEGIN
*
*/
/* line 113, ../sass/partials/_signup.scss */
.title-sm {
  font-size: 1.2em;
  padding-bottom: 3px;
}

/* line 118, ../sass/partials/_signup.scss */
.subtitle-sm {
  font-size: 1.1em;
  padding: 0px 5px;
}

/* line 123, ../sass/partials/_signup.scss */
.title-md {
  font-size: 1.5em;
}

/* line 127, ../sass/partials/_signup.scss */
.subtitle-md {
  font-size: 1.2em;
}

/* line 131, ../sass/partials/_signup.scss */
.title-lg {
  font-size: 1.8em;
}

/* line 135, ../sass/partials/_signup.scss */
.subtitle-lg {
  font-size: 1.5em;
  padding: 3px 0px;
}

/*
*
* Titles END
*
*/
/*
*
* Typography BEGIN
*
*/
/* line 152, ../sass/partials/_signup.scss */
.txt-xlg {
  font-size: 1.4em;
}

/* line 156, ../sass/partials/_signup.scss */
.txt-lg {
  font-size: 1.1em;
}

/* line 160, ../sass/partials/_signup.scss */
.txt-normal {
  font-size: 1em;
}

/* line 164, ../sass/partials/_signup.scss */
.txt-sm {
  font-size: 0.8em;
}

/* line 168, ../sass/partials/_signup.scss */
.txt-xs {
  font-size: 0.7em;
}

/* line 172, ../sass/partials/_signup.scss */
.txt-xxs {
  font-size: 0.6em;
}

/*
*
* Typography BEGIN
*
*/
/* line 183, ../sass/partials/_signup.scss */
.fixed-form-section {
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 183, ../sass/partials/_signup.scss */
  .fixed-form-section {
    position: fixed;
    left: 75%;
    bottom: 0;
    top: 45px;
    overflow-y: scroll;
  }
}
/* line 193, ../sass/partials/_signup.scss */
.fixed-form-section .absolute-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* line 200, ../sass/partials/_signup.scss */
p {
  line-height: 1.5em;
}

/* line 204, ../sass/partials/_signup.scss */
.site_logo {
  max-width: 180px;
  padding: 40px 0px;
}

/* line 209, ../sass/partials/_signup.scss */
.line {
  height: 10px;
}

/* line 213, ../sass/partials/_signup.scss */
.active_link_header {
  padding-bottom: 10px;
  border-bottom: 2px solid #128A4B;
  transition: border-color 0.6s ease;
}

/* line 219, ../sass/partials/_signup.scss */
.white-bg {
  background-color: white;
}

/* line 223, ../sass/partials/_signup.scss */
.active_link_pane {
  background-color: #f2A416;
}

/* line 227, ../sass/partials/_signup.scss */
.form_icon {
  max-width: 80px;
}

/* line 231, ../sass/partials/_signup.scss */
.header_icon {
  max-width: 25px;
  margin: 0 auto;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 231, ../sass/partials/_signup.scss */
  .header_icon {
    margin-right: 10px;
  }
}

/* line 240, ../sass/partials/_signup.scss */
.mobile-center {
  margin: 0 auto;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 240, ../sass/partials/_signup.scss */
  .mobile-center {
    margin: inherit;
  }
}

/* line 247, ../sass/partials/_signup.scss */
.radio label, .checkbox label {
  padding-left: 20px;
}

/* line 251, ../sass/partials/_signup.scss */
.inline-icon {
  float: left;
  margin-right: 10px;
}
