@font-face {
  font-family: 'proxima_nova_bold';
  src: url("../fonts/proxima_nova_bold/ProximaNova-Bold.eot");
  src: url("../fonts/proxima_nova_bold/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova_bold/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/proxima_nova_bold/ProximaNova-Bold.woff") format("woff"), url("../fonts/proxima_nova_bold/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/proxima_nova_bold/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_regular';
  src: url("../fonts/proxima_nova_regular/ProximaNova-Regular.eot");
  src: url("../fonts/proxima_nova_regular/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova_regular/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/proxima_nova_regular/ProximaNova-Regular.woff") format("woff"), url("../fonts/proxima_nova_regular/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/proxima_nova_regular/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@-webkit-keyframes pulse {
  from {
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -moz-transform: scale3d(1.05, 1.05, 1.05);
    -ms-transform: scale3d(1.05, 1.05, 1.05);
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -moz-transform: scale3d(1.05, 1.05, 1.05);
    -ms-transform: scale3d(1.05, 1.05, 1.05);
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/* line 2, ../sass/partials/_base.scss */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 6, ../sass/partials/_base.scss */
html {
  font-size: 62.5%;
  height: 100%;
}

/* line 11, ../sass/partials/_base.scss */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 17, ../sass/partials/_base.scss */
img {
  max-width: 100%;
  height: auto;
}
/* line 21, ../sass/partials/_base.scss */
.image_circle img, img.image_circle {
  border-radius: 50%;
}

/* line 26, ../sass/partials/_base.scss */
.text-center {
  text-align: center;
}

/* line 30, ../sass/partials/_base.scss */
.text-right {
  text-align: right !important;
}

/* line 34, ../sass/partials/_base.scss */
.text-left {
  text-align: left !important;
}

/* line 38, ../sass/partials/_base.scss */
body {
  font-family: "proxima_nova_regular", Open Sans, sans-serif;
  color: #353535;
  font-size: 12px;
  word-spacing: .5px;
  letter-spacing: .5px;
  line-height: 1.25;
  font-weight: 400;
  position: relative;
  /* Tablets and phablets */
}
/* line 48, ../sass/partials/_base.scss */
body.loading, body.overflow-hidden, body.onBoard_user {
  overflow: hidden;
}
@media only screen and (min-width: 800px) {
  /* line 38, ../sass/partials/_base.scss */
  body {
    padding-top: 50px;
  }
}
/* line 57, ../sass/partials/_base.scss */
body ul,
body ol {
  padding: 0;
  margin: 0;
}

/* line 64, ../sass/partials/_base.scss */
.narrow_container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

/* line 71, ../sass/partials/_base.scss */
.container_padded {
  padding: 0 15px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 75, ../sass/partials/_base.scss */
  .featureHero .container_padded {
    padding: 0;
  }
}

/* line 81, ../sass/partials/_base.scss */
.container {
  /* Tablets and phablets */
}
/* line 82, ../sass/partials/_base.scss */
.container.timeline_container {
  padding: 0;
}
@media only screen and (min-width: 800px) {
  /* line 81, ../sass/partials/_base.scss */
  .container {
    width: auto;
    max-width: 1170px;
  }
}

/* line 91, ../sass/partials/_base.scss */
.sd-main-content {
  position: relative;
  width: 100%;
  min-height: 400px;
  /* Tablets and phablets */
  /* Landscape tablets and desktop or laptops */
}
/* line 96, ../sass/partials/_base.scss */
.sd-main-content.admin_content {
  background-color: #E9EBEE;
}
/* line 100, ../sass/partials/_base.scss */
.sd-main-content.st-menu-open::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: block;
  position: fixed;
  opacity: 1;
  z-index: 5;
  height: 100%;
  width: 100%;
}
/* line 113, ../sass/partials/_base.scss */
.sd-main-content::before {
  /* never visible - used to check MQ in jQuery */
  display: none;
  content: 'mobile';
}
@media only screen and (min-width: 800px) {
  /* line 119, ../sass/partials/_base.scss */
  .sd-main-content > .content_header {
    padding: 28px;
  }
  /* line 122, ../sass/partials/_base.scss */
  .sd-main-content::before {
    /* never visible - used to check MQ in jQuery */
    content: 'tablet';
  }
}
@media only screen and (min-width: 992px) {
  /* line 128, ../sass/partials/_base.scss */
  .sd-main-content::before {
    /* never visible - used to check MQ in jQuery */
    content: 'desktop';
  }
}

/* line 135, ../sass/partials/_base.scss */
.flex_header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 141, ../sass/partials/_base.scss */
.bracket_enclosure {
  font-family: "proxima_nova_regular", Open Sans, sans-serif;
  font-size: .8em;
  text-transform: none;
  font-style: normal;
}
/* line 147, ../sass/partials/_base.scss */
.toasts .bracket_enclosure {
  font-size: 1em;
  font-weight: 600;
}
/* line 151, ../sass/partials/_base.scss */
.bracket_enclosure::before, .bracket_enclosure::after {
  padding: 0 1px;
}
/* line 155, ../sass/partials/_base.scss */
.bracket_enclosure::before {
  content: "(";
}
/* line 158, ../sass/partials/_base.scss */
.bracket_enclosure::after {
  content: ")";
}

/* line 163, ../sass/partials/_base.scss */
.divider {
  display: inline-block;
  height: 2px;
  width: 70px;
  margin: .5em auto;
  background-color: #D0D8DB;
}

/* line 171, ../sass/partials/_base.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "proxima_nova_bold", Open Sans, sans-serif;
  font-weight: normal;
  margin: 0;
}
/* line 180, ../sass/partials/_base.scss */
.post_body h1, .post_body
h2, .post_body
h3, .post_body
h4, .post_body
h5, .post_body
h6 {
  margin: 20px 0 10px;
  font-family: "proxima_nova_regular", Open Sans, sans-serif;
}

/* line 186, ../sass/partials/_base.scss */
h1 {
  font-size: 28px;
}

/* line 190, ../sass/partials/_base.scss */
h2 {
  font-size: 24px;
}
/* line 192, ../sass/partials/_base.scss */
.legal_prose h2 {
  padding: 30px 0 20px;
  text-transform: uppercase;
}

/* line 198, ../sass/partials/_base.scss */
h3 {
  font-size: 20px;
}
/* line 200, ../sass/partials/_base.scss */
.legal_prose h3 {
  padding: 15px 0 5px;
  font-size: 1.4em;
  font-family: "proxima_nova_regular", Open Sans, sans-serif;
}

/* line 207, ../sass/partials/_base.scss */
h4 {
  font-size: 18px;
}

/* line 211, ../sass/partials/_base.scss */
h5 {
  font-size: 16px;
}

/* line 215, ../sass/partials/_base.scss */
h6 {
  font-size: 14.5px;
}

/* line 219, ../sass/partials/_base.scss */
p {
  margin: 0;
}
/* line 221, ../sass/partials/_base.scss */
p + p {
  margin-top: 8.5px;
}
/* line 224, ../sass/partials/_base.scss */
p a {
  text-decoration: underline;
}
/* line 227, ../sass/partials/_base.scss */
p em {
  font-weight: bold;
  font-style: italic;
}
/* line 230, ../sass/partials/_base.scss */
p em sup {
  color: #F91018;
}

/* line 236, ../sass/partials/_base.scss */
.centered {
  float: none;
  margin: 0 auto;
  display: table;
  text-align: center;
}

/* line 243, ../sass/partials/_base.scss */
.input-group-addon {
  background: #607680;
  color: #FFFFFF;
  font-family: "proxima_nova_regular", Open Sans, sans-serif;
  font-size: .9em;
  padding: 6px 15px;
}
/* line 249, ../sass/partials/_base.scss */
.input-group-addon .checkbox-inline {
  margin: 0;
}
/* line 253, ../sass/partials/_base.scss */
.input-group-addon select {
  background-color: inherit;
  border: none;
  font-size: 12px;
}

/* line 260, ../sass/partials/_base.scss */
.input-group-btn {
  font-size: 1em;
}
/* line 262, ../sass/partials/_base.scss */
.input-group-btn .btn {
  vertical-align: top;
  margin: 0;
}

/* line 268, ../sass/partials/_base.scss */
.input-group {
  z-index: 1;
}
/* line 270, ../sass/partials/_base.scss */
.input-group .btn {
  padding: 9.5px 10px;
}
/* line 273, ../sass/partials/_base.scss */
.input-group + .input-group {
  margin-top: 1em;
}

/* Form Elements */
/* line 279, ../sass/partials/_base.scss */
.form-horizontal {
  *zoom: 1;
  /* Tablets and phablets */
}
/* line 40, ../sass/partials/_mixins.scss */
.form-horizontal:before, .form-horizontal:after {
  content: "";
  display: table;
}
/* line 47, ../sass/partials/_mixins.scss */
.form-horizontal:after {
  clear: both;
}
/* line 281, ../sass/partials/_base.scss */
.form-horizontal .control-label {
  padding: 5px 0;
}
@media only screen and (min-width: 800px) {
  /* line 279, ../sass/partials/_base.scss */
  .form-horizontal {
    margin-bottom: 1em;
  }
}

/* line 289, ../sass/partials/_base.scss */
.control-label {
  font-family: "proxima_nova_bold", Open Sans, sans-serif;
  font-size: 14px;
}
/* line 292, ../sass/partials/_base.scss */
.control-label small {
  font-size: .9em;
  font-family: "proxima_nova_regular", Open Sans, sans-serif;
}
/* line 295, ../sass/partials/_base.scss */
.control-label small::before, .control-label small::after {
  padding: 0 2px;
}
/* line 299, ../sass/partials/_base.scss */
.control-label small::after {
  content: ")";
}
/* line 302, ../sass/partials/_base.scss */
.control-label small::before {
  content: "(";
}

/* line 309, ../sass/partials/_base.scss */
fieldset + fieldset {
  padding-top: 15px;
}

/* line 314, ../sass/partials/_base.scss */
.form-title {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

/* line 320, ../sass/partials/_base.scss */
.form-group {
  position: relative;
}
/* line 323, ../sass/partials/_base.scss */
.form-group.form_mng {
  max-width: 320px;
}
/* line 327, ../sass/partials/_base.scss */
.form-group[class*="col-"] {
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 327, ../sass/partials/_base.scss */
  .form-group[class*="col-"] {
    margin: 0;
  }
  /* line 330, ../sass/partials/_base.scss */
  .form-group[class*="col-"]:first-of-type {
    padding-right: 7.5px;
    padding-left: 0;
  }
  /* line 334, ../sass/partials/_base.scss */
  .form-group[class*="col-"]:last-of-type {
    padding-left: 7.5px;
    padding-right: 0;
  }
}
/* line 341, ../sass/partials/_base.scss */
.form-group[class*="col-xs"] {
  /* Tablets and phablets */
}
/* line 343, ../sass/partials/_base.scss */
.form-group[class*="col-xs"]:first-of-type {
  padding-right: 7.5px;
  padding-left: 0;
}
/* line 348, ../sass/partials/_base.scss */
.form-group[class*="col-xs"]:last-of-type {
  padding-left: 7.5px;
  padding-right: 0;
}
@media only screen and (min-width: 800px) {
  /* line 341, ../sass/partials/_base.scss */
  .form-group[class*="col-xs"] {
    margin-bottom: 15px;
  }
}
/* line 358, ../sass/partials/_base.scss */
.form-group .checkbox-inline {
  margin-top: 0;
}
/* line 362, ../sass/partials/_base.scss */
.form-group > a:not(.btn) {
  display: inline-block;
  margin-top: 10px;
}

/* line 369, ../sass/partials/_base.scss */
.required::before {
  content: "*";
  font-size: 1.125em;
  padding-left: 5px;
  color: #F91018;
}

/* line 377, ../sass/partials/_base.scss */
input[type="radio"],
input[type="checkbox"] {
  margin-top: 0 !important;
}

/* line 384, ../sass/partials/_base.scss */
.radio label,
.checkbox label {
  padding-left: 0;
  width: 100%;
}
/* line 388, ../sass/partials/_base.scss */
.radio .label_text,
.checkbox .label_text {
  display: block;
  font-size: 13px;
  vertical-align: middle;
  padding-left: 25px;
}

/* line 396, ../sass/partials/_base.scss */
label {
  font-weight: normal;
}
/* line 399, ../sass/partials/_base.scss */
label.radio-inline + label {
  margin-left: 15px;
}
/* line 403, ../sass/partials/_base.scss */
label.checkbox-inline {
  margin: 5px 0;
  margin-bottom: 0 !important;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
}

/* line 412, ../sass/partials/_base.scss */
.form-control {
  padding: 8px 10px;
  font-size: 1em;
  margin: 4px 0;
  line-height: normal;
  color: #353535;
  margin: 0;
  outline: 0;
  overflow: hidden;
  text-indent: .01px;
  -moz-appearance: none;
  -webkit-appearance: none;
  resize: none;
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}
/* line 426, ../sass/partials/_base.scss */
.post_content .form-control {
  border: none;
  padding: 0;
}
/* line 429, ../sass/partials/_base.scss */
.post_content .form-control:focus {
  border-color: transparent;
  outline: none;
}
/* line 435, ../sass/partials/_base.scss */
.font_bold .form-control {
  font-size: 14px;
}
/* line 439, ../sass/partials/_base.scss */
.form-control.search_control {
  border: none;
  padding: 0 10px;
  text-align: center;
  border-radius: 25px;
  height: 45px;
}
/* line 447, ../sass/partials/_base.scss */
.form-control.form_rounded {
  border-radius: 25px;
  padding-left: 15px;
}
/* line 452, ../sass/partials/_base.scss */
.form-control:focus {
  border-color: #424242;
  outline: 0;
  box-shadow: none;
}

/* line 459, ../sass/partials/_base.scss */
select.form-control {
  background: white url(../img/app_icon/arrow-down.png) right center no-repeat;
}
/* line 461, ../sass/partials/_base.scss */
select.form-control:focus {
  outline: none;
}

/* line 466, ../sass/partials/_base.scss */
.help-block {
  font-size: 11px;
  color: #959595;
  font-style: italic;
}
/* line 470, ../sass/partials/_base.scss */
.wizard_heading .help-block {
  font-size: 12px;
  font-style: normal;
  padding-top: 5px;
}

/* line 477, ../sass/partials/_base.scss */
.color-primary {
  color: #006E48 !important;
  fill: #006E48 !important;
}

/* line 482, ../sass/partials/_base.scss */
.color-inverse {
  color: #F91018 !important;
  fill: #F91018 !important;
}

/* line 487, ../sass/partials/_base.scss */
.color-grey {
  color: #959595 !important;
  fill: #959595 !important;
}

/* line 492, ../sass/partials/_base.scss */
.color-grey-light {
  color: #ccc !important;
  fill: #ccc !important;
}

/* line 497, ../sass/partials/_base.scss */
.color-grey-dark {
  color: #607680 !important;
  fill: #607680 !important;
}

/* line 502, ../sass/partials/_base.scss */
.color-secondary {
  color: #FDC00F !important;
  fill: #FDC00F !important;
}

/* line 507, ../sass/partials/_base.scss */
.color-white {
  color: #FFFFFF !important;
  fill: #FFFFFF !important;
}

/* line 512, ../sass/partials/_base.scss */
.color-default {
  color: #353535 !important;
  fill: #353535 !important;
}

/* line 517, ../sass/partials/_base.scss */
.bg-primary {
  background-color: #006E48 !important;
}

/* line 521, ../sass/partials/_base.scss */
.bg-inverse {
  background-color: #F91018 !important;
}

/* line 525, ../sass/partials/_base.scss */
.bg-secondary {
  background-color: #FDC00F !important;
}

/* line 529, ../sass/partials/_base.scss */
.bg-white {
  background-color: #FFFFFF !important;
}

/* line 533, ../sass/partials/_base.scss */
.bg-black {
  background-color: #424242 !important;
}

/* line 537, ../sass/partials/_base.scss */
.bg-off-white {
  background-color: #f5f5f5 !important;
}

/* line 541, ../sass/partials/_base.scss */
.bg-grey-light {
  background-color: #E9EBEE !important;
}

/* line 545, ../sass/partials/_base.scss */
.bg-grey-dark {
  background-color: #607680 !important;
}

/* line 549, ../sass/partials/_base.scss */
.bg-grey {
  background-color: #D0D8DB !important;
}

/* line 553, ../sass/partials/_base.scss */
.default_content {
  position: relative;
  max-width: 450px;
  min-height: 100px;
  margin: 15px auto;
}
/* line 559, ../sass/partials/_base.scss */
.default_content.post_result {
  max-width: 700px;
}
/* line 562, ../sass/partials/_base.scss */
.default_content.post_result .def_img {
  width: 128px;
  margin-bottom: 20px;
}
/* line 568, ../sass/partials/_base.scss */
.default_content .subtitle {
  margin-bottom: 10px;
  display: block;
  clear: both;
}
/* line 574, ../sass/partials/_base.scss */
.default_content .title-text {
  margin: 0;
}
/* line 578, ../sass/partials/_base.scss */
.default_content .def_img {
  width: 90px;
  margin: 20px auto;
}

/* line 584, ../sass/partials/_base.scss */
.meta_details {
  margin: 0 -5px;
  display: block;
  overflow: hidden;
}

/* line 590, ../sass/partials/_base.scss */
.label {
  font-family: "proxima_nova_bold", Open Sans, sans-serif;
  padding: 0;
  text-align: inherit;
  color: inherit;
  font-style: normal;
}

/* line 598, ../sass/partials/_base.scss */
.meta_item {
  display: inline-block;
  font-size: 10px;
  padding: 5px 0;
  float: left;
}
/* line 604, ../sass/partials/_base.scss */
.meta_item + .meta_item::before {
  content: "|";
  font-weight: bold;
  padding: 0 3px;
}
/* line 610, ../sass/partials/_base.scss */
.meta_item .value,
.meta_item .label {
  display: inline-block;
  color: inherit;
}
/* line 616, ../sass/partials/_base.scss */
.widget .meta_item {
  font-size: 12px;
}
/* line 618, ../sass/partials/_base.scss */
.widget .meta_item a {
  color: #006E48;
  font-family: "proxima_nova_bold", Open Sans, sans-serif;
}
/* line 621, ../sass/partials/_base.scss */
.widget .meta_item a:hover, .widget .meta_item a:focus {
  color: #353535;
  text-decoration: underline;
}
/* line 627, ../sass/partials/_base.scss */
.widget .meta_item .fa {
  font-size: 16px;
}

/* line 633, ../sass/partials/_base.scss */
.table-responsive {
  overflow-x: inherit;
  overflow-y: auto;
  padding-bottom: 40px;
}

/* line 639, ../sass/partials/_base.scss */
.font_regular {
  font-family: "proxima_nova_regular", Open Sans, sans-serif !important;
}

/* line 643, ../sass/partials/_base.scss */
.font_bold {
  font-family: "proxima_nova_bold", Open Sans, sans-serif !important;
}

/* line 648, ../sass/partials/_base.scss */
.font_size_sm {
  font-size: .833em !important;
}

/* line 652, ../sass/partials/_base.scss */
.font_size_md {
  font-size: 1.33em !important;
}

/* line 656, ../sass/partials/_base.scss */
.font_size_lg {
  font-size: 1.75em !important;
}

/* line 660, ../sass/partials/_base.scss */
.text_caps {
  text-transform: uppercase !important;
}

/* line 664, ../sass/partials/_base.scss */
.text_caps_normal {
  text-transform: none !important;
}

/* line 668, ../sass/partials/_base.scss */
.badge {
  display: inline-block;
  padding: 4px 6px;
  font-size: 10px;
  line-height: 1;
  border-radius: 6px;
  color: #FFFFFF;
  cursor: pointer;
}
/* line 676, ../sass/partials/_base.scss */
.badge.badge-default {
  background-color: #D0D8DB;
  color: #353535;
}
/* line 680, ../sass/partials/_base.scss */
.badge.badge-primary {
  background-color: #006E48;
}
/* line 683, ../sass/partials/_base.scss */
.badge.badge-secondary {
  background-color: #FDC00F;
  color: #353535;
}
/* line 687, ../sass/partials/_base.scss */
.badge.badge-inverse {
  background-color: #F91018;
}
/* line 690, ../sass/partials/_base.scss */
.badge.badge-black {
  background-color: #424242;
}
/* line 694, ../sass/partials/_base.scss */
.account_info .badge {
  position: absolute;
  top: -10px;
  left: 15px;
}

/* line 701, ../sass/partials/_base.scss */
.tooltip-inner {
  max-width: 300px;
  min-width: 120px;
  padding: 5px 8px;
  font-size: 11px;
}
/* line 706, ../sass/partials/_base.scss */
.pane_widgets .tooltip-inner {
  text-align: left;
}

/* line 711, ../sass/partials/_base.scss */
.ajax_loader {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  display: none;
  visibility: hidden;
  -moz-transition: visibility 5s ease-in-out;
  -o-transition: visibility 5s ease-in-out;
  -webkit-transition: visibility 5s ease-in-out;
  transition: visibility 5s ease-in-out;
}
/* line 725, ../sass/partials/_base.scss */
.loading .ajax_loader {
  display: block;
  visibility: visible;
  z-index: 40000;
  -moz-transition: visibility 5s ease-in-out;
  -o-transition: visibility 5s ease-in-out;
  -webkit-transition: visibility 5s ease-in-out;
  transition: visibility 5s ease-in-out;
}

/* line 733, ../sass/partials/_base.scss */
.loader_content {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 14px;
  text-align: center;
  max-width: 300px;
}
/* line 739, ../sass/partials/_base.scss */
.loader_content .fig_thumb {
  width: 128px;
  margin: auto;
  padding-bottom: 15px;
}
/* line 744, ../sass/partials/_base.scss */
.loader_content img {
  animation: pulse 1s ease-in-out infinite;
  animation-fill-mode: both;
  -moz-transform-origin: center 50%;
  -ms-transform-origin: center 50%;
  -webkit-transform-origin: center 50%;
  transform-origin: center 50%;
}

/* Alert */
/* line 753, ../sass/partials/_base.scss */
.alert {
  margin: 0;
  color: #FFFFFF;
  width: 100%;
  background-color: #D0D8DB;
}
/* line 759, ../sass/partials/_base.scss */
.alert .wrapper {
  padding: 10px;
  background-color: transparent;
}
/* line 762, ../sass/partials/_base.scss */
.section_header .alert .wrapper {
  padding: 15px;
  font-style: italic;
}
/* line 768, ../sass/partials/_base.scss */
.alert.floating_alert {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
}
/* line 774, ../sass/partials/_base.scss */
.alert.alert_default {
  background-color: rgba(0, 110, 72, 0.1);
  color: #353535;
}
/* line 779, ../sass/partials/_base.scss */
.alert.alert_inverse {
  background-color: #c2050b;
}
/* line 782, ../sass/partials/_base.scss */
.alert.alert_primary {
  background-color: #006E48;
}
/* line 785, ../sass/partials/_base.scss */
.alert.alert_info {
  background-color: #1883fe;
}
/* line 788, ../sass/partials/_base.scss */
.alert.alert_secondary {
  background-color: #FDC00F;
  color: #353535;
}
/* line 793, ../sass/partials/_base.scss */
.alert .title {
  margin-bottom: 7.5px;
  font-size: 16px;
}
/* line 798, ../sass/partials/_base.scss */
.alert .close_dialog {
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  opacity: .7;
}
/* line 805, ../sass/partials/_base.scss */
.alert .close_dialog:hover, .alert .close_dialog:focus {
  opacity: 1;
}

/* User Status */
/* line 813, ../sass/partials/_base.scss */
.user_status {
  display: inline-block;
  font-family: "proxima_nova_bold", Open Sans, sans-serif;
}
/* line 817, ../sass/partials/_base.scss */
.title .user_status {
  padding-left: 10px;
}
/* line 822, ../sass/partials/_base.scss */
.user_status .icon::before {
  background-image: url(../img/icons/n_verified.png);
  width: 13px;
  height: 13px;
}
/* line 829, ../sass/partials/_base.scss */
.user_status .st_label {
  font-family: "proxima_nova_bold", Open Sans, sans-serif;
  margin-left: -5px;
}
/* line 833, ../sass/partials/_base.scss */
.user_status .st_label::after {
  content: "Not Verified";
  font-size: 1em;
  display: inline-block;
  padding-left: 2px;
  color: #607680;
}
/* line 843, ../sass/partials/_base.scss */
.user_status.st_verified .icon::before {
  background-image: url(../img/icons/verified_shd.png);
}
/* line 846, ../sass/partials/_base.scss */
.user_status.st_verified .st_label::after {
  content: "Verified";
  color: #006E48;
}
/* line 852, ../sass/partials/_base.scss */
.user_status.st_pending .icon::before {
  background-image: url(../img/icons/pre_verified.png);
}
/* line 855, ../sass/partials/_base.scss */
.user_status.st_pending .st_label::after {
  content: "Pending Verification";
  color: #FDC00F;
}

/* line 862, ../sass/partials/_base.scss */
.info_icon {
  display: inline-block;
  width: 18px;
  fill: #006E48;
  -moz-transition: all 0.5s cubic-bezier(0, 0.53, 0.63, 1) 0.1s;
  -o-transition: all 0.5s cubic-bezier(0, 0.53, 0.63, 1) 0.1s;
  -webkit-transition: all 0.5s cubic-bezier(0, 0.53, 0.63, 1);
  -webkit-transition-delay: 0.1s;
  transition: all 0.5s cubic-bezier(0, 0.53, 0.63, 1) 0.1s;
}
/* line 867, ../sass/partials/_base.scss */
.info_icon .info_path {
  fill: #FFFFFF;
  -moz-transition: all 0.5s cubic-bezier(0, 0.53, 0.73, 1) 0.3s;
  -o-transition: all 0.5s cubic-bezier(0, 0.53, 0.73, 1) 0.3s;
  -webkit-transition: all 0.5s cubic-bezier(0, 0.53, 0.73, 1);
  -webkit-transition-delay: 0.3s;
  transition: all 0.5s cubic-bezier(0, 0.53, 0.73, 1) 0.3s;
}

/* line 873, ../sass/partials/_base.scss */
.info_trigger {
  display: inline-block;
  padding: 0 4px;
  vertical-align: middle;
}
/* line 877, ../sass/partials/_base.scss */
.card_panel .info_trigger {
  padding: 0;
}
/* line 882, ../sass/partials/_base.scss */
.info_trigger:hover .info_icon, .info_trigger:focus .info_icon {
  fill: #D0D8DB;
}
/* line 885, ../sass/partials/_base.scss */
.info_trigger:hover .info_path, .info_trigger:focus .info_path {
  fill: #353535;
}

/* line 891, ../sass/partials/_base.scss */
.user_avi {
  display: inline-block;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
  width: 20px;
  height: 20px;
}
/* line 898, ../sass/partials/_base.scss */
.user_avi img {
  margin: 0;
  width: 100%;
  height: 100%;
}
/* line 903, ../sass/partials/_base.scss */
.post_heading .user_avi, .comment_author .user_avi {
  width: 32px;
  height: 32px;
}
/* line 908, ../sass/partials/_base.scss */
.user_avi.avi_circle img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 911, ../sass/partials/_base.scss */
.user_avi.bordered {
  border-color: #FFFFFF;
  border-width: 6px;
  border-style: solid;
}
/* line 916, ../sass/partials/_base.scss */
.user_avi.avi_sm {
  width: 32px;
  height: 32px;
}
/* line 920, ../sass/partials/_base.scss */
.user_avi.avi_md {
  width: 48px;
  height: 48px;
}
/* line 924, ../sass/partials/_base.scss */
.user_avi.avi_lg {
  width: 64px;
  height: 64px;
  line-height: 58px;
  border-width: 3px;
}

/* line 932, ../sass/partials/_base.scss */
.post_author {
  position: relative;
  display: flex;
  align-items: center;
}
/* line 936, ../sass/partials/_base.scss */
.post_author a {
  color: inherit;
}
/* line 939, ../sass/partials/_base.scss */
.post_author .user_info {
  width: 100%;
  padding-left: 10px;
}

/* Basic Upload */
/* line 951, ../sass/partials/_base.scss */
.file_upload {
  cursor: pointer;
}
/* line 953, ../sass/partials/_base.scss */
.file_upload .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
/* line 961, ../sass/partials/_base.scss */
.file_upload .inputfile + label {
  color: #FFFFFF;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 4px;
  background-color: #424242;
  display: inline-block;
  -moz-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
/* line 969, ../sass/partials/_base.scss */
.media_thumb .file_upload .inputfile + label {
  padding: 6px;
}
/* line 972, ../sass/partials/_base.scss */
.img_uploader .file_upload .inputfile + label {
  background-color: transparent;
}
/* line 977, ../sass/partials/_base.scss */
.file_upload .inputfile:focus {
  outline: 1px dotted #FDC00F;
  outline: -webkit-focus-ring-color auto 5px;
}
/* line 981, ../sass/partials/_base.scss */
.file_upload .inputfile:focus + label,
.file_upload .inputfile + label:hover {
  background-color: #303030;
}

/* line 989, ../sass/partials/_base.scss */
.file_uploader input[type="text"] {
  min-width: 180px;
  padding: 8px;
  font-size: 11px;
  color: #424242;
  border: none;
  border-radius: 4px;
}

/* line 999, ../sass/partials/_base.scss */
.upload_btn {
  opacity: 1;
  background-color: rgba(53, 53, 53, 0.4);
  color: #FFFFFF;
  text-align: center;
  line-height: 90px;
  font-size: 30px;
  cursor: pointer;
  z-index: 200;
}
/* line 1008, ../sass/partials/_base.scss */
.upload_btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: #353535;
}

/* line 1014, ../sass/partials/_base.scss */
.img_uploader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 30px;
  height: 30px;
  top: 10px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.85);
  /* Tablets and phablets */
}
/* line 1027, ../sass/partials/_base.scss */
.img_uploader:hover, .img_uploader:focus {
  background-color: #959595;
}
@media only screen and (min-width: 800px) {
  /* line 1014, ../sass/partials/_base.scss */
  .img_uploader {
    top: 50%;
    bottom: auto;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
/* line 1035, ../sass/partials/_base.scss */
.img_uploader p {
  padding: 10px 0;
  /* Tablets and phablets */
}
/* line 1037, ../sass/partials/_base.scss */
.media_thumb .img_uploader p {
  color: #959595;
  font-size: 1em;
  padding: 0;
}
@media only screen and (min-width: 800px) {
  /* line 1035, ../sass/partials/_base.scss */
  .img_uploader p {
    font-size: 18px;
  }
}

/* line 1049, ../sass/partials/_base.scss */
.close_dialog {
  z-index: 5;
  width: 30px;
  height: 30px;
  border: none;
  background-color: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  right: 15px;
  top: 15px;
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
/* line 1061, ../sass/partials/_base.scss */
.subNavTray .close_dialog {
  width: 20px;
  height: 20px;
  right: 10px;
  top: 7.5px;
}
/* line 1068, ../sass/partials/_base.scss */
.form-group .close_dialog {
  right: -10px;
  top: -15px;
}
/* line 1073, ../sass/partials/_base.scss */
.hero_widget .close_dialog {
  right: 15px;
  top: 5px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 1073, ../sass/partials/_base.scss */
  .hero_widget .close_dialog {
    display: none;
  }
}
/* line 1082, ../sass/partials/_base.scss */
.close_dialog::before, .close_dialog::after {
  position: absolute;
  content: "";
  width: 2px;
  background: #353535;
  height: 14px;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -1px;
}
/* line 1093, ../sass/partials/_base.scss */
.close_dialog::before {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 1096, ../sass/partials/_base.scss */
.close_dialog::after {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 1099, ../sass/partials/_base.scss */
.close_dialog:hover, .close_dialog:focus {
  background-color: #FDC00F;
}
/* line 1102, ../sass/partials/_base.scss */
.close_dialog:hover::before, .close_dialog:hover::after, .close_dialog:focus::before, .close_dialog:focus::after {
  background-color: #FFFFFF;
}

/* line 1109, ../sass/partials/_base.scss */
.floated_header {
  *zoom: 1;
  display: block;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #E9EBEE;
}
/* line 40, ../sass/partials/_mixins.scss */
.floated_header:before, .floated_header:after {
  content: "";
  display: table;
}
/* line 47, ../sass/partials/_mixins.scss */
.floated_header:after {
  clear: both;
}
/* line 1116, ../sass/partials/_base.scss */
.card_wrapper .floated_header {
  border-bottom-width: 1px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
/* line 1122, ../sass/partials/_base.scss */
.floated_header [class*="title"] {
  margin: 0;
  padding: 0;
}
/* line 1127, ../sass/partials/_base.scss */
.floated_header > * {
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
}

/* General */
/* line 5, ../sass/partials/_signup.scss */
.bg-secondary {
  background-color: #bf9000 !important;
}

/* line 9, ../sass/partials/_signup.scss */
a {
  text-decoration: none;
  -moz-transition: all, 0.4s, ease;
  -o-transition: all, 0.4s, ease;
  -webkit-transition: all, 0.4s, ease;
  transition: all, 0.4s, ease;
  color: inherit;
}
/* line 14, ../sass/partials/_signup.scss */
a > i {
  padding: 0 4px;
}
/* line 18, ../sass/partials/_signup.scss */
a:hover, a:focus {
  text-decoration: none;
  color: inherit;
}
/* line 23, ../sass/partials/_signup.scss */
a:focus {
  outline: thin dotted #021E06;
}
/* line 26, ../sass/partials/_signup.scss */
.no-touch a:focus {
  outline: none;
}

/* line 32, ../sass/partials/_signup.scss */
ul {
  display: block;
  list-style: none;
}

/* line 37, ../sass/partials/_signup.scss */
a:link, button {
  -webkit-tap-highlight-color: rgba(2, 30, 6, 0.6);
  -moz-tap-highlight-color: rgba(2, 30, 6, 0.6);
}

/* line 42, ../sass/partials/_signup.scss */
.btn, a.btn {
  outline: none;
  box-shadow: 1px 1px 3px rgba(66, 66, 66, 0.7);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  border: none;
  font-family: "proxima_nova_regular", Open Sans, sans-serif;
  font-size: 1em !important;
  letter-spacing: .05em;
  padding: 8px 24px;
  line-height: normal;
  text-decoration: none;
}
/* line 55, ../sass/partials/_signup.scss */
.user_hero .btn, .user_hero a.btn {
  text-transform: uppercase;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 55, ../sass/partials/_signup.scss */
  .user_hero .btn, .user_hero a.btn {
    font-size: 14px;
    padding: 10px 28px;
  }
}
/* line 64, ../sass/partials/_signup.scss */
.btn.btn-rounded, a.btn.btn-rounded {
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}
/* line 68, ../sass/partials/_signup.scss */
.btn + .btn, a.btn + .btn {
  margin-left: 1em;
}
/* line 72, ../sass/partials/_signup.scss */
.btn.btn-primary, a.btn.btn-primary {
  background-color: #006E48;
  color: #FFFFFF;
}
/* line 76, ../sass/partials/_signup.scss */
.btn.btn-primary:hover, .btn.btn-primary:focus, a.btn.btn-primary:hover, a.btn.btn-primary:focus {
  background-color: #021E06;
}
/* line 81, ../sass/partials/_signup.scss */
.btn.btn-secondary, a.btn.btn-secondary {
  background-color: #bf9000;
  color: #353535;
}
/* line 85, ../sass/partials/_signup.scss */
.btn.btn-secondary:hover, .btn.btn-secondary:focus, a.btn.btn-secondary:hover, a.btn.btn-secondary:focus {
  background-color: #CE9C0C;
}
/* line 90, ../sass/partials/_signup.scss */
.btn.btn-default, a.btn.btn-default {
  background-color: #424242;
  border: none;
  color: #FFFFFF;
}
/* line 95, ../sass/partials/_signup.scss */
.btn.btn-default:hover, a.btn.btn-default:hover {
  background: #303030;
}
/* line 100, ../sass/partials/_signup.scss */
.btn:hover, .btn:focus, a.btn:hover, a.btn:focus {
  text-decoration: none !important;
}
/* line 103, ../sass/partials/_signup.scss */
.no-touch .btn:hover, .no-touch .btn:focus, .no-touch a.btn:hover, .no-touch a.btn:focus {
  outline: none;
}

/* line 109, ../sass/partials/_signup.scss */
.btn-block {
  display: block;
  width: 100%;
  clear: both;
}

/* line 115, ../sass/partials/_signup.scss */
.row_flex {
  *zoom: 1;
}
/* line 40, ../sass/partials/_mixins.scss */
.row_flex:before, .row_flex:after {
  content: "";
  display: table;
}
/* line 47, ../sass/partials/_mixins.scss */
.row_flex:after {
  clear: both;
}

/* line 119, ../sass/partials/_signup.scss */
.more-btn {
  display: block;
  position: relative;
  text-align: center;
  padding: 30px 0 15px;
  *zoom: 1;
}
/* line 40, ../sass/partials/_mixins.scss */
.more-btn:before, .more-btn:after {
  content: "";
  display: table;
}
/* line 47, ../sass/partials/_mixins.scss */
.more-btn:after {
  clear: both;
}
/* line 126, ../sass/partials/_signup.scss */
.more-btn .btn {
  max-width: 200px;
  display: inline-block;
}
/* line 131, ../sass/partials/_signup.scss */
.more-btn .btn-link {
  font-size: 1.1667em;
  font-family: "proxima_nova_bold", Open Sans, sans-serif;
  padding-right: 10px;
}

/* line 138, ../sass/partials/_signup.scss */
.userTabs {
  display: block;
  clear: both;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 9;
}

/* line 149, ../sass/partials/_signup.scss */
.tabLink {
  display: flex;
  background-color: #FFFFFF;
}

/* line 154, ../sass/partials/_signup.scss */
.tabLinkitem {
  flex: 1;
  height: 50px;
  line-height: 50px;
  list-style: none;
  text-align: center;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 154, ../sass/partials/_signup.scss */
  .tabLinkitem {
    text-align: left;
  }
}
/* line 165, ../sass/partials/_signup.scss */
.tabLinkitem.active {
  color: #FFFFFF;
}
/* line 169, ../sass/partials/_signup.scss */
.tabLinkitem > a {
  display: block;
  height: 100%;
  padding: 0 30px;
}

/* line 177, ../sass/partials/_signup.scss */
.tab_youth.active {
  background-color: #bf9000;
}

/* line 183, ../sass/partials/_signup.scss */
.tab_org.active {
  background-color: #006E48;
}

/* line 188, ../sass/partials/_signup.scss */
.linkIcon {
  width: 25px;
  margin: 0 10px;
}

/* line 193, ../sass/partials/_signup.scss */
.linkLabel {
  font-size: 14px;
  font-family: "proxima_nova_bold", Open Sans, sans-serif;
  display: none;
}

/* line 199, ../sass/partials/_signup.scss */
.linkIcon, .linkLabel {
  vertical-align: middle;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 199, ../sass/partials/_signup.scss */
  .linkIcon, .linkLabel {
    display: inline-block;
  }
}

/* line 207, ../sass/partials/_signup.scss */
.user_hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 100;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background-image: url(../img/banners/success_banner.jpg);
}
/* line 222, ../sass/partials/_signup.scss */
.user_hero::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: .75;
  background-color: #424242;
}

/* line 235, ../sass/partials/_signup.scss */
.user_youth {
  background-image: url(../img/banners/success_banner.jpg);
}
/* line 238, ../sass/partials/_signup.scss */
.user_youth::before {
  background-color: #bf9000;
}

/* line 243, ../sass/partials/_signup.scss */
.user_org {
  background-image: url(../img/banners/org_banner.jpg);
}
/* line 245, ../sass/partials/_signup.scss */
.user_org::before {
  background-color: #006E48;
}

/* line 250, ../sass/partials/_signup.scss */
.hero_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 250, ../sass/partials/_signup.scss */
  .hero_wrapper {
    display: flex;
  }
}

/* line 261, ../sass/partials/_signup.scss */
.hero_content, .hero_widget {
  height: 100%;
  overflow: auto;
}

/* line 266, ../sass/partials/_signup.scss */
.hero_content {
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 266, ../sass/partials/_signup.scss */
  .hero_content {
    width: 70%;
  }
}

/* line 272, ../sass/partials/_signup.scss */
.content_wrapper {
  padding: 20px 15px 80px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 272, ../sass/partials/_signup.scss */
  .content_wrapper {
    padding: 50px 40px;
  }
}

/* line 280, ../sass/partials/_signup.scss */
.hero_banner {
  margin-bottom: 15px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 280, ../sass/partials/_signup.scss */
  .hero_banner {
    margin-bottom: 40px;
  }
}

/* line 288, ../sass/partials/_signup.scss */
.logoLink {
  display: block;
  width: 150px;
  /* Tablets and phablets */
}
/* line 292, ../sass/partials/_signup.scss */
.logoLink img {
  width: 100%;
}
@media only screen and (min-width: 800px) {
  /* line 288, ../sass/partials/_signup.scss */
  .logoLink {
    display: inline-block;
    margin-right: 5px;
    width: 250px;
  }
}

/* line 303, ../sass/partials/_signup.scss */
.support_attrib {
  max-width: 200px;
  position: relative;
  display: block;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 303, ../sass/partials/_signup.scss */
  .support_attrib {
    display: inline-block;
    vertical-align: middle;
  }
}

/* line 314, ../sass/partials/_signup.scss */
.attr_label {
  line-height: 1.2;
  display: block;
  font-size: 12px;
  padding: 10px;
  padding-left: 0;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 314, ../sass/partials/_signup.scss */
  .attr_label {
    padding-left: 10px;
    border-left: 1px solid #E9EBEE;
  }
}

/* line 327, ../sass/partials/_signup.scss */
.hero_title {
  font-size: 16px;
  line-height: 1.15;
  margin-bottom: 20px;
  /* Mobile devices */
  /* Tablets and phablets */
}
/* line 332, ../sass/partials/_signup.scss */
.hero_title > span {
  display: inline-block;
  padding: 5px;
  margin: 3px 0;
}
@media only screen and (min-width: 480px) {
  /* line 327, ../sass/partials/_signup.scss */
  .hero_title {
    font-size: 21px;
  }
}
@media only screen and (min-width: 800px) {
  /* line 327, ../sass/partials/_signup.scss */
  .hero_title {
    font-size: 32px;
  }
}

/* line 347, ../sass/partials/_signup.scss */
.userFeatureList {
  display: flex;
  flex-wrap: wrap;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 347, ../sass/partials/_signup.scss */
  .userFeatureList {
    margin: 0 -10px;
    padding: 20px 0;
  }
}

/* line 357, ../sass/partials/_signup.scss */
.list_bullet {
  vertical-align: middle;
}
/* line 360, ../sass/partials/_signup.scss */
.list_bullet::before {
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/app_icon/bullet.png);
}

/* line 372, ../sass/partials/_signup.scss */
.ftListItem {
  margin-bottom: 10px;
  /* Mobile devices */
  /* Tablets and phablets */
}
@media only screen and (min-width: 480px) {
  /* line 372, ../sass/partials/_signup.scss */
  .ftListItem {
    padding: 0 10px;
    width: 50%;
  }
}
@media only screen and (min-width: 800px) {
  /* line 372, ../sass/partials/_signup.scss */
  .ftListItem {
    width: 33.33%;
    margin-bottom: 30px;
  }
}

/* line 386, ../sass/partials/_signup.scss */
.listLabel, .list_bullet {
  display: table-cell;
  vertical-align: top;
}

/* line 391, ../sass/partials/_signup.scss */
.listLabel {
  padding-left: 5px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 391, ../sass/partials/_signup.scss */
  .listLabel {
    max-width: 200px;
    font-size: 13px;
  }
}

/* line 400, ../sass/partials/_signup.scss */
.user_cto {
  text-align: center;
  margin-top: 10px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 400, ../sass/partials/_signup.scss */
  .user_cto {
    display: none;
  }
}

/* line 409, ../sass/partials/_signup.scss */
.hero_widget {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 200;
  visibility: hidden;
  opacity: 0;
  -moz-transform-origin: center 50%;
  -ms-transform-origin: center 50%;
  -webkit-transform-origin: center 50%;
  transform-origin: center 50%;
  -moz-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
  -moz-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1) 0.1s;
  -o-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1) 0.1s;
  -webkit-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  -webkit-transition-delay: 0.1s;
  transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1) 0.1s;
  -moz-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
  /* Tablets and phablets */
}
/* line 418, ../sass/partials/_signup.scss */
.hero_widget.show_widget {
  visibility: visible;
  opacity: 1;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -moz-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  -o-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  -webkit-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
}
@media only screen and (min-width: 800px) {
  /* line 409, ../sass/partials/_signup.scss */
  .hero_widget {
    width: 30%;
    position: static;
    visibility: visible;
    opacity: 1;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -moz-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
    -o-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
    -webkit-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
    transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  }
}

/* line 429, ../sass/partials/_signup.scss */
.widget_wrapper {
  padding: 40px 15px 70px;
  position: relative;
  background-color: #FFFFFF;
  background-image: url(../img/banners/weed.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 429, ../sass/partials/_signup.scss */
  .widget_wrapper {
    padding: 20px 40px;
    height: 100%;
  }
}

/* line 444, ../sass/partials/_signup.scss */
.widget_nav {
  display: flex;
  justify-content: space-around;
  margin: 10px -10px;
}

/* line 450, ../sass/partials/_signup.scss */
.widgetNavLink {
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  padding: 8px 18px;
  border-radius: 4px;
  color: #FFFFFF;
}
/* line 458, ../sass/partials/_signup.scss */
.active > .widgetNavLink, .active > .widgetNavLink:hover, .active > .widgetNavLink:visited, .active > .widgetNavLink:focus {
  outline: none;
}
/* line 463, ../sass/partials/_signup.scss */
.user_youth .widgetNavLink {
  background-color: #bf9000;
}
/* line 467, ../sass/partials/_signup.scss */
.user_org .widgetNavLink {
  background-color: #006E48;
}
/* line 471, ../sass/partials/_signup.scss */
.active > .widgetNavLink {
  color: #FFFFFF;
  background-color: transparent;
}

/* line 477, ../sass/partials/_signup.scss */
.widget_header {
  padding: 15px 0;
  margin-bottom: 10px;
}

/* line 482, ../sass/partials/_signup.scss */
.form_icon {
  width: 80px;
  padding: 10px;
  margin: auto;
}

/* line 488, ../sass/partials/_signup.scss */
.wdTitle {
  font-size: 16px;
  margin-bottom: 5px;
}

/* line 493, ../sass/partials/_signup.scss */
.wdSubtitle {
  font-size: 13px;
}

/* line 497, ../sass/partials/_signup.scss */
.base_strip {
  width: 100%;
  position: absolute;
  bottom: 50px;
  left: 0;
  display: none;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 497, ../sass/partials/_signup.scss */
  .base_strip {
    display: flex;
  }
}
/* line 508, ../sass/partials/_signup.scss */
.base_strip .line {
  width: 25%;
  height: 100%;
  height: 8px;
}
