@font-face {
  font-family: 'Museo_Regular';
  src: url("../fonts/museoRegular/museosans-300-webfont.eot");
  src: url("../fonts/museoRegular/museosans-300-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museoRegular/museosans-300-webfont.woff") format("woff"), url("../fonts/museoRegular/museosans-300-webfont.ttf") format("truetype"), url("../fonts/museoRegular/museosans-300-webfont.svg#MuseoSans300") format("svg");
  font-weight: normal;
  font-style: 400;
}
@font-face {
  font-family: 'Museo_Bold';
  src: url("../fonts/museoBold/museosans_700-webfont.eot");
  src: url("../fonts/museoBold/museosans_700-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museoBold/museosans_700-webfont.woff") format("woff"), url("../fonts/museoBold/museosans_700-webfont.ttf") format("truetype"), url("../fonts/museoBold/museosans_700-webfont.svg#MuseoSans700") format("svg");
  font-weight: normal;
  font-style: 700;
}
/* Layout */
/* line 2, ../sass/partials/_layouts.scss */
.split_layout {
  display: flex;
  flex-wrap: wrap;
  *zoom: 1;
  margin: 0;
  /* Tablets and phablets */
}
/* line 78, ../sass/partials/_mixins.scss */
.split_layout:before, .split_layout:after {
  content: "";
  display: table;
}
/* line 83, ../sass/partials/_mixins.scss */
.split_layout:after {
  clear: both;
}
@media only screen and (min-width: 768px) {
  /* line 2, ../sass/partials/_layouts.scss */
  .split_layout {
    min-height: 700px;
    margin: 0 -20px;
  }
}

/* line 14, ../sass/partials/_layouts.scss */
.sub_content {
  visibility: hidden;
  opacity: 0;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 14, ../sass/partials/_layouts.scss */
  .sub_content {
    width: 30%;
    padding-left: 20px;
    padding-right: 20px;
    visibility: visible;
    opacity: 1;
    border-left: 1px solid #d5d5d5;
  }
}

/* line 28, ../sass/partials/_layouts.scss */
.main_content {
  width: 100%;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 31, ../sass/partials/_layouts.scss */
  .split_layout .main_content {
    width: 70%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* line 39, ../sass/partials/_layouts.scss */
.content_wrapper {
  padding: 50px 0;
}

/* line 43, ../sass/partials/_layouts.scss */
.page_header {
  margin-bottom: 30px;
}

/* line 47, ../sass/partials/_layouts.scss */
.header_wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 53, ../sass/partials/_layouts.scss */
.blockHeader {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
  box-shadow: inset 0 -1px 0 #d5d5d5;
}
/* line 60, ../sass/partials/_layouts.scss */
.blockHeader .title_sub {
  padding-bottom: 8px;
  box-shadow: inset 0 -2px 0 #24232a;
}

/* line 1, ../sass/partials/_admin_styles.scss */
.adminAreaWrapper {
  width: 100%;
  height: 100%;
  padding: 30px 0;
}

/* line 7, ../sass/partials/_admin_styles.scss */
.adminPageBody {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  min-height: 0;
}

/* line 14, ../sass/partials/_admin_styles.scss */
.pageHeader {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 30px;
}

/* line 22, ../sass/partials/_admin_styles.scss */
.headerTitle {
  flex-grow: 1;
}

/* line 26, ../sass/partials/_admin_styles.scss */
.pageActionPrimary {
  flex-shrink: 0;
  padding-left: 15px;
}

/* line 31, ../sass/partials/_admin_styles.scss */
.pageSupportText {
  display: block;
  clear: both;
  font-size: 16px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 31, ../sass/partials/_admin_styles.scss */
  .pageSupportText {
    font-size: 21px;
  }
}

/* line 43, ../sass/partials/_admin_styles.scss */
.info_panel {
  margin-bottom: 30px;
}

/* line 47, ../sass/partials/_admin_styles.scss */
.tile_wrapper {
  display: block;
  padding: 20px 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #E5E5E5;
  position: relative;
  height: 100%;
  width: 100%;
}

/* line 58, ../sass/partials/_admin_styles.scss */
.tile_header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

/* line 64, ../sass/partials/_admin_styles.scss */
.tile_title {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

/* line 69, ../sass/partials/_admin_styles.scss */
.title_label {
  font-size: 16px;
  color: inherit;
  letter-spacing: -0.015em;
}

/* line 75, ../sass/partials/_admin_styles.scss */
.paneFootNotes {
  margin-top: 30px;
  width: 100%;
  align-self: flex-end;
  line-height: 155%;
}

/* line 82, ../sass/partials/_admin_styles.scss */
.isColFlex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  height: calc(100% - 45px);
  justify-content: space-between;
}

/* line 89, ../sass/partials/_admin_styles.scss */
.splitPaneItem {
  flex: 1;
}

/* Mobile devices */
@media only screen and (min-width: 576px) {
  /* line 94, ../sass/partials/_admin_styles.scss */
  .qsetPane {
    border-left: 1px solid #E5E5E5;
  }
}
/* Tablets and phablets */
@media only screen and (min-width: 768px) {
  /* line 100, ../sass/partials/_admin_styles.scss */
  .adPane {
    border-left: 1px solid #E5E5E5;
  }
}
/* line 106, ../sass/partials/_admin_styles.scss */
.insigthRow {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 20px 0 10px;
}

/* line 111, ../sass/partials/_admin_styles.scss */
.insight_item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
/* line 115, ../sass/partials/_admin_styles.scss */
.text-center .insight_item {
  align-items: center;
}

/* line 120, ../sass/partials/_admin_styles.scss */
.insight_title {
  clear: both;
  font-size: 1em;
  color: #757575;
  letter-spacing: -0.015em;
}

/* line 127, ../sass/partials/_admin_styles.scss */
.insight_value {
  line-height: 1;
}

/* line 131, ../sass/partials/_admin_styles.scss */
.unit {
  font-size: 11px;
  text-transform: capitalize;
  letter-spacing: .025em;
  padding-left: 2.5px;
  color: #959595;
}

/* line 139, ../sass/partials/_admin_styles.scss */
.saleTotalRow {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

/* line 146, ../sass/partials/_admin_styles.scss */
.rowLabel {
  max-width: 150px;
  overflow-wrap: break-word;
}

/* line 151, ../sass/partials/_admin_styles.scss */
.rowValue {
  margin-left: 5px;
  font-size: 21px;
}
