.dropdown-menu {
    font-size: 1em;
    box-sizing: border-box;
    z-index: 1000;
    max-width: 460px;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
    color: $color_grey_dark;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(black,0.1), 0 3px 10px 0 rgba(black,0.2);
    @include transition(all .6s ease-in-out);
    -webkit-animation: panel-slide-down .6s ease-in-out forwards;
    animation: panel-slide-down .6s ease-in-out forwards;
    overflow: hidden;
    border: none;

    &.subMenu {
        box-shadow: unset;
        border-radius: 0 0 5px 5px;

        @include MQ-MAX(M) {
            width: 100%;
            position: static;
            padding: 0;
        }
    }

    .btn-block + & {
        width: 100%;
    }
    
    &.show {
        visibility: visible;
    }

    li {
        display: block;
        padding: 0;
        margin:0;

        > *, > a {
            padding: 10px;
            display: flex;
            width: 100%;
            font-size: 14px;
            color: $color_text;
            text-transform: capitalize;
            line-height: normal;
            align-items: center;
            white-space: nowrap;

            @include MQ-MAX(M) {
                &.subMenuItem_link {
                    justify-content: center;
                }
            }

            &:hover {
                background: rgba($brand_inverse, .15);
                color: $brand_black;
            }
        }

        .cust_icon {
            width: 24px;
            height: 24px;
        }
    }
}

@keyframes panel-slide-down{
    0%,30% { 
        margin-top:-15px;
        opacity:0
    }
    
    to {
        margin-top:0;
        opacity:1
    }
}

.dropdown-toggle::after {
    display: none;
}

.caret {
    display: inline-flex;
    margin-left: 10px;

    &:after {
        vertical-align: .255em;
        content: "";
        border-top: .4em solid;
        border-right: .35em solid transparent;
        border-bottom: 0;
        border-left: .35em solid transparent
    }
}

.modal-backdrop {
    background-color: black;
    display: none;
}

.modal-content {
    border-radius: 15px;
    overflow: hidden;

    .mediaRenderDialog & {
        background-color: black;
        color: $brand_inverse_light;
        fill: $brand_inverse_light;
    }
}

.modal-dialog {
    z-index: 2000;
    margin: 5rem auto;
}

@include MQ(L) {
    .modal-md {
        max-width: 720px;
    }

    .modal-lg, .modal-xl {
        max-width: 1170px;
    }
}

.mediaRenderDialog {
    max-width: 970px;
}

.modal {
    z-index: 10000;

    .modal-open & {
        background-color: rgba(black, .85);
        padding: none !important;
    }

    .modal-header {
        border-bottom: none;
        padding: 15px 15px 0;
        align-items: center;

        @include MQ(M) {
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    .modal-body {
        position: relative;
        padding: 30px 15px;

        @include MQ(M) {
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    .modal-footer {
        border-top: none;
        padding: 0 15px 10px;
    }
}

.modal-title {
    font-size: 16px;
    font-weight: 700;
    font-family: $header_font;
    text-transform: uppercase;
}

.mediaRenderDialogHeader {
    background-color: black;
    
    &.modal-header {
        padding-bottom: 15px;
    }
}

.modalAuthWrapper {
    max-width: 400px;
    margin: auto;
}

.panel-help {
    padding: 10px 0;
    border-top: 2px solid $brand_inverse_light;
    font-size: 16px;

    &:last-child {
        border-bottom: 2px solid $brand_inverse_light;
    }
}

.panel-header, .panel-body {
	padding: 15px;

    @include MQ(M) {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.panel-title {
    > a {
        font-size: 1em;

        .panel-help & {
            line-height: 165%;
        }        
        
        &::after {
            content: "-";
            font-size: 32px;
            line-height: 1;
            font-weight: 400;
            color: $border_grey_dark;
            flex-shrink: 0;
            padding-left: 10px;
        }

        &.collapsed::after {
            content: "+";
        }
        
        &:hover,
        &:focus {
            text-decoration: none;
            color: inherit;
            opacity: 1;
        }

        &:active, &:visited {
            outline: none;
        }
    }
}

.accordion-toggle {
    display: flex;
    justify-content: space-between;
}

/* Tables */
table {
    width: 100%;
}

.table {
    margin-bottom: 0;
    
    >thead, tbody {
        >tr {
            >td, >th {
                color: inherit;
                border: none;
                padding: 12px 15px;
                vertical-align: middle;
            } 
        }
    }

    >tbody > tr {
        .table-brand & {
            > td {
                vertical-align: middle;
            }
        }
    }
    
    > thead {
        > tr > th {
            border-bottom: 1px solid $border_grey;
            font-size: 11px;
            text-transform: uppercase;
            color: $border_grey_dark;
        }
    }

    .table {
        background-color: transparent;
    }
}

.table_description {
    min-width: 250px;
    position: relative;
    
    @include MQ(M) {
        font-size: 16px;
    }
}

.table-responsive {
    border: none;

    @include MQ(L) {
        overflow: visible;
    }
}

.table-hover {
    >tbody > tr {
        cursor: pointer;
        font-size: 14px;
        background-color: white;
        border-bottom: 1px solid $color_white;
        @include transition(all .4s ease-in-out 0s);
        
        &:hover {
            background-color: $color_white;
        }
    }
}

/*pitch Video widget*/
@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}
  
.video_widget {
    z-index: 1000;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    animation: fadeIn 1s ease-in-out;
    opacity: 0;
    display: none;
    visibility: hidden;
    background: rgba($brand_black, 0.85);
    @include transition(all .4s ease-in-out);
    
    &.show_widget {
        display: block;
        visibility: visible;
        opacity: 1;
    }
}

.widget_dismiss {
    position: absolute;
    top: 15px;
    right: 15px;
    
    a {
        display: block;
        width: 30px;
        height: 30px;
        stroke: $brand_primary_light;
        stroke-width: 2px;
        
        &:hover, &:focus {
            stroke: $brand_primary;
        }
    }
}

.widget_content_wrapper {
    @include flexbox();
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.widget_content {
    display: block;
    padding: 60px 15px;
    width: 100%;
    
    @include MQ(M) {
        padding-left: 30px;
        padding-right: 30px;
    }
}