// Forms widget nav
header[role="banner"] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // height: $header_height;
    z-index: $header-zindex;
    @include font-smoothing;
    color: $color_text_alt;
    box-shadow: 0 1px 4px rgba(black, .15);
    background-color: rgba(white, .98);

    [class*="container"] {
        height: 100%;
        position: relative;
    }
}

.preAuthHeader {
    @include transition(background-color .6s ease-in-out);
    /* Force Hardware Acceleration in WebKit */
    @include transform(translate3d(0, 0, 0));
    @include backface-visibility(hidden);

    @include MQ-MAX(M) {
        background: white;
    }
}

.auxheader {
    width: 100%;
    background-color: $color_white
}

.navbarWrapper {
    @include flexbox();    
    z-index: 1;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.navbarGroupItem {
    width: auto;
    height: $header_height;
    display: block;
    @include flexbox();
    align-items: center;
    position: relative;
}

.navBarItemLeft {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    z-index: 5;
    float: left;
    flex-shrink: 0;
}

.navBarItemRight {
    float: right;
    justify-content: flex-end;
    z-index: 5;
    flex-shrink: 0;
}

.navBarItemCenter {
    flex-grow: 1;

    @include MQ-MAX(L) {
        width: 100%;
        position: absolute;
        left: 0;
    }

    @include MQ(L) {
        padding-left: 40px;
    }
}

.brand_img {
    display: block;
    
    header[role="banner"]  &{
        height: $header_height;
    }
}

.logo_link {
    padding: 0;
    display: inline-block;
    line-height: $header_height;
    width: 115px;
    position: relative;
    height: 100%;
        
    >img {
        vertical-align: middle;
        display: inline-block;
    }
}

.navLink_content {
    position: relative;
    @include flexbox();
    align-items: center;
    justify-content: center;
}

.more_indicator {
    flex-shrink: 0;
    margin-left: 10px;
}

.navMenu {
    @include flexbox();
    align-items: center;
    width: 100%;
}


.menuPrimary {
    @include transition(all .6s cubic-bezier(.68, .34, .15, 1));
    transform-origin: top;
    width: 100%;

    @include MQ-MAX(M) {
        left: 0;
        position: fixed;
        background-color: white;
        @include flexbox();
        height: 100%;
        height: 100vh;
        z-index: 10;
        visibility: hidden;
        top: $header_height;
        flex-direction: column;
        border-top: 2px solid $brand_accent;
        @include transform(scaleY(0));
        padding: 20px 15px;
    }

    @include MQ(M) {
        justify-content: center;
    }
    
    .is-active & {
        @include transform(scaleY(1));
        visibility: visible;
        @include transition(transform .8s cubic-bezier(.68, .34, .15, 1));
    }    
}

.controlBtn {
    margin-left: 30px;
    position: relative;

    @include MQ-MAX(M) {
        margin-left: 15px;
    }

    > a, button {
        fill: $brand_primary;

        &:hover, &:focus {
            fill: $brand_accent;
        }
    }
}

.menuListItem {
    position: relative;
    white-space: nowrap;

    + .menuListItem {
        margin-left: 10px;    
    }

    @include MQ-MAX(M) {
        display: block;
        width: 100%;

        + .menuListItem {
            margin-left: 0;    
        }
    }
}

.menuLinkItem:not(.btn) {
    display: block;
    font-size: 14px;
    font-weight: 700;
    padding: 1em 1.25em;
    white-space: nowrap;
    color: $color_grey_dark;
    background-color: transparent;
    @include transition(all .6s ease-in-out);
    text-align: center;

    @include MQ(M) {
        padding-top: 0;
        padding-bottom: 0;
        line-height: $header_height;
    }

    &:hover,
    &:focus {
        color: $brand_accent;
    }

    .active & {
        color: $brand_black;
        background-color: $color_white
    }
}

.subMenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    min-width: 150px;

    .subMenuContainer:hover > & {
        display: block;
    }
}

.subMenuItem {
    text-align: left;
    padding: 11px 0 12px;
}

.subMenuItem_link {
    text-align: left;
    display: block;
    color: $color_text_alt;
}


.nav_trigger {
    display: inline-block;
    margin-top: 15px;
    
    @include MQ(L) {
        display: none;
    }
}

.primary-nav-trigger {
    position: relative;
}

.menu-icon {
    /* this span is the central line of the menu icon */
    display: block;
    width: 24px;
    height: 2px;
    position: relative;
    background-color: $brand_primary;
    @include transition(background-color .6s);
    /* these are the upper and lower lines in the menu icon */
    &::before,
    &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: $brand_primary;
        right: 0;
        @include transition(transform .6s, top .6s, background-color 0s);
    }
    &::before {
        top: -7px;
    }
    &::after {
        top: 7px;
    }
    &.is-clicked {
        background-color: rgba($brand_accent, 0);
        &::before,
        &::after {
            background-color: rgba($brand_red, 1);
        }
        &::before {
            top: 0;
            @include transform(rotate(135deg));
        }
        &::after {
            top: 0;
            @include transform(rotate(225deg));
        }
    }
}

.menu-text {
    font-size: 9px;
}

