%hero_background {
    background-size: cover;
    width: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.hero_area {
    @extend %hero_background;
    background-color: transparent;
    overflow: hidden;
    padding: 80px 0 50px;
    position: relative;
    
    .container {
        z-index: 10;
    }
}

.contact_hero {
    min-height: auto;
    background-color: white;
    background-position: top center;
    background-image: url(../img/banners/contours.svg);
}

.bg_wave {
    background-image: url(../img/banners/bgWave.png);
    background-size: contain;
}

.helpLanderHero {
    background-image: url(../img/banners/helpHeroBg.png);
}

.heroContentWrapper {
    justify-content: space-between;
    align-content: center;
    align-items: center;
    position: relative;

    .hero_area & {
        min-height: 550px;
    }

    .contact_hero &, .about_hero & {
        min-height: auto !important;
    }
}

.heroTextWrapper {
    z-index: 2;
}

.hero_title {
    font-size: 32px;
    margin-bottom: 15px;
    @include break-inside(avoid);
    
    @include MQ(M) {
        font-size: 40px;
    }
}

.hero_title_lg {
    font-size: 36px;
    
    @include MQ(M) {
        letter-spacing: -4px;
        font-size: 54px;
    }
}

.hero_blub {
    font-size: 16px;
    color: inherit;
    
    @include MQ(M) {
        font-size: 21px;
    }
}

.heroImageWrapper {
    margin-bottom: 30px;
    position: relative;
    text-align: center;

    > img {
        display:inline-block;
        max-width: 540px;

        @include MQ-MAX(S) {
            max-width: 280px;
        }
    }
}

.imagePositionForced {

    @include MQ(M) {
        position: absolute;
        width: 100%;
        top: -180px;
        left: 0;
    }
}

.emphasisedText {
    position: relative;

    &::after {
        position: absolute;
        display: inline-flex;
        height: 10px;
        width: 100%;
        content: "";
        left: 0;
        bottom: 0px;
        background-position: bottom center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../img/icons/decoreLine.svg);
    }
}

.bannerBlobItem {
    display: block;
    position: absolute;
    z-index: 3;
    width: 100%;
    max-width: 80px;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    background-position: center;

    @include MQ(M) {
        max-width: 140px;
    }
}

.blobTopRight {
    top: 0;
    right: 5px;
    background-position: top;

    @include MQ(M) {
        right: 85px;
        top: 40px;
    }
}

.blobTopRight_bleedout {
    top: -60px;
    right: 50px;
    background-position: top;
}

.blobTopleft_bleedout {
    top: -60px;
    left: -50px;
    background-position: top;
}

.blobBottomLeft {
    bottom: 0;
    left: 5px;
    background-position: bottom;
}

.blob_beans {
    background-image: url(../img/banners/i_blob_1.svg);
}

.blob_x {
    background-image: url(../img/banners/i_blob_2.svg);
}

.blob_shapes {
    background-image: url(../img/banners/shapes.svg);
}

.blob_strokes_sm {
    background-image: url(../img/banners/i_blob_3.svg);
}

.blob_strokes_accent {
    background-image: url(../img/banners/i_blob_4.svg);
}

.blob_splash_inverse {
    background-image: url(../img/banners/splash_inverse.svg);
}

.blob_strokes_md {
    background-image: url(../img/banners/i_blob_5.svg);
    top: 10px;
}

.backgroundColorBlob {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    display: block;

    @include MQ(M) {
        width: 50%;
    }
}

.bg_blob {
    z-index: 1;
    display: block;
    background-size: contain;
    background-position: top right;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(../img/banners/tut_bg_blub.svg);
}

.UI_cornerBlobs {
    position: absolute;
    width: 125px;
    height: 520px;
    display: block;
    z-index: 1;
    background-size: cover;
    background-position: center;

    @include MQ(M) {
        width: 250px;
    }
}

.corner_blob_yellow {
    background-image: url(../img/banners/corner_blob_yellow.svg);
    top: 0%; right: 0;
}

.corner_blob_red {
    background-image: url(../img/banners/corner_blob_red.svg);
    top: 20%; left: 0;
}

.corner_blob_blue {
    background-image: url(../img/banners/corner_blob_blue.svg);
    top: 50%; right: 0;
}

.corner_blob_torgue {
    background-image: url(../img/banners/corner_blob_torq.svg);
    bottom: 0%; left: 0;
}

// CTA Banners
.calloutBanner {
    display: block;
    position: relative;
    padding: 20px;
    border-radius: 20px;

    @include MQ(M) {
        padding: 50px;
    }
}

.bannarBg {
    padding-top: 0;
    padding-bottom: 0;
    background-image: url(../img/banners/bannerPattern.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    mix-blend-mode: screen;
    background-blend-mode: screen;
    overflow: hidden;

    @include MQ(M) {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.calloutInfoWrapper{
    max-width: 430px;

    .bannarBg  &{
        padding: 40px 0;
        max-width: 100%;
    }
}

.bannerMastImage {
    max-width: 400px;
    margin-bottom: -50px;
}

// Banner real

.bannarShowReal {
    display: block;
    position: relative;
    width: 100%;
    text-align: right;
    margin-bottom: 120px;
}

.realImg {
    position: absolute;
    display: block;
    width: 100%;
}

.ShowRealBanner {
    max-width:90%;
    display: inline-block;
}

.image_layer_1 {
    right: -25px;
    bottom: -24px;
    max-width: 250px;

    @include MQ(M) {
        max-width: 400px;
        right: -35px;
        bottom: -32px;
    }
}

.image_layer_2 {
    right: 15px;
    bottom: -100px;
    max-width: 60%;

    @include MQ(M) {
        max-width: 55%;
        bottom: -150px;
    }
}

.image_layer_3 {
    max-width: 32%;
    z-index: 5;
    bottom: -100px;
    left: 10px;
    @include filter (drop-shadow(0px 24px 37px rgba(0, 0, 0, 0.2)) drop-shadow(0px 32px 40px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64px 46px rgba(0, 0, 0, 0.02)) drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)));

    @include MQ(M) {
        bottom: -150px;
        left: -10px;
    }
}

// Social Proof

.logo_grid {
    display: grid;
    @include flexbox();
    width: 100%;
    overflow-x: auto;
    gap: 10px;

    @include MQ(M) {
        justify-content: center;
    }
}

.logo_item {
    padding: 10px 15px;
    text-align: center;

    img {
        display: inline-block;
        height: 45px;
        width: auto;

        @include MQ(M) {
            .logo_lg & {
                height: 75px;
            }
        }
    }
}

.grey_scaled {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    @include transition(filter .4s ease-in-out 0s, opacity .4s ease-in-out 0s);
    opacity: 0.5;

    &:hover, &:focus {
        opacity: 1;
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }
}

