.courseHeader {
    clear: both;
    margin-bottom: 30px;
    
    @include MQ(M) {
        .section_cto {
            display: none;
        }
    }
}

.backbutton {
    @include flexbox();
    align-items: center;
    font-size: 1em;
    color: $border_grey_dark;
    fill: $border_grey_dark;
    
    &:hover, &:focus {
        color: $brand_accent;
        fill: $brand_accent;
    }

}

.bkIcon {
    margin-right: 10px;
    flex-shrink: 0;
}

.titleListItem {
    @include flexbox();
    align-items: center;

    &::before {
        height: 20px;
        width: 20px;
        display: inline-flex;
        content: "";
        margin-right: 10px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../img/icons/listMarkerCheck.svg);
    }

    > span {
        flex-grow: 1;
        width: 100%;
    }
    
    + .titleListItem {
        margin-top: 10px;
    }
}

.courseInfoWidget, .courseOptions {
    display: block;
    padding: 30px;
    border-radius: 20px;
}

.courseOptions {
    border: 1px solid $border_grey_light;
}



.postArticle {
    overflow: hidden;
    color: $color_text_alt;

    @include MQ(M) {
        font-size: 16px;
    }

    img {
        display: block;
        object-fit: fill;
        object-position: center center;
        text-align: center;
        margin: 10px 0 20px;
    }
    
    ol,ul {
        list-style: inherit;
        padding: 10px 20px;

        li {
            display: list-item;
            clear: both;
            padding-bottom: 5px;
        }
    }
    
    ol {
        li {
            list-style: decimal;

            > ol > li {
                list-style: lower-alpha;
            } 
        }
    }
        
    h2, h3, h4 {
        margin: 30px 0 15px;
        text-transform: capitalize;
        font-weight: 700;
        color: $brand_black;
    }
    
    a {
        text-decoration: underline;
        color: darken($brand_inverse, 15);

        &:hover, &:focus {
            color: $brand_accent;
        }
    }

    p:not(:last-of-type) {
        margin-bottom: 1em;
    }
}

// Search results list

.resultItem {
    display: block;
    padding: 30px 0;

    + .resultItem {
        border-top: 1px solid $border_grey;
    }
}

.resultExcerpt {
    line-height: 1.65em;
    max-height: 3.3em;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Help center article

.helpHighlight {
    padding:0 15px 15px;
    width: 100%;
    margin: 30px 0;
    border-radius: 10px;
    background-color: $brand_accent_light;
    border: 1px dashed $brand_accent;

    img {
        display: block;
        margin: 10px auto 20px;
        border-radius: 10px;
        border: 5px solid white;
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
        max-width: 640px;
    }

    @include MQ(M) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.helpCallOut {
    clear: both;
    margin-bottom: 30px;
}

.callOutWrapper {
    width: 100%;
    background-color: $brand_inverse;
    border-radius: 10px;
    padding: 15px;
    color: $color_text;

    @include MQ(M) {
        padding: 20px 30px;
    }
}