.mainContentArea {
    position: relative;
    width: 100%;
    padding-top: $header_height;
    // overflow: hidden;

    &.is_active {
        overflow: hidden
    }

    &::before {
        /* never visible - used to check MQ in jQuery */
        display: none;
        content: 'mobile';
    }
    @include MQ(M) {
        &::before {
            /* never visible - used to check MQ in jQuery */
            content: 'tablet';
        }
    }
    @include MQ(L) {
        margin-top: 0;
        &::before {
            /* never visible - used to check MQ in jQuery */
            content: 'desktop';
        }
    }
}

.section_block {
    padding: 50px 0;
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;

    .container {
        z-index: 5;
    }
}

.section_cto {
    margin-top: 30px;
    display: block;
    clear: both;
}

.section_header {
    padding-bottom: 40px;
    position: relative;

    .info_sub_row & {
        max-width: 440px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0
    }
}

.sectionRowHeader {
    @include flexbox();
    width: 100%;
    justify-content: space-between;
    margin-bottom: 40px;
}

.title {
    line-height: 1.45;
    font-size: 14px;
    @include break-inside(avoid);

    @include MQ(M) {
        font-size: 16px;
    }
}

.title_sm {
    font-size: 16px;
    
    @include MQ(M) {
        font-size: 21px;
    }
}

.title_md {
    font-size: 21px;
    
    @include MQ(M) {
        font-size: 32px;
    }
}

.title_lg {
    font-size: 32px;
    
    @include MQ(M) {
        font-size: 42px;
    }
}

// footer
.footerArea {
    position: relative;
    padding: 50px 0 0;
    background-color: $brand_inverse_light;
}

footer[role="contentinfo"] {
    width: 100%;
    clear: both;

    @include MQ-MAX(M) {
        text-align: center;
    }
}

.brandBlock {
    padding-top: 15px;
    padding-bottom: 15px;

    @include MQ(M) {
        text-align: left;
        margin-bottom: 0;
        border-bottom: none;
    }
}

.brand_media {
    position: relative;
    overflow: hidden;

    img {
        max-width: 40px;
        width: 100%;
    }
}

.footerBlock {
    @include flexbox();
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;

    @include MQ-MAX(M) {
        text-align: center;
        border-bottom: 1px solid rgba($border_grey_light, .3);
    }
}

.footerBase {
    background-color: $brand_primary;
    color: $color_white;
    margin-top: 40px;
    line-height: 1;
    padding: 5px 0;
    font-size: 14px;
}

@include MQ(M) {
    .ft_block_header {
        margin-bottom: 20px;
    }    
}

.blockHeaderLink {
    display: block;
    width: 100%;
    line-height: 32px;
    cursor: pointer;

    @include MQ(M) {
        pointer-events: none;
    }
}

.item_title {
    font-size: 16px;
}

.ft_nav_block > li {
    line-height: 2.5em;
}

.contactInfoLink {
    @include flexbox();
    align-items: center;

    @include MQ-MAX(M) {
        justify-content: center;
    }
}

.infoLinkIcon {
    flex-shrink: 0;
    margin-right: 10px;
    margin-top: -3px;
}

.footerCrumbs {
    @include flexbox();
    justify-content: center;
    flex-direction: column;
    align-items: center;

    > * {
        padding: 15px 0;
    }

    @include MQ(M) {
        flex-direction: row;
        justify-content: space-between;

    }
}

.localWrapper {
    @include flexbox();
    align-items: center;
}

.localInfo {
    flex-grow: 1;
    position: relative;
    margin-left: 10px;
    @include flexbox();
    gap: 5px;
}

.footer_links {
    @include flexbox();
    justify-content: center;

    @include MQ(M) {
        text-align: right;
    }
}

.footerLinkItem {
    display: block;
    padding: 7.5px 15px;

    &:hover, &:focus {
        text-decoration: underline;
    }
}

.company_certs {
    @include flexbox();
    align-items: center;
    justify-content: center;
}

.certFigure {
    flex: 1;
    
    + .certFigure {
        margin-left: 10px;
    }

    img {
        max-height: 56px;
        width: auto;
    }
}

// Contact form

.formPanelBox {
    margin-bottom: 50px;
}

.formPanelWrapper {
    width: 100%;
    border-radius: 20px;
    padding: 40px 20px;
    background-color: white;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.15);

    @include MQ(M) {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.contactInfoBlock {
    padding-bottom: 30px;
    border-bottom: 1px solid $border_grey;
    width: 100%;

    + .contactInfoBlock {
        margin-top: 30px;
    }
}

.contactAddrItem + .contactAddrItem {
    margin-top: 20px;
}

.videoStage {
    border: 10px solid white;
    border-top-width: 20px;
    border-bottom-width: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 40px rgba(black, 0.15);
}

.showcaseStage {
    border: 20px solid white;
    box-shadow: 0px 15px 32px rgba($brand_primary, 0.2);
    border-radius: 20px;
}

.formStepItem {
    visibility: hidden;
    opacity: 0;
    display: none;
    @include transition(visibility .4s ease-in-out 0s, opacity .4s ease-in-out 0s);

    .formWidgetBox & {
        border: 1px solid $border_grey_light;
        border-radius: 20px;
        padding: 20px;
    }

    &.stepActive {
        display: block;
        visibility: visible;
        opacity: 1;
    }
}

.info_sub_row {

    + .info_sub_row {
        padding-top: 40px;
        
        @include MQ(M) {
            padding-top: 70px;
        }
    }
}

.categoryRow {
    padding: 40px 0;

    .info_sub_row &:first-of-type {
        padding-top: 0;
    }

    & + .categoryRow {
        border-top: 1px solid $border_grey;
    }
}

.infoSubDetails {
    max-width: 480px;
    margin: auto;
}

// 
.infoMetaRow {
    clear: both;
    display: block;
    width: 100%;
    padding: 30px 0;

    + .infoMetaRow {
        border-top: 1px solid $border_grey;
    }
}

.planItem + .planItem {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid $border_grey;
}

.infoMetaWrapper {
    @include flexbox();
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    @include MQ-MAX(S) {
        flex-direction: column;
    }
}

.infoMetaDetails {
    flex: 1;
    color: $brand_black;
}

.infoMetaOptions {
    flex-shrink: 0;

    @include MQ-MAX(S) {
        margin-top: 20px;
    }
    
    @include MQ(S) {
        text-align: right;
    }
}

.metaControlBtn {
    color: $brand_accent;
    text-decoration: underline;
    padding: 7.5px 0;

    &:hover, &:focus {
        color: $brand_primary;
    }
}

// Gradely Framework

.frameWorkWheel {
    position: relative;
}

.frameWorkItem {
    @include flexbox();
    align-items: center;

    @include MQ(M) {
        position: absolute;
        max-width: 270px;
    }

    @include MQ-MAX(M) {
        + .frameWorkItem {
            margin-top: 30px;
        }
    }

    &:last-child {
        .frameWorkItemFig::before {
            display: none;
        }
    }
}

.frameWorkItemFig {
    flex-shrink: 0;
    margin-right: 20px;
    position: relative;

    img {
        max-width: 64px;
        position: relative;
        z-index: 3;
    }

    @include MQ-MAX(M) {
        &::before {
            height: 70px;
            content: "";
            display: block;
            width: 3px;
            background-color: $border_grey;
            position: absolute;
            @include center(x);
            top:50px;
        }
    }

    @include MQ(M) {
        display: none;
    }
}

.frameWorkItemInfo {
    flex-grow: 1;
}

.topLeft_spoke {
    top: 30px;
    left: 60px;

    @include MQ(M) {
        text-align: right;
    }
}

.topRight_spoke {
    top: 30px;
    right: 60px;

    // @include MQ(M) {
    //     text-align: right;
    // }
}

.bottomLeft_spoke {
    bottom: 30px;
    left: 60px;

    @include MQ(M) {
        text-align: right;
    }
}

.bottomRight_spoke {
    bottom: 30px;
    right: 60px;
}

.frameWorkWheelIllo {
    @include flexbox();
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
        display: inline-block;
        width: 420px;
        height: 100%;
    }

    @include MQ-MAX(M) {
        display: none;
    }
}

.howToStepItem {
    display: block;

    + .howToStepItem {
        margin-top: 15px;
    }

    &.active {
        background-color: transparent;
    }
}

.howToStepWrapper {
    padding: 20px 25px;
    background-color: white;
    border-radius: 15px;
    border: 1px solid transparent;
    color: $color_text;
    opacity: .7;
    @include flexbox();
    align-items: center;
    @include transition(all .4s ease-in-out);

    @include MQ-MAX(M) {
        opacity: 1;
        border-color: $border_grey;
    }

    .active & {
        opacity: 1;
        border-color: $border_grey;
    }
}

.activeInd {
    flex-shrink: 0;
    margin-left: 10px;
    opacity: 0;
    visibility: hidden;
    @include transition(all .4s ease-in-out);

    .active & {
        opacity: 1;
        visibility: visible;
    }

    @include MQ-MAX(M) {
        display: none;
    }
}

.featuredImage {
    position: relative;
    width: 100%;
    text-align: center;

    @include MQ-MAX(M) {
        margin-bottom: 30px;
    }
}

.mobileFigure {
    display: inline-block;
    max-width: 230px;
    position: relative;
    z-index: 4;
}