/* line 2, ../sass/partials/_base.scss */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 6, ../sass/partials/_base.scss */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* line 11, ../sass/partials/_base.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 17, ../sass/partials/_base.scss */
img {
  width: 100%;
  height: auto;
}

/* line 22, ../sass/partials/_base.scss */
ul, ol {
  padding: 0;
  margin: 0;
}

/* line 27, ../sass/partials/_base.scss */
mark {
  padding: 5px 8.5px;
  border-radius: 5px;
  background-color: #ffecb3;
}

/* line 33, ../sass/partials/_base.scss */
body {
  font-family: "Roboto", Segoe UI, Open Sans, sans-serif;
  font-size: 1.4rem;
  font-size: 14px;
  word-spacing: -.01em;
  letter-spacing: .01em;
  color: #474746;
  height: 100%;
  height: 100vh;
  width: 100%;
  font-weight: 400;
  position: relative;
  line-height: 1.85;
  background-color: white;
}
/* line 48, ../sass/partials/_base.scss */
body.scroll_lock {
  overflow: hidden;
}

/* line 53, ../sass/partials/_base.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* line 63, ../sass/partials/_base.scss */
h1 {
  font-size: 42px;
}

/* line 67, ../sass/partials/_base.scss */
h2 {
  font-size: 32px;
}

/* line 71, ../sass/partials/_base.scss */
h3 {
  font-size: 28px;
}

/* line 75, ../sass/partials/_base.scss */
h4 {
  font-size: 21px;
}

/* line 79, ../sass/partials/_base.scss */
h5 {
  font-size: 18px;
}

/* line 83, ../sass/partials/_base.scss */
h6 {
  font-size: 16px;
}

/* line 87, ../sass/partials/_base.scss */
p {
  margin: 0;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
}
/* line 91, ../sass/partials/_base.scss */
p + p {
  margin-top: 15px;
}

/* line 96, ../sass/partials/_base.scss */
address, address span {
  display: block;
}

/* Backgrounds */
/* line 101, ../sass/partials/_base.scss */
.bg__default {
  background-color: #E5E5E5 !important;
}

/* line 105, ../sass/partials/_base.scss */
.bg__white {
  background-color: white !important;
}

/* line 109, ../sass/partials/_base.scss */
.bg__off_white {
  background-color: #f5f5f5 !important;
}

/* line 113, ../sass/partials/_base.scss */
.bg__primary {
  background-color: #00B050 !important;
}

/* line 117, ../sass/partials/_base.scss */
.bg__secondary {
  background-color: #FFC000 !important;
}

/* line 121, ../sass/partials/_base.scss */
.bg__black {
  background-color: #353535 !important;
}

/* line 125, ../sass/partials/_base.scss */
.color__primary {
  color: #00B050 !important;
}

/* line 129, ../sass/partials/_base.scss */
.color__secondary {
  color: #FFC000 !important;
}

/* line 133, ../sass/partials/_base.scss */
.color__black {
  color: #353535 !important;
}

/* line 137, ../sass/partials/_base.scss */
.color__grey_dark {
  color: #757575 !important;
}

/* line 141, ../sass/partials/_base.scss */
.color__white {
  color: #f5f5f5 !important;
}

/* line 145, ../sass/partials/_base.scss */
.font-sm {
  font-size: 12px !important;
}

/* line 149, ../sass/partials/_base.scss */
.font-default {
  font-size: 14px !important;
}

/* line 153, ../sass/partials/_base.scss */
.font-md {
  font-size: 18px !important;
}

/* line 157, ../sass/partials/_base.scss */
.font-lg {
  font-size: 16px !important;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 157, ../sass/partials/_base.scss */
  .font-lg {
    font-size: 21px !important;
  }
}

/* line 165, ../sass/partials/_base.scss */
.font-bold {
  font-weight: 700;
}

/* line 169, ../sass/partials/_base.scss */
.font-regular {
  font-weight: 400;
}

/* line 173, ../sass/partials/_base.scss */
.font-style-italics {
  font-style: italic !important;
}

/* line 177, ../sass/partials/_base.scss */
.text-center {
  text-align: center !important;
}

/* line 181, ../sass/partials/_base.scss */
.text-right {
  text-align: right !important;
}

/* line 185, ../sass/partials/_base.scss */
.text-left {
  text-align: left !important;
}

/* line 189, ../sass/partials/_base.scss */
.caps_upper {
  text-transform: uppercase !important;
}

/* line 193, ../sass/partials/_base.scss */
.caps_normal {
  text-transform: none !important;
}

/* line 197, ../sass/partials/_base.scss */
.container {
  width: auto;
  position: relative;
  max-width: 1170px;
}

/* Landscape tablets and desktop or laptops */
@media only screen and (min-width: 992px) {
  /* line 204, ../sass/partials/_base.scss */
  .container-fluid {
    padding-left: 60px;
    padding-right: 60px;
  }
}
/* line 210, ../sass/partials/_base.scss */
.container_narrow {
  max-width: 770px;
}

/* line 214, ../sass/partials/_base.scss */
.blogLayoutWrapper {
  max-width: 800px;
}

/* line 218, ../sass/partials/_base.scss */
.content_narrow {
  max-width: 970px;
}

/* line 222, ../sass/partials/_base.scss */
.centered {
  float: none;
  margin: 0 auto;
}

/* line 227, ../sass/partials/_base.scss */
.hidden {
  display: none !important;
}

/* Mobile devices */
@media only screen and (max-width: 575px) {
  /* line 232, ../sass/partials/_base.scss */
  .hidden-sm {
    display: none !important;
  }
}
/* line 237, ../sass/partials/_base.scss */
.block_divider {
  height: 4px;
  display: block;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
}

/* line 244, ../sass/partials/_base.scss */
.margin_top_sm {
  margin-top: 10px !important;
}

/* line 248, ../sass/partials/_base.scss */
.margin_top_md {
  margin-top: 20px !important;
}

/* line 252, ../sass/partials/_base.scss */
.margin_bottom_lg {
  margin-bottom: 30px !important;
}

/* line 256, ../sass/partials/_base.scss */
.margin_top_lg {
  margin-top: 30px !important;
}

/* line 260, ../sass/partials/_base.scss */
.margin_top_xl {
  margin-top: 50px !important;
}

/* line 264, ../sass/partials/_base.scss */
.margin_bottom_sm {
  margin-bottom: 10px !important;
}

/* line 268, ../sass/partials/_base.scss */
.margin_bottom_md {
  margin-bottom: 20px !important;
}

/* line 272, ../sass/partials/_base.scss */
.no_margin {
  margin: 0 !important;
}

/* line 276, ../sass/partials/_base.scss */
.padding-top-none {
  padding-top: 0 !important;
}

/* line 1, ../sass/partials/_form.scss */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #959595;
}

/* line 6, ../sass/partials/_form.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #959595;
}

/* line 11, ../sass/partials/_form.scss */
:-ms-input-placeholder {
  /* IE 10+ */
  color: #959595;
}

/* line 16, ../sass/partials/_form.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #959595;
}

/* line 21, ../sass/partials/_form.scss */
.input-group {
  z-index: 1;
}
/* line 24, ../sass/partials/_form.scss */
.input-group > .form-control {
  border-right: none;
}
/* line 28, ../sass/partials/_form.scss */
.input-group + .input-group {
  margin-top: 1em;
}

/* line 33, ../sass/partials/_form.scss */
.input-group-addon {
  background: transparent;
  color: #E5E5E5;
  font-size: .925em;
  padding: 0 15px;
  align-self: center;
  height: 100%;
  line-height: 45px;
  border: 1px solid #d5d5d5;
  border-left: none;
  border-radius: 0 5px 5px 0;
  width: auto;
}

/* line 47, ../sass/partials/_form.scss */
.input-group-btn {
  font-size: 1em;
}
/* line 49, ../sass/partials/_form.scss */
.input-group-btn .btn {
  vertical-align: top;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

/* line 56, ../sass/partials/_form.scss */
.form-group {
  position: relative;
  margin-bottom: 25px;
}
/* line 60, ../sass/partials/_form.scss */
.form-group .checkbox-inline {
  margin-top: 0;
}
/* line 64, ../sass/partials/_form.scss */
.form-group > a:not(.btn) {
  display: inline-block;
  margin-top: 10px;
}

/* line 70, ../sass/partials/_form.scss */
input:focus {
  outline: none;
}

/* line 75, ../sass/partials/_form.scss */
.text-error, .has-error {
  font-size: 12px;
  color: red !important;
}

/* line 80, ../sass/partials/_form.scss */
.form-control {
  padding: 8px 12px;
  font-size: 14px;
  line-height: normal;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  outline: 0;
  width: 100%;
  min-height: 45px;
  position: relative;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  overflow: hidden;
  color: #474746;
  text-indent: .01px;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-box-shadow: 0 0 0, transparent;
  -webkit-box-shadow: 0 0 0, transparent;
  box-shadow: 0 0 0, transparent;
  box-shadow: unset;
  vertical-align: middle;
}
/* line 102, ../sass/partials/_form.scss */
.form-control:focus {
  outline: 0;
  border-color: #FFC000;
  box-shadow: none;
}

/* line 109, ../sass/partials/_form.scss */
.searchFormInput {
  padding-bottom: 15px;
  text-align: center;
  box-shadow: inset 0 -2px 0 #d5d5d5;
  border: none;
  font-size: 21px;
  font-weight: 300;
  width: 100%;
  background-color: transparent;
  margin-bottom: 15px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 121, ../sass/partials/_form.scss */
.searchFormInput:focus {
  box-shadow: inset 0 -2px 0 #00B050;
}

/* line 126, ../sass/partials/_form.scss */
.control-label {
  text-transform: none;
  font-size: 1em;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 7.5px;
  line-height: 1.4rem;
  color: #757575;
}
/* line 135, ../sass/partials/_form.scss */
[class*="checkbox"] .control-label, [class*="radio"] .control-label {
  color: inherit;
}

/* line 140, ../sass/partials/_form.scss */
select.form-control {
  background: white url(../img/icons/arrow-down.png) right center no-repeat;
  padding-right: 25px;
}
/* line 143, ../sass/partials/_form.scss */
select.form-control:focus {
  outline: none;
  background: white url(../img/icons/arrow-down.png) right center no-repeat;
}

/* line 149, ../sass/partials/_form.scss */
.radio, .checkbox {
  line-height: 1;
}
/* line 152, ../sass/partials/_form.scss */
.radio + .radio, .radio + .checkbox, .checkbox + .radio, .checkbox + .checkbox {
  margin-top: 15px;
}

/* line 157, ../sass/partials/_form.scss */
input[type="radio"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
  position: relative;
  margin-top: 3px;
  margin-right: 7.5px;
  vertical-align: top;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
/* line 170, ../sass/partials/_form.scss */
.controlSummary input[type="radio"], .controlSummary
.radio input[type="radio"], .controlSummary
.radio-inline input[type="radio"] {
  margin-top: 6px;
}
/* line 174, ../sass/partials/_form.scss */
input[type="radio"]:focus,
.radio input[type="radio"]:focus,
.radio-inline input[type="radio"]:focus {
  outline: none;
}
/* line 177, ../sass/partials/_form.scss */
input[type="radio"]:before, input[type="radio"]:after,
.radio input[type="radio"]:before,
.radio input[type="radio"]:after,
.radio-inline input[type="radio"]:before,
.radio-inline input[type="radio"]:after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -moz-transition: 240ms;
  -o-transition: 240ms;
  -webkit-transition: 240ms;
  transition: 240ms;
}
/* line 186, ../sass/partials/_form.scss */
input[type="radio"]:before,
.radio input[type="radio"]:before,
.radio-inline input[type="radio"]:before {
  position: absolute;
  left: 0;
  top: -3px;
  background-color: #FFC000;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
/* line 193, ../sass/partials/_form.scss */
input[type="radio"]:after,
.radio input[type="radio"]:after,
.radio-inline input[type="radio"]:after {
  position: relative;
  top: -3px;
  border: 2px solid #959595;
}
/* line 198, ../sass/partials/_form.scss */
input[type="radio"]:checked:before,
.radio input[type="radio"]:checked:before,
.radio-inline input[type="radio"]:checked:before {
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
/* line 201, ../sass/partials/_form.scss */
input[type="radio"]:disabled:checked:before,
.radio input[type="radio"]:disabled:checked:before,
.radio-inline input[type="radio"]:disabled:checked:before {
  background-color: #959595;
}
/* line 204, ../sass/partials/_form.scss */
input[type="radio"]:checked:after,
.radio input[type="radio"]:checked:after,
.radio-inline input[type="radio"]:checked:after {
  border-color: #FFC000;
}
/* line 207, ../sass/partials/_form.scss */
input[type="radio"]:disabled:after, input[type="radio"]:disabled:checked:after,
.radio input[type="radio"]:disabled:after,
.radio input[type="radio"]:disabled:checked:after,
.radio-inline input[type="radio"]:disabled:after,
.radio-inline input[type="radio"]:disabled:checked:after {
  border-color: #959595;
}

/* line 213, ../sass/partials/_form.scss */
input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: relative;
  border: none;
  margin-bottom: -6px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}
/* line 222, ../sass/partials/_form.scss */
input[type="checkbox"]:focus,
.checkbox input[type="checkbox"]:focus,
.checkbox-inline input[type="checkbox"]:focus {
  outline: none;
}
/* line 225, ../sass/partials/_form.scss */
input[type="checkbox"]:after,
.checkbox input[type="checkbox"]:after,
.checkbox-inline input[type="checkbox"]:after {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  margin-top: -2px;
  margin-right: 7.5px;
  border: 2px solid #959595;
  border-radius: 3px;
  -moz-transition: 240ms;
  -o-transition: 240ms;
  -webkit-transition: 240ms;
  transition: 240ms;
}
/* line 236, ../sass/partials/_form.scss */
input[type="checkbox"]:checked:before,
.checkbox input[type="checkbox"]:checked:before,
.checkbox-inline input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: 0;
  left: 7px;
  display: table;
  width: 6px;
  height: 14px;
  border: 2px solid #f5f5f5;
  border-top-width: 0;
  border-left-width: 0;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 249, ../sass/partials/_form.scss */
input[type="checkbox"]:checked:after,
.checkbox input[type="checkbox"]:checked:after,
.checkbox-inline input[type="checkbox"]:checked:after {
  background-color: #00B050;
  border-color: #00B050;
}
/* line 253, ../sass/partials/_form.scss */
input[type="checkbox"]:disabled:after,
.checkbox input[type="checkbox"]:disabled:after,
.checkbox-inline input[type="checkbox"]:disabled:after {
  border-color: #959595;
}
/* line 256, ../sass/partials/_form.scss */
input[type="checkbox"]:disabled:checked:after,
.checkbox input[type="checkbox"]:disabled:checked:after,
.checkbox-inline input[type="checkbox"]:disabled:checked:after {
  background-color: #E5E5E5;
  border-color: transparent;
}
/* line 261, ../sass/partials/_form.scss */
input[type="checkbox"]:disabled:checked:before,
.checkbox input[type="checkbox"]:disabled:checked:before,
.checkbox-inline input[type="checkbox"]:disabled:checked:before {
  border-color: #959595;
}

/* line 266, ../sass/partials/_form.scss */
.required::after {
  content: "*";
  font-size: 1.025em;
  padding-left: 3px;
  color: red;
}

/* line 273, ../sass/partials/_form.scss */
input[disabled] {
  background-color: #c5c5c5;
}

/* line 277, ../sass/partials/_form.scss */
.radio-inline,
.checkbox-inline {
  padding: 10px 0 5px;
  display: inline-flex;
  align-items: center;
}
/* line 283, ../sass/partials/_form.scss */
.radio-inline + .radio-inline,
.radio-inline + .checkbox-inline,
.checkbox-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-left: 30px;
}

/* line 289, ../sass/partials/_form.scss */
label {
  font-weight: normal;
}
/* line 292, ../sass/partials/_form.scss */
label.radio-inline + label {
  margin-left: 30px;
}
/* line 296, ../sass/partials/_form.scss */
label.checkbox-inline {
  margin: 5px 0;
  margin-bottom: 0 !important;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
}

/* line 1, ../sass/partials/_heros.scss */
.hero_area {
  background-size: cover;
  width: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  overflow: hidden;
  /* Landscape tablets and desktop or laptops */
}
@media only screen and (min-width: 992px) {
  /* line 1, ../sass/partials/_heros.scss */
  .hero_area {
    min-height: 380px;
    max-height: 550px;
  }
}

/* line 16, ../sass/partials/_heros.scss */
.hero_area {
  background-color: #00B050;
}
/* line 20, ../sass/partials/_heros.scss */
.hero_area .container {
  z-index: 5;
}
/* line 24, ../sass/partials/_heros.scss */
.hero_area::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: rgba(53, 53, 53, 0.35);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 100%);
}

/* line 36, ../sass/partials/_heros.scss */
.heroContentWrapper {
  padding: 100px 0;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 36, ../sass/partials/_heros.scss */
  .heroContentWrapper {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

/* line 48, ../sass/partials/_heros.scss */
.home_hero {
  background-color: #353535;
  background-image: url(../img/banners/aus_banner.jpg);
}

/* SVG Icon systems */
/* line 2, ../sass/partials/_custom_icons.scss */
.cust_icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  overflow: hidden;
  vertical-align: middle;
  fill: inherit;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* line 14, ../sass/partials/_custom_icons.scss */
svg {
  display: inline-block;
  width: 100%;
}

/* line 19, ../sass/partials/_custom_icons.scss */
.icon_xs {
  width: 16px;
  height: 16px;
}

/* line 24, ../sass/partials/_custom_icons.scss */
.icon_sm {
  width: 32px;
  height: 32px;
}

/* line 29, ../sass/partials/_custom_icons.scss */
.icon_md {
  width: 48px;
  height: 48px;
}

/* line 34, ../sass/partials/_custom_icons.scss */
.icon_lg {
  width: 64px;
  height: 64px;
}

/* line 39, ../sass/partials/_custom_icons.scss */
.icon_xl {
  width: 64px;
  height: 64px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 39, ../sass/partials/_custom_icons.scss */
  .icon_xl {
    width: 116px;
    height: 116px;
  }
}

/* line 49, ../sass/partials/_custom_icons.scss */
.info_icon {
  opacity: .5;
}

/* line 53, ../sass/partials/_custom_icons.scss */
.icon_search {
  background-image: url(../img/icons/search.svg);
}

/* line 57, ../sass/partials/_custom_icons.scss */
.icon_print {
  background-image: url(../img/icons/print_icon.svg);
}

/* line 1, ../sass/partials/_navigation.scss */
a {
  text-decoration: none;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  color: inherit;
}
/* line 6, ../sass/partials/_navigation.scss */
a:hover, a:focus {
  color: #00B050;
  text-decoration: none;
}
/* line 12, ../sass/partials/_navigation.scss */
a:focus {
  outline: thin dotted rgba(0, 176, 80, 0.5);
}
/* line 14, ../sass/partials/_navigation.scss */
.no-touch a:focus {
  outline: none;
}

/* line 20, ../sass/partials/_navigation.scss */
a:link,
button {
  -webkit-tap-highlight-color: rgba(255, 192, 0, 0.35);
  -moz-tap-highlight-color: rgba(255, 192, 0, 0.35);
}

/* line 26, ../sass/partials/_navigation.scss */
button {
  outline: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  width: auto;
  height: auto;
  color: inherit;
  background: 0 0;
  cursor: pointer;
  text-align: center;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
/* line 39, ../sass/partials/_navigation.scss */
button:focus, button:visited {
  outline: none;
}

/* line 44, ../sass/partials/_navigation.scss */
.btn {
  border-radius: 40px;
  padding: 10px 22px;
  font-size: 14px;
  letter-spacing: 0.05em;
  font-weight: 600;
  background-color: transparent;
  color: white;
  fill: #E5E5E5;
  border: 2px solid transparent;
  cursor: pointer;
  display: inline-block;
  position: relative;
  max-width: 100%;
  box-shadow: 0px 0px 0px transparent;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  text-decoration: none !important;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 44, ../sass/partials/_navigation.scss */
  .btn {
    min-width: 180px;
    padding: 12px 32px;
  }
  /* line 66, ../sass/partials/_navigation.scss */
  .btn + .btn {
    margin-left: 1.5rem;
  }
}
/* line 71, ../sass/partials/_navigation.scss */
.btn:hover, .btn:focus {
  text-decoration: none !important;
  box-shadow: 2px 5px 10px 0 rgba(53, 53, 53, 0.4);
  background-color: white;
}
/* line 77, ../sass/partials/_navigation.scss */
.no-touch .btn:hover, .no-touch .btn:focus {
  outline: none;
}

/* line 83, ../sass/partials/_navigation.scss */
.btn-primary {
  background-color: #00B050;
  color: #f5f5f5;
}
/* line 86, ../sass/partials/_navigation.scss */
.btn-primary:hover, .btn-primary:focus {
  border-color: #00B050;
  color: #00B050;
}

/* line 93, ../sass/partials/_navigation.scss */
.btn-secondary {
  background-color: #FFC000;
  color: #353535;
}
/* line 97, ../sass/partials/_navigation.scss */
.btn-secondary:hover, .btn-secondary:focus {
  border-color: #FFC000;
  color: #FFC000;
}

/* line 104, ../sass/partials/_navigation.scss */
.btn-default {
  background-color: transparent;
  border-color: #474746;
  color: #474746;
}
/* line 109, ../sass/partials/_navigation.scss */
.btn-default:hover, .btn-default:focus, .btn-default:visited {
  border-color: transparent;
  background-color: #353535;
  color: #f5f5f5;
}

/* line 118, ../sass/partials/_navigation.scss */
.btn-sm.btn,
.btn-group-sm > .btn {
  font-size: 12px;
  padding: 8.5px 1.5em;
}

/* line 124, ../sass/partials/_navigation.scss */
.btn-lg.btn,
.btn-group-lg > .btn {
  padding: 15px 4em;
  font-size: 14px;
}

/* line 130, ../sass/partials/_navigation.scss */
.btn-link {
  cursor: pointer;
  font-size: 1em;
  display: inline-block;
  text-decoration: underline;
  color: #00B050;
}
/* line 137, ../sass/partials/_navigation.scss */
.btn-link:hover, .btn-link:focus {
  color: #00642d;
  text-decoration: none;
}
/* line 143, ../sass/partials/_navigation.scss */
.btn-link:active, .btn-link[disabled] {
  color: #959595;
  outline: none;
}

/* line 149, ../sass/partials/_navigation.scss */
.social_links {
  padding-bottom: 15px;
  clear: both;
  fill: #00B050;
  color: #00B050;
}
/* line 155, ../sass/partials/_navigation.scss */
.social_links.footItemRow {
  fill: #959595;
}
/* line 159, ../sass/partials/_navigation.scss */
.postShare .social_links {
  padding-bottom: 0;
}
/* line 163, ../sass/partials/_navigation.scss */
.social_links a {
  display: inline-block;
  font-size: 18px;
  fill: inherit;
  vertical-align: bottom;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
/* line 170, ../sass/partials/_navigation.scss */
.social_links a + a {
  margin-left: 15px;
}
/* line 174, ../sass/partials/_navigation.scss */
.social_links a:hover {
  fill: #FFC000;
}

/* line 180, ../sass/partials/_navigation.scss */
.dialogDismiss {
  position: absolute;
  right: 15px;
  top: 10px;
  display: flex;
  z-index: 1000;
}

/* line 188, ../sass/partials/_navigation.scss */
.pageClose {
  position: fixed;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 188, ../sass/partials/_navigation.scss */
  .pageClose {
    top: 30px;
    right: 40px;
  }
}

/* line 196, ../sass/partials/_navigation.scss */
.close_dialog {
  z-index: 5;
  width: 30px;
  height: 30px;
  font-size: 10px;
  text-align: center;
  border-radius: 50%;
  position: relative;
}
/* line 206, ../sass/partials/_navigation.scss */
.close_dialog::before, .close_dialog::after {
  position: absolute;
  content: "";
  width: 2px;
  background: #959595;
  height: 14px;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -1px;
}
/* line 217, ../sass/partials/_navigation.scss */
.close_dialog::before {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 220, ../sass/partials/_navigation.scss */
.close_dialog::after {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 223, ../sass/partials/_navigation.scss */
.close_dialog:hover, .close_dialog:focus {
  background-color: #E5E5E5;
}
/* line 226, ../sass/partials/_navigation.scss */
.close_dialog:hover::before, .close_dialog:hover::after, .close_dialog:focus::before, .close_dialog:focus::after {
  background-color: #353535;
}

/* line 233, ../sass/partials/_navigation.scss */
.cls_lg {
  width: 48px;
  height: 48px;
}
/* line 237, ../sass/partials/_navigation.scss */
.cls_lg::before, .cls_lg::after {
  height: 24px;
  margin-top: -12px;
}

/* line 243, ../sass/partials/_navigation.scss */
.controlBtn:not(.nav_trigger) {
  font-size: 12px;
  display: inline-flex;
  padding: 0;
  opacity: .5;
}
/* line 249, ../sass/partials/_navigation.scss */
.controlBtn:not(.nav_trigger):hover, .controlBtn:not(.nav_trigger):focus {
  opacity: 1;
}

/* line 254, ../sass/partials/_navigation.scss */
.controlIcon {
  flex-shrink: 0;
  margin-right: 5px;
}

/* line 2, ../sass/partials/_header_nav.scss */
header[role="banner"] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Landscape tablets and desktop or laptops */
}
@media only screen and (min-width: 992px) {
  /* line 2, ../sass/partials/_header_nav.scss */
  header[role="banner"] {
    height: 120px;
  }
}
/* line 15, ../sass/partials/_header_nav.scss */
header[role="banner"] [class*="container"] {
  height: 100%;
  position: relative;
}

/* line 21, ../sass/partials/_header_nav.scss */
.mainHeader {
  background-color: white;
  color: #474746;
  -moz-transition: background-color 0.6s ease-in-out;
  -o-transition: background-color 0.6s ease-in-out;
  -webkit-transition: background-color 0.6s ease-in-out;
  transition: background-color 0.6s ease-in-out;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-bottom: none;
  /* Landscape tablets and desktop or laptops */
  /* Landscape tablets and desktop or laptops */
}
@media only screen and (max-width: 991px) {
  /* line 21, ../sass/partials/_header_nav.scss */
  .mainHeader {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    background: white;
  }
}
@media only screen and (min-width: 992px) {
  /* line 35, ../sass/partials/_header_nav.scss */
  .mainHeader.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -120px;
    background-color: rgba(255, 255, 255, 0.985);
    -moz-transition: -moz-transform 0.6s ease-in-out;
    -o-transition: -o-transform 0.6s ease-in-out;
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  }
  /* line 43, ../sass/partials/_header_nav.scss */
  .mainHeader.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -moz-transform: translate3d(0, 120px, 0);
    -ms-transform: translate3d(0, 120px, 0);
    -webkit-transform: translate3d(0, 120px, 0);
    transform: translate3d(0, 120px, 0);
  }
}

/* line 50, ../sass/partials/_header_nav.scss */
.navbarWrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  z-index: 1;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

/* line 58, ../sass/partials/_header_nav.scss */
.navbarGroupItem {
  width: auto;
  height: 100%;
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  position: relative;
}

/* line 67, ../sass/partials/_header_nav.scss */
.navBarItemLeft {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  z-index: 5;
  flex-shrink: 0;
}

/* line 75, ../sass/partials/_header_nav.scss */
.navBarItemRight {
  float: right;
  justify-content: flex-end;
  z-index: 5;
  flex-shrink: 0;
}

/* line 82, ../sass/partials/_header_nav.scss */
.brand_img {
  display: block;
}
/* line 85, ../sass/partials/_header_nav.scss */
header[role="banner"] .brand_img {
  height: 120px;
}

/* line 90, ../sass/partials/_header_nav.scss */
.logo_link {
  padding: 0;
  display: inline-block;
  line-height: 120px;
  width: 220px;
  position: relative;
  height: 100%;
  /* Landscape tablets and desktop or laptops */
}
@media only screen and (min-width: 992px) {
  /* line 90, ../sass/partials/_header_nav.scss */
  .logo_link {
    width: 350px;
  }
}
/* line 102, ../sass/partials/_header_nav.scss */
.logo_link > img {
  vertical-align: middle;
  display: inline-block;
}

/* line 108, ../sass/partials/_header_nav.scss */
.navMenu {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  width: 100%;
}

/* line 114, ../sass/partials/_header_nav.scss */
.menuPrimary {
  -moz-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  -o-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  -webkit-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  left: 0;
  width: 320px;
  min-height: 650px;
  height: 100%;
  padding-top: 50px;
  position: fixed;
  visibility: hidden;
  top: 0;
  flex-direction: column;
  background-color: white;
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  z-index: 100;
}
/* line 131, ../sass/partials/_header_nav.scss */
.is-active .menuPrimary {
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  visibility: visible;
  -moz-transition: -moz-transform 0.8s cubic-bezier(0.68, 0.34, 0.15, 1);
  -o-transition: -o-transform 0.8s cubic-bezier(0.68, 0.34, 0.15, 1);
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.68, 0.34, 0.15, 1);
  transition: transform 0.8s cubic-bezier(0.68, 0.34, 0.15, 1);
}

/* line 138, ../sass/partials/_header_nav.scss */
.controlBtn {
  position: relative;
  z-index: 10;
}
/* line 142, ../sass/partials/_header_nav.scss */
.controlBtn + * {
  margin-left: 30px;
}
/* line 146, ../sass/partials/_header_nav.scss */
.controlBtn > a, .controlBtn > button {
  fill: #353535;
}
/* line 149, ../sass/partials/_header_nav.scss */
.controlBtn > a:hover, .controlBtn > a:focus, .controlBtn > button:hover, .controlBtn > button:focus {
  fill: #00B050;
}

/* line 155, ../sass/partials/_header_nav.scss */
.nav_trigger {
  z-index: 1000;
}

/* line 159, ../sass/partials/_header_nav.scss */
.menuListItem {
  position: relative;
  padding: 0;
  /* Landscape tablets and desktop or laptops */
}
@media only screen and (min-width: 992px) {
  /* line 164, ../sass/partials/_header_nav.scss */
  .menuListItem + .menuListItem {
    border-left: 1px solid #E5E5E5;
  }
}

/* line 170, ../sass/partials/_header_nav.scss */
.menuLinkItem:not(.btn) {
  display: block;
  padding: 12px 20px;
  white-space: nowrap;
  line-height: 1;
  font-weight: 600;
  font-size: 14px;
  border-radius: 25px;
  background-color: transparent;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  text-align: center;
}
/* line 182, ../sass/partials/_header_nav.scss */
.navMenuBlockItem .menuLinkItem:not(.btn) {
  font-size: 16px;
  text-align: left;
  width: 100%;
  display: flex;
  padding-left: 0;
  padding-right: 0;
  align-items: center;
  justify-content: space-between;
}
/* line 192, ../sass/partials/_header_nav.scss */
.navMenuBlockItem .menuLinkItem:not(.btn)::after {
  height: 24px;
  width: 24px;
  display: inline-flex;
  content: "";
  opacity: .75;
  margin-right: 10px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/icons/chevron-right.svg);
}
/* line 208, ../sass/partials/_header_nav.scss */
.active .menuLinkItem:not(.btn), .menuLinkItem:not(.btn):hover, .menuLinkItem:not(.btn):focus {
  color: #00B050;
}
/* line 213, ../sass/partials/_header_nav.scss */
.active .menuLinkItem:not(.btn)::after, .menuLinkItem:not(.btn):hover::after, .menuLinkItem:not(.btn):focus::after {
  opacity: 1;
}
/* line 218, ../sass/partials/_header_nav.scss */
.active .menuLinkItem:not(.btn) {
  font-weight: 700;
}

/* line 223, ../sass/partials/_header_nav.scss */
.menuLinkBtn {
  display: block;
  padding: 10px 0;
  white-space: nowrap;
  line-height: 1.5;
  font-size: 14px;
}

/* line 231, ../sass/partials/_header_nav.scss */
.navMenuBlockItem {
  position: relative;
  width: 100%;
  /* Landscape tablets and desktop or laptops */
}
@media only screen and (min-width: 992px) {
  /* line 236, ../sass/partials/_header_nav.scss */
  .navMenuBlockItem.mainMenuAux {
    display: none;
  }
}

/* line 242, ../sass/partials/_header_nav.scss */
.menuAltPrimary {
  margin-right: 20px;
  /* Landscape tablets and desktop or laptops */
}
@media only screen and (max-width: 991px) {
  /* line 242, ../sass/partials/_header_nav.scss */
  .menuAltPrimary {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}

/* line 252, ../sass/partials/_header_nav.scss */
.control_label {
  margin-left: 5px;
  /* Tablets and phablets */
}
@media only screen and (max-width: 767px) {
  /* line 252, ../sass/partials/_header_nav.scss */
  .control_label {
    display: none;
  }
}

/* line 260, ../sass/partials/_header_nav.scss */
.primary-nav-trigger {
  position: relative;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  border-radius: 5px;
}
/* line 271, ../sass/partials/_header_nav.scss */
.primary-nav-trigger:hover, .primary-nav-trigger:focus {
  background-color: #f5f5f5;
}

/* line 277, ../sass/partials/_header_nav.scss */
.menu-icon {
  /* this span is the central line of the menu icon */
  display: block;
  width: 24px;
  height: 2px;
  position: relative;
  background-color: #353535;
  -moz-transition: background-color 0.6s;
  -o-transition: background-color 0.6s;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
  /* these are the upper and lower lines in the menu icon */
}
/* line 286, ../sass/partials/_header_nav.scss */
.menu-icon::before, .menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #353535;
  right: 0;
  -moz-transition: -moz-transform 0.6s, top 0.6s, background-color 0s;
  -o-transition: -o-transform 0.6s, top 0.6s, background-color 0s;
  -webkit-transition: -webkit-transform 0.6s, top 0.6s, background-color 0s;
  transition: transform 0.6s, top 0.6s, background-color 0s;
}
/* line 296, ../sass/partials/_header_nav.scss */
.menu-icon::before {
  top: -7px;
}
/* line 299, ../sass/partials/_header_nav.scss */
.menu-icon::after {
  top: 7px;
}
/* line 302, ../sass/partials/_header_nav.scss */
.menu-icon.is-clicked {
  background-color: rgba(53, 53, 53, 0);
}
/* line 304, ../sass/partials/_header_nav.scss */
.menu-icon.is-clicked::before, .menu-icon.is-clicked::after {
  background-color: #353535;
}
/* line 308, ../sass/partials/_header_nav.scss */
.menu-icon.is-clicked::before {
  top: 0;
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* line 312, ../sass/partials/_header_nav.scss */
.menu-icon.is-clicked::after {
  top: 0;
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

/* line 319, ../sass/partials/_header_nav.scss */
.navSearchBar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #f5f5f5;
  visibility: hidden;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}
/* line 332, ../sass/partials/_header_nav.scss */
.showSearch .navSearchBar {
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  visibility: visible;
  -moz-transition: -moz-transform 0.4s ease-in-out 0.1s;
  -o-transition: -o-transform 0.4s ease-in-out 0.1s;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  -webkit-transition-delay: 0.1s;
  transition: transform 0.4s ease-in-out 0.1s;
}

/* line 339, ../sass/partials/_header_nav.scss */
.auxDialogDismiss {
  position: fixed;
  top: 30px;
  right: 30px;
}

/* line 345, ../sass/partials/_header_nav.scss */
.searchBarWrapper {
  width: 100%;
  height: 400px;
  padding: 100px 15px 15px;
  display: block;
  clear: both;
}

/* line 353, ../sass/partials/_header_nav.scss */
.searchForm {
  max-width: 430px;
  margin: auto;
  text-align: center;
}

/* line 359, ../sass/partials/_header_nav.scss */
.brandImage {
  display: block;
}
/* line 362, ../sass/partials/_header_nav.scss */
.brandImage img {
  max-width: 128px;
  display: inline-block;
}

/* line 368, ../sass/partials/_header_nav.scss */
.auxNavWrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 30px 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

/* line 377, ../sass/partials/_header_nav.scss */
.navBarBlock {
  width: 100%;
  flex-shrink: 0;
}

/* line 382, ../sass/partials/_header_nav.scss */
.navBarMenu {
  flex-grow: 1;
}

/* line 1, ../sass/partials/_layout.scss */
.media_item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
}

/* line 6, ../sass/partials/_layout.scss */
.media_figure {
  position: relative;
  flex-shrink: 0;
  margin-right: 15px;
}

/* line 12, ../sass/partials/_layout.scss */
.media_info {
  flex: 1;
}

/* line 16, ../sass/partials/_layout.scss */
.postArticleWrapper {
  max-width: 1380px;
  margin: 0 auto;
  display: block;
}

/* line 22, ../sass/partials/_layout.scss */
.postArticleLayout {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  columns: 1;
  width: 100%;
}

/* line 28, ../sass/partials/_layout.scss */
.postTileColumn {
  width: 100%;
  /* Mobile devices */
  /* Tablets and phablets */
}
@media only screen and (min-width: 576px) {
  /* line 28, ../sass/partials/_layout.scss */
  .postTileColumn {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  /* line 28, ../sass/partials/_layout.scss */
  .postTileColumn {
    width: calc(100% / 3);
  }
}

/* line 40, ../sass/partials/_layout.scss */
.masonryTile {
  display: block;
  clear: both;
  width: 100%;
  padding: 1px;
}

/* line 47, ../sass/partials/_layout.scss */
.masonryTileWrapper {
  display: block;
  position: relative;
  color: #474746;
  background-color: white;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
}
/* line 56, ../sass/partials/_layout.scss */
.summaryTile .masonryTileWrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* Tablets and phablets */
}
@media only screen and (max-width: 767px) {
  /* line 56, ../sass/partials/_layout.scss */
  .summaryTile .masonryTileWrapper {
    flex-direction: column;
  }
}

/* line 65, ../sass/partials/_layout.scss */
.postImageHolder {
  width: 100%;
  flex-shrink: 0;
}
/* line 68, ../sass/partials/_layout.scss */
.summaryTile .postImageHolder {
  /* Mobile devices */
  /* Tablets and phablets */
}
@media only screen and (min-width: 576px) {
  /* line 68, ../sass/partials/_layout.scss */
  .summaryTile .postImageHolder {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  /* line 68, ../sass/partials/_layout.scss */
  .summaryTile .postImageHolder {
    width: calc(100% / 3);
  }
}

/* line 80, ../sass/partials/_layout.scss */
.postTileImage {
  height: auto;
  display: block;
  z-index: 1;
  object-position: center;
}
/* line 86, ../sass/partials/_layout.scss */
.summaryTile .postTileImage {
  height: 100%;
}

/* line 91, ../sass/partials/_layout.scss */
.tileContent {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.95);
  font-size: 13px;
  color: rgba(71, 71, 70, 0.85);
}
/* line 97, ../sass/partials/_layout.scss */
.postTile .tileContent {
  position: relative;
  bottom: 0px;
  margin-top: 5px;
  width: 100%;
  z-index: 2;
}
/* line 105, ../sass/partials/_layout.scss */
.summaryTile .tileContent {
  flex: 1;
  /* Mobile devices */
  /* Tablets and phablets */
}
@media only screen and (min-width: 576px) {
  /* line 105, ../sass/partials/_layout.scss */
  .summaryTile .tileContent {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  /* line 105, ../sass/partials/_layout.scss */
  .summaryTile .tileContent {
    padding: 30px;
    width: calc(200% / 3);
  }
}

/* line 118, ../sass/partials/_layout.scss */
.tileMenuHeader {
  display: block;
  background-color: #FFC000;
  color: #353535;
  padding: 10px 15px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* line 129, ../sass/partials/_layout.scss */
.postMenu {
  font-size: 14px;
  color: #353535;
}

/* line 134, ../sass/partials/_layout.scss */
.postMenuLink {
  padding: 7.5px 15px;
  display: block;
}

/* line 139, ../sass/partials/_layout.scss */
.prose_block {
  padding-top: 40px;
  padding-bottom: 40px;
}
/* line 143, ../sass/partials/_layout.scss */
.prose_block + .prose_block {
  padding-top: 0;
}
/* line 147, ../sass/partials/_layout.scss */
.prose_block:first-of-type {
  padding-top: 0;
}
/* line 151, ../sass/partials/_layout.scss */
.prose_block:last-of-type {
  padding-bottom: 0;
}

/* line 1, ../sass/partials/_sections.scss */
.mainContentArea {
  position: relative;
  width: 100%;
  padding-top: 80px;
  background-color: #f5f5f5;
  /* Tablets and phablets */
  /* Landscape tablets and desktop or laptops */
}
/* line 7, ../sass/partials/_sections.scss */
.mainContentArea.is_active {
  overflow: hidden;
}
/* line 11, ../sass/partials/_sections.scss */
.mainContentArea::before {
  /* never visible - used to check MQ in jQuery */
  display: none;
  content: 'mobile';
}
@media only screen and (min-width: 768px) {
  /* line 17, ../sass/partials/_sections.scss */
  .mainContentArea::before {
    /* never visible - used to check MQ in jQuery */
    content: 'tablet';
  }
}
@media only screen and (min-width: 992px) {
  /* line 1, ../sass/partials/_sections.scss */
  .mainContentArea {
    margin-top: 0;
    padding-top: 120px;
  }
  /* line 25, ../sass/partials/_sections.scss */
  .mainContentArea::before {
    /* never visible - used to check MQ in jQuery */
    content: 'desktop';
  }
}

/* line 32, ../sass/partials/_sections.scss */
.section_block {
  padding: 50px 0;
  display: block;
  width: 100%;
  position: relative;
}
/* line 38, ../sass/partials/_sections.scss */
.section_block .container {
  z-index: 5;
}

/* line 43, ../sass/partials/_sections.scss */
.section_cto {
  margin-top: 30px;
  display: block;
  clear: both;
}

/* line 49, ../sass/partials/_sections.scss */
.section_header {
  padding-bottom: 40px;
  position: relative;
}

/* line 54, ../sass/partials/_sections.scss */
.section_title {
  font-size: 32px;
  color: #353535;
  margin-bottom: 30px;
}

/* line 60, ../sass/partials/_sections.scss */
.title {
  line-height: 1.65;
  font-size: 16px;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
}

/* line 66, ../sass/partials/_sections.scss */
.title_sm {
  font-size: 18px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 66, ../sass/partials/_sections.scss */
  .title_sm {
    font-size: 21px;
  }
}

/* line 74, ../sass/partials/_sections.scss */
.title_md {
  font-size: 21px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 74, ../sass/partials/_sections.scss */
  .title_md {
    font-size: 32px;
  }
}

/* line 82, ../sass/partials/_sections.scss */
.title_lg {
  font-size: 32px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 82, ../sass/partials/_sections.scss */
  .title_lg {
    font-size: 48px;
  }
}

/* line 90, ../sass/partials/_sections.scss */
.text_clipped {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

/* line 94, ../sass/partials/_sections.scss */
footer[role="contentinfo"] {
  width: 100%;
  clear: both;
  margin-top: 5px;
}

/* line 100, ../sass/partials/_sections.scss */
.mainFooter {
  clear: both;
  width: 100%;
  padding: 30px 0;
  background-color: white;
}

/* line 107, ../sass/partials/_sections.scss */
.footerBlock {
  padding: 15px;
  text-align: center;
  /* Mobile devices */
  /* Tablets and phablets */
}
@media only screen and (min-width: 576px) {
  /* line 107, ../sass/partials/_sections.scss */
  .footerBlock {
    text-align: right;
    padding-top: 0;
    padding-bottom: 0;
  }
  /* line 116, ../sass/partials/_sections.scss */
  .footerBlock + .footerBlock {
    text-align: left;
    border-left: 1px solid #d5d5d5;
  }
}
@media only screen and (min-width: 768px) {
  /* line 107, ../sass/partials/_sections.scss */
  .footerBlock {
    padding-left: 30px;
    padding-right: 30px;
  }
}

/* line 128, ../sass/partials/_sections.scss */
.ftBlockHeader {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 18px;
}

/* line 134, ../sass/partials/_sections.scss */
.ftBlockLink {
  line-height: 200%;
  display: block;
}

/* line 1, ../sass/partials/_dialogs.scss */
.dropdown-menu {
  font-size: 1em;
  box-sizing: border-box;
  visibility: hidden;
  z-index: 1000;
  max-width: 460px;
  padding: 10px;
  margin: 0;
  border-radius: 5px;
  color: #757575;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  -webkit-animation: panel-slide-down .6s ease-in-out forwards;
  animation: panel-slide-down .6s ease-in-out forwards;
  overflow: hidden;
  border: none;
}
/* line 19, ../sass/partials/_dialogs.scss */
.dropdown-menu.show {
  visibility: visible;
}
/* line 23, ../sass/partials/_dialogs.scss */
.dropdown-menu li {
  display: block;
  padding: 0;
  margin: 0;
}
/* line 28, ../sass/partials/_dialogs.scss */
.dropdown-menu li > *, .dropdown-menu li > a {
  padding: 10px;
  display: flex;
  width: 100%;
  font-size: 14px;
  color: #474746;
  text-transform: capitalize;
  line-height: normal;
  align-items: center;
  white-space: nowrap;
}
/* line 39, ../sass/partials/_dialogs.scss */
.dropdown-menu li > *:hover, .dropdown-menu li > a:hover {
  background: #f5f5f5;
  color: #353535;
}

@keyframes panel-slide-down {
  0%,30% {
    margin-top: -15px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
/* line 58, ../sass/partials/_dialogs.scss */
.dropdown-toggle::after {
  display: none;
}

/* line 62, ../sass/partials/_dialogs.scss */
.tooltip-inner {
  font-size: 12px;
  border-radius: 5px;
  padding: 6px 12px;
}

/* line 68, ../sass/partials/_dialogs.scss */
.caret {
  display: inline-flex;
  margin-left: 4px;
}
/* line 72, ../sass/partials/_dialogs.scss */
.caret:after {
  vertical-align: .255em;
  content: "";
  border-top: .4em solid;
  border-right: .35em solid transparent;
  border-bottom: 0;
  border-left: 0.35em solid transparent;
}

/* line 82, ../sass/partials/_dialogs.scss */
.modal-backdrop {
  background-color: #353535;
}

/* line 86, ../sass/partials/_dialogs.scss */
.modal-content {
  border-radius: 15px;
}

/* line 90, ../sass/partials/_dialogs.scss */
.modal-dialog {
  z-index: 2000;
  margin: 5rem auto;
}

/* Landscape tablets and desktop or laptops */
@media only screen and (min-width: 992px) {
  /* line 96, ../sass/partials/_dialogs.scss */
  .modal-md {
    max-width: 650px;
  }

  /* line 100, ../sass/partials/_dialogs.scss */
  .modal-lg, .modal-xl {
    max-width: 1170px;
  }
}
/* line 106, ../sass/partials/_dialogs.scss */
.modal-open .modal {
  background-color: rgba(53, 53, 53, 0.9);
}
/* line 110, ../sass/partials/_dialogs.scss */
.modal .modal-header {
  border-bottom: none;
  padding: 10px 15px 0;
  *zoom: 1;
  justify-content: flex-start;
  /* Tablets and phablets */
}
/* line 78, ../sass/partials/_mixins.scss */
.modal .modal-header:before, .modal .modal-header:after {
  content: "";
  display: table;
}
/* line 83, ../sass/partials/_mixins.scss */
.modal .modal-header:after {
  clear: both;
}
@media only screen and (min-width: 768px) {
  /* line 110, ../sass/partials/_dialogs.scss */
  .modal .modal-header {
    padding: 15px 30px 0;
  }
}
/* line 121, ../sass/partials/_dialogs.scss */
.modal .modal-body {
  position: relative;
  padding: 20px 15px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 121, ../sass/partials/_dialogs.scss */
  .modal .modal-body {
    padding: 30px;
  }
}
/* line 129, ../sass/partials/_dialogs.scss */
.modal .modal-footer {
  border-top: none;
  padding: 0 15px 10px;
}

/* line 135, ../sass/partials/_dialogs.scss */
.modal-title {
  font-size: 16px;
  font-weight: 700;
  font-family: "Roboto", Segoe UI, Open Sans, sans-serif;
  text-transform: uppercase;
}

/* line 1, ../sass/partials/_posts.scss */
.articleBody {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 6, ../sass/partials/_posts.scss */
.post_header {
  padding-bottom: 20px;
  border-bottom: 6px solid #00B050;
}

/* line 11, ../sass/partials/_posts.scss */
.postMastHead {
  display: block;
  margin-bottom: 15px;
}

/* line 16, ../sass/partials/_posts.scss */
.printControl {
  padding-top: 10px;
  display: block;
}

/*Post Page*/
/* line 24, ../sass/partials/_posts.scss */
.prose_wrapper {
  display: block;
  clear: both;
  line-height: 160%;
  /* Tablets and phablets */
}
/* line 29, ../sass/partials/_posts.scss */
.prose_wrapper img {
  display: inline-block;
  object-fit: fill;
  object-position: center center;
  text-align: center;
  margin: 20px 0 7.5px;
}
/* line 37, ../sass/partials/_posts.scss */
.prose_wrapper ol, .prose_wrapper ul {
  list-style: inherit;
  padding: 10px 20px;
}
/* line 41, ../sass/partials/_posts.scss */
.prose_wrapper ol li, .prose_wrapper ul li {
  display: list-item;
  clear: both;
  padding-bottom: 5px;
}
/* line 49, ../sass/partials/_posts.scss */
.prose_wrapper ol li {
  list-style: decimal;
}
/* line 52, ../sass/partials/_posts.scss */
.prose_wrapper ol li > ol > li {
  list-style: lower-alpha;
}
/* line 58, ../sass/partials/_posts.scss */
.prose_wrapper p + h2, .prose_wrapper p + h3 {
  margin-top: 30px;
}
/* line 62, ../sass/partials/_posts.scss */
.prose_wrapper > h2, .prose_wrapper > h3, .prose_wrapper > h4 {
  margin: 10px 0 20px;
  font-weight: 700;
  color: #353535;
}
/* line 68, ../sass/partials/_posts.scss */
.prose_wrapper a {
  text-decoration: underline;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  /* line 24, ../sass/partials/_posts.scss */
  .prose_wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

/* line 80, ../sass/partials/_posts.scss */
.featuredImage {
  position: relative;
  display: block;
  clear: both;
  margin-bottom: 10px;
}
/* line 86, ../sass/partials/_posts.scss */
.featuredImage img {
  margin: 0;
}

/* line 91, ../sass/partials/_posts.scss */
.postHighlight {
  width: 100%;
  background-color: #E5E5E5;
  color: #353535;
  padding: 10px 10px;
}

/* line 98, ../sass/partials/_posts.scss */
.highlightTitle {
  font-weight: 700;
  display: inline-block;
  margin-right: 2.5px;
  color: #00B050;
}

/* line 105, ../sass/partials/_posts.scss */
.bannerCaption {
  position: absolute;
  width: 100%;
  padding: 15px 10px;
  background-color: rgba(53, 53, 53, 0.95);
  color: #E5E5E5;
  font-size: 12px;
  font-style: italic;
  bottom: 0;
}

/* line 116, ../sass/partials/_posts.scss */
.postShare {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

/* line 121, ../sass/partials/_posts.scss */
.listBlock {
  padding: 20px 0;
  clear: both;
}
/* line 125, ../sass/partials/_posts.scss */
.listBlock > h4 {
  color: #BF9000;
  margin-bottom: 15px;
}

/* line 131, ../sass/partials/_posts.scss */
.postTag {
  font-size: 13px;
  color: #757575;
}
