<!doctype html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Working Capital Calculator | Front Edge Limited</title>
    <link rel="shortcut icon" href="img/favicon.png" type="image/png">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,900;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/base.min.css"/>
    <link rel="stylesheet" href="css/styles.css"/>
    <script src="js/modernizr.js"></script> <!-- Modernizr -->
</head>

<body class="">
    
    <header role="banner" class="preAuthHeader">
        <div class="container">
            <div class="navbarWrapper">
                <div class="navbarGroupItem navBarItemLeft">
                    <div class="brand_img">
                        <a href="index.html" class="logo_link">
                            <img src="img/logo.svg" alt="Front Edge Limited">
                        </a>
                    </div>
                </div>
                <div class="navbarGroupItem navBarItemRight">
                    <nav class="navMenu menuPrimary">
                        <div class="menuListItem subMenuContainer">
                            <a href="#" class="menuLinkItem">
                                <span class="subLinkHolder">
                                    Solutions <i class="dropdownMarker"></i>
                                </span>
                            </a>
                            <ul class="subMenu dropdown-menu">
                                <li class="subMenuItem">
                                    <a href="corporates.html" class="subMenuItem_link">For Corporates</a>
                                </li>
                                <li class="subMenuItem">
                                    <a href="small_bizs.html" class="subMenuItem_link">For Small &amp; Medium Businesses</a>
                                </li>
                            </ul>
                        </div>
                        <div class="menuListItem">
                            <a href="about.html" class="menuLinkItem">About Us</a>
                        </div>
                        <div class="menuListItem">
                            <a href="case_studies.html" class="menuLinkItem">Case Studies</a>
                        </div>
                        <div class="menuListItem active">
                            <a href="capital_calc.html" class="menuLinkItem">Working Capital Calculator</a>
                        </div>
                        <div class="menuListItem">
                            <a href="get_financed.html" class="menuLinkItem">Get financed</a>
                        </div>
                    </nav>
                    <nav class="navMenu menuAlt">
                        <div class="controlBtn btn_user_act">
                            <a href="login.html" class="btn btn-sm btn-primary-outline">Log In</a>
                        </div>
                        <div class="controlBtn nav_trigger">
                            <a class="primary-nav-trigger" href="#">
                                <span class="menu-icon"></span>
                                <span class="menu-text">Menu</span>
                            </a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    
    <main class="mainContentArea ">
        <section class="section_block bg__inverse">
            <div class="container ">
                <div class="row align-items-center">
                    <div class="heroTextWrapper text-center-sm col-md-6 order-md-1 order-2">
                        <h2 class="hero_title font-regular margin_bottom_md color__primary">Working Capital Calculator</h2>
                        <p class="hero_blub font-bold text-style-italics">This tool helps you understand how much cash you save and how many more units you could sell by using Front Edge.</p>
                    </div>
                    <div class="imageItemHolder offset-md-1 col-md-5 order-md-2 order-1">
                        <img src="./img/banners/capital_calc.png" alt="A calculator" class="">
                    </div>
                </div>
            </div>
        </section>    
        <section class="section_block bg-white">
            <div class="container content_narrow">
                
                <div class="CTASectionHeader row">
                    <span class="sectionLine"></span>
                    <div class="headerTextHolder text-center offset-md-4 col-md-4">
                        <h2 class="title title_lg font-bold">Complete your data</h2>
                        <p>Your data will stay anonymous. All fields are required</p>
                    </div>
                </div>

                <div class="row wcCalculator" id="calc">
                    <div class="col-md-5 wcCalculatorControls">
                        <form @submit.prevent="handleSubmit">
                            <div class="form-group formWidth1_3">
                                <label class="control-label text-style-italics">Product</label>
                                <select name="productType" class="form-control inputRounded"  @change="onChange($event)" id="productType">
                                    <option>Invoice financing</option>
                                    <option value="1">Purchase order financing</option>
                                    <option value="2">Bank statement financing</option>
                                </select>
                            </div>
                            <div class="form-group formWidth1_3">
                                <label class="control-label text-style-italics">Annual Sales</label>
                                <div class="input-group">
                                    <input type="text" v-model="annualSales" id="anualSales" class="form-control inputRounded" placeholder="2,500,000.00">
                                    <div class="input-group-addon">
                                        <span class="font-bold text-style-italics">NGN</span>
                                    </div>
                                </div>
                                <small v-if="annualSales<0" class="text-danger">Annual sales must be greater than Zero</small>
                            </div>
                            <div class="form-group formWidth1_3">
                                <label class="control-label text-style-italics">Average Customer Payment Term</label>
                                <div class="input-group">
                                    <input type="number" v-model="paymentTermCustomer" id="averageCustomer" class="form-control inputRounded" placeholder="21">
                                    <div class="input-group-addon">
                                        <!-- <span class="font-bold text-style-italics">Days</span> -->
                                         <select class="font-bold text-style-italics bg__primary color__white" style="border: 0px solid;" @change="onCDate($event)" name="averageCustomerCurrency" id="averageCustomerCurrency">
                                        <option value="1">Days</option>
                                        <option value="7">Weeks</option>
                                        <option value="30">Months</option>
                                    </select>
                                    </div>
                                    <!-- <select class="select-blue" style="z-index: 9;" @change="onCDate($event)" name="averageCustomerCurrency" id="averageCustomerCurrency">
                                        <option value="1">Days<i class="fa fa-angle-down ml-3"></i></option>
                                        <option value="7">Weeks</option>
                                        <option value="30">Months</option>
                                    </select> -->
                                </div>
                            </div>

                            <div class="form-group formWidth1_3" v-show="purchaseOrderField">
                                <label class="control-label text-style-italics" for="invoicevalue" >Average Supplier Payment Term</label>
                                <!-- <i class="fa fa-angle-down angle"></i> -->
                                <div class="input-group">
                                <input class="form-control inputRounded" v-model="paymentTermSupplier" type="text" id="averageSupplier" placeholder="5" aria-placeholder="averageSupplier">
                              
                                <div class="input-group-addon"> 
                                     <select  class="font-bold text-style-italics bg__primary color__white" style="border: 0px solid;" @change="onSDate($event)"name="invoicevalue" id="paymentTermSupplier">
                                    <option value="1">Days<i class="fa fa-angle-down ml-3"></i></option>
                                    <option value="7">Weeks</option>
                                    <option value="30">Months</option>
                                </select>
                                    <!-- <span class="font-bold text-style-italics">Days</span> -->
                                </div>
                            </div>
                            </div>

                            <div class="form-group formWidth1_3" v-if="purchaseOrderField">
                                <label class="control-label text-style-italics" for="invoicevalue" >Average Inventory Time</label>
                                <!-- <i class="fa fa-angle-down angle"></i> -->
                                <div class="input-group">
                                <input v-model="averageInventoryTime" type="number" id="averageInventoryTime" placeholder="5" aria-placeholder="averageInventoryTime" class="form-control inputRounded">
                                <div class="input-group-addon">
                                    <select class="font-bold text-style-italics bg__primary color__white" style="border: 0px solid;" @change="onInventDate($event)" name="invoicevalue" id="invoicevalue">
                                    <option value="1">Days<i class="fa fa-angle-down ml-3"></i></option>
                                    <option value="7">Weeks</option>
                                    <option value="30">Months</option>

                                </select>
                                    <!-- <span class="font-bold text-style-italics">Days</span> -->
                                </div>
                                </div>
                            </div>
                            <div class="form-group formWidth1_3">
                                <label class="control-label text-style-italics">Profit margin</label>
                                <div class="input-group">
                                    <input v-model="profitMargin" type="number" id="profitMargin"class="form-control inputRounded" placeholder="30">
                                    <div class="input-group-addon">
                                        <span class="font-bold text-style-italics">%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="formCTA">
                                <button :disabled="calculating" type="submit" class="btn btn-primary">
                                    <span v-if="!calculating">Calculate</span>
                                    <span v-if="calculating">calculating...</span>
                                </button>
                                <button type="button" v-on:click="refresh"  class="btn btn-secondary">Refresh</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-7 wcCalculatorResults">
                        <div class="wcCalculatorInfoWidget">
                            <h4 class="title text-center color__default text-style-italics margin_bottom_md">Estimated Sales</h4>
                            <div class="wcCalculatorChart">
                                <canvas id="salesPerformance" aria-label="Comparison of sales with and without Front Edge" role="img"></canvas>
                            </div>
                        </div>
                        <div class="wcCalculatorInfoWidget">
                            <h4 class="title text-center color__default text-style-italics margin_bottom_md">Estimated Profit</h4>
                            <div class="wcCalculatorChart">
                                <canvas id="profitPerformance" aria-label="Comparison of profit with and without Front Edge" role="img"></canvas>
                            </div>
                        </div>
                        <div class="wcCalculatorInfoWidget">
                            <div class="wcCalculatorInfoStatBox">
                                <div class="infoStatSnippet">
                                    <span class="statLabel color__black">Amount of Incremental Sales</span>
                                    <h4 class="title title_md font-regular color__primary" v-if="calculated.amountIncrementalSales >= 0">
                                        ₦{{getSalesProfitValue(calculated.amountIncrementalSales)}}
                                    </h4>
                                    <h4 class="title title_md font-regular color__danger" v-if="calculated.amountIncrementalSales < 0">
                                        -₦{{getSalesProfitValue(calculated.amountIncrementalSales)}}
                                    </h4>
                                </div>
                                <div class="infoStatSnippet">
                                    <span class="statLabel color__black">Amount of Incremental Profit</span>
                                    <h4 v-if="calculated.amountIncrementalSales >= 0" class="title title_sm font-bold">₦{{getSalesProfitValue(calculated.amountIncrementalSales)}}</h4>
                                    <h4 v-if="calculated.amountIncrementalSales < 0" class="title title_sm font-bold color__danger">-₦{{getSalesProfitValue(calculated.amountIncrementalSales)}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </main>
    
    <footer role="contentinfo" class="footerArea">
        <div class="container">
            <div class="row">
                <div class="col-md-3 footerBlock">
                    <div class="brandBlock">
                        <div class="brand_media">
                            <a href="index.html">
                                <img src="./img/logo_white.svg" alt="Front Edge Limited">
                            </a>
                        </div>
                    </div>
                    <div class="footerCrumbs">
                        <p class="copyright">&copy; Front Edge 2020</p>
                    </div>
                </div>
                <div class="col-md-9 brandNav">
                    <div class="row" id="footerBlockItem">
                        <div class="col-md-4 footerBlock">
                            <div class="ft_block_header">
                                <h3 class="item_title">
                                    <a data-toggle="collapse" data-parent="#footerBlockItem" href="#footerblock_1" class="blockHeaderLink font-bold color__white collapsed">Solutions</a>
                                </h3>
                            </div>
                            <div class="ft_block_segment panel-collapse" id="footerblock_1">
                                <ul class="ft_nav_block">
                                    <li><a href="corporates.html">For Corporates</a></li>
                                    <li><a href="small_bizs.html">For Small & Medium Businesses</a></li>
                                    <li><a href="capital_calc.html">Working Capital Calculator</a></li>
                                    <li><a href="get_financed.html">Get financed</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 footerBlock">
                            <div class="ft_block_header">
                                <h3 class="item_title">
                                    <a data-toggle="collapse" data-parent="#footerBlockItem" href="#footerblock_2" class="blockHeaderLink font-bold color__white collapsed">Company</a>
                                </h3>
                            </div>
                            <div class="ft_block_segment panel-collapse" id="footerblock_2">
                                <ul class="ft_nav_block">
                                    <li><a href="about.html">About us</a></li>
                                    <li><a href="case_studies.html">Case Studies</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-5 footerBlock">
                            <div class="ft_block_header">
                                <h3 class="item_title">
                                    <a data-toggle="collapse" data-parent="#footerBlockItem" href="#footerblock_3" class="blockHeaderLink font-bold color__white collapsed">Contact</a>
                                </h3>
                            </div>
                            <div class="ft_block_segment panel-collapse" id="footerblock_3">
                                <ul class="ft_nav_block">
                                    <li>
                                        <a href="mailto:hello@frontedge.com" class="contactInfoLink">
                                            <span class="infoLinkLabel">hello@frontedge.com</span>
                                        </a>
                                    </li>
                                    <li>
                                        <address>
                                            <span>Suites 4-6, 2nd Floor,</span>
                                            <span> Pees Galleria,</span>
                                            <span>2A Osborne Road,</span>
                                            <span>Ikoyi, Lagos</span>
                                        </address>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
	<script src="js/jquery.js"></script>
    <script src="js/base.min.js"></script>
    <script src="js/Chart.min.js"></script>
    <script src="js/main.js"></script>

    <script lang="js">        
        var app2 = new Vue({
        el: '#calc',
        data: {
                calculating: false,
                purchaseOrderField:false,
            // ields for Invoice Financing

                profitMargin:30,
                productType: "",
                annualSales:2500000,
                paymentTermCustomer:21,
            // Additional fields for Purchase Order
                paymentTermSupplier:5,
                averageInventoryTime:10,

                calculated:{
                    amountIncrementalSales:0.00,
                    amountIncrementalProfit:0.00,
                    profitAfter: 0,
                    profitBefore: 0,
                    salesAfter: 0,
                    salesBefore: 0,
                },
                cDate:1,
                sDate:1,
                inventDate:1


            },
            created(){
            },
            mounted(){
                this.handleSubmit();
                // this.firstGraphPaint()
                // this.secondGraphPaint()
            },

            methods: {
                onChange(event){
                    // this.changeToFormat();
                    if( event.target.value == 2){
                        this.purchaseOrderField = true
                    }else{
                        this.purchaseOrderField = false
                    }
             
                },
              
                handleSubmit(){
                    this.calculating = false;
                    var x = document.querySelector('#productType').value
                    const payload={
                        profitMargin: parseInt(this.profitMargin),
                        productType:x==2?"purchase_order_finance":'invoice_finance' ,
                        annualSales:parseInt(this.annualSales),

                        paymentTermCustomer:this.paymentTermCustomer*this.cDate ,
                        paymentTermSupplier:this.paymentTermSupplier*this.sDate ,
                        averageInventoryTime:this.averageInventoryTime*this.inventDate 
                    }

                    if(x==2){
                        var payload1={
                        profitMargin: parseInt(this.profitMargin),
                        productType:"purchase_order_finance" ,
                        annualSales:parseInt(this.annualSales),
                        paymentTermCustomer:this.paymentTermCustomer*this.cDate ,
                        paymentTermSupplier:this.paymentTermSupplier*this.sDate ,
                        averageInventoryTime:this.averageInventoryTime*this.inventDate 
                    }
                    
                }else{
                    var payload1={
                        profitMargin: parseInt(this.profitMargin),
                        productType:'invoice_finance',
                        annualSales:parseInt(this.annualSales),
                        paymentTermCustomer:this.paymentTermCustomer*this.cDate ,
                    }
                    }
                    // console.log(payload)
                    this.calculating= true
                    this.calculate(payload1).then(res=>{
                        res.text().then(res=>{
                            this.calculated = JSON.parse(res).data;
                            const result = JSON.parse(res).data;
                            this.firstGraphPaint(result)
                            this.secondGraphPaint(result)
                        })
                    })
                },
                refresh(){
                event.preventDefault();
                this.profitMargin=undefined;
                this.productType=undefined;
                this.annualSales=undefined;
                this.paymentTermCustomer=undefined;
            // Additional fields for Purchase Order
                this.paymentTermSupplier=undefined;
                this.averageInventoryTime=undefined;
                 
                },
          
                 calculate(payload) {
                    const Header = {
                    'Content-Type': 'application/json'
                    }
                const requestOptions = {
                method: 'POST',
                headers: Header,
                body: JSON.stringify(payload)
    };
    return fetch(`https://staging.frontedgegroup.com/api/scf/invitation/workingCalculator`, requestOptions)
    // .then(this.handleResponse);

},

getSalesProfitValue(value){
    if(value<0){
        return 
        new Intl.NumberFormat().format(Math.abs(value))
    }
    return new Intl.NumberFormat().format(value)
;
},


            firstGraphPaint(val){   
                this.calculating= false
                
                var result = [];
                    result.push(val.salesAfter)
                    result.push(val.salesBefore)
                var salesComparison = document.getElementById('salesPerformance');
                var salesProfit = new Chart(salesComparison, {
                type: 'bar',
                data: {
                labels: ['Without FrontEdge', 'With FrontEdge'],
                datasets: [{
                    label: 'Estimated Sales',
                    data: result,
                    backgroundColor: [
                        '#dedede',
                        '#02baff'
                    ],
                    borderWidth: 0,
                }]
            },
            options: {
                aspectRatio:2,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            display: true,
                        },
                        gridLines: {
                            display: false,
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            fontFamily: "'Mulish',Open Sans, Segoe UI, sans-serif",
                            fontStyle: 'italic',
                            fontColor: '#000000',
                            fontSize:10,
                        },
                        gridLines: {
                            display: false
                        }
                    }]
                },
                legend: {
                    display: false
                }   
            }
        });

            
                
            },


            
            secondGraphPaint(val){
                // var chart = JSC.chart('chartDiv1', { 
                // defaultSeries_type: 'column', 
                // description: 
                // '%type Profit before and after Frontedge', 
                // legend_description: 'Profit legend', 
                // defaultPoint_label_visible: true, 

                // legend_defaultEntry_description: '%name', 
                // // toolbar_items_export_description: 'export menu', 
                // defaultPoint_description: '%name %value', 
                // series: [ 
                // { 
                //     name: 'Profit', 
                //     hatchPalette: false, 
                //     defaultPoint_hatch_color: 'black', 
                //     palette: ['#DEDEDE','white', '#02BAFF'], 
                //     points: [ 
                //     { name: 'Profit before', y: this.calculated.profitBefore }, 
                //     { name: '-', y: undefined }, 
                //     { name: 'Profit after', y: this.calculated.profitAfter }, 
                //     ] 
                // } 
                // ] 
                // }); 
                var result = [];
                    result.push(val.profitAfter)
                    result.push(val.profitBefore)

                var profitComparison = document.getElementById('profitPerformance');
                var profitProfit = new Chart(profitComparison, {
                type: 'bar',
                data: {
                labels: ['Without FrontEdge', 'With FrontEdge'],
                datasets: [{
                    label: 'Estimated Profit',
                    data: result,
                    backgroundColor: [
                        '#dedede',
                        '#02baff'
                    ],
                    borderWidth: 0,
                }]
            },
            options: {
                aspectRatio:2,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            display: true,
                        },
                        gridLines: {
                            display: false
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            fontFamily: "'Mulish',Open Sans, Segoe UI, sans-serif",
                            fontStyle: 'italic',
                            fontSize:10,
                            fontColor: '#000000'
                        },
                        gridLines: {
                            display: false
                        }
                    }]
                },
                legend: {
                    display: false
                }
                
            }
        });

            },

onCDate(event){
    this.cDate = event.target.value;
},

onSDate(event){
    this.sDate = event.target.value;
},
onInventDate(event){
    this.inventDate = event.target.value;
        }
    }            
})

    </script>

    <script>

        // var salesComparison = document.getElementById('salesPerformance');
        // var salesProfit = new Chart(salesComparison, {
        //         type: 'bar',
        //         data: {
        //         labels: ['Sales before FrontEdge', 'Sales After FrontEdge'],
        //         datasets: [{
        //             label: 'Profith with and and Front Edge',
        //             data: [2500000, 6500000],
        //             backgroundColor: [
        //                 '#dedede',
        //                 '#02baff'
        //             ],
        //             borderWidth: 0,
        //         }]
        //     },
        //     options: {
        //         aspectRatio:3,
        //         scales: {
        //             yAxes: [{
        //                 ticks: {
        //                     beginAtZero: true,
        //                     display: false,
        //                 },
        //                 gridLines: {
        //                     display: false,
                            
        //                 }
        //             }],
        //             xAxes: [{
        //                 ticks: {
        //                     fontFamily: "'Mulish',Open Sans, Segoe UI, sans-serif",
        //                     fontStyle: 'italic',
        //                     fontColor: '#000000'
        //                 },
        //                 gridLines: {
        //                     display: false
        //                 }
        //             }]
        //         },
        //         legend: {
        //             display: false
        //         }
                
        //     }
        // });

        // var profitComparison = document.getElementById('profitPerformance');
        // var profitProfit = new Chart(profitComparison, {
        //         type: 'bar',
        //         data: {
        //         labels: ['Profit before FrontEdge', 'Profit after FrontEdge'],
        //         datasets: [{
        //             label: 'Profit with and and Front Edge',
        //             data: [2500000, 6500000],
        //             backgroundColor: [
        //                 '#dedede',
        //                 '#02baff'
        //             ],
        //             borderWidth: 0,
        //         }]
        //     },
        //     options: {
        //         aspectRatio:3,
        //         scales: {
        //             yAxes: [{
        //                 ticks: {
        //                     beginAtZero: true,
        //                     display: false,
        //                 },
        //                 gridLines: {
        //                     display: false,
                            
        //                 }
        //             }],
        //             xAxes: [{
        //                 ticks: {
        //                     fontFamily: "'Mulish',Open Sans, Segoe UI, sans-serif",
        //                     fontStyle: 'italic',
        //                     fontColor: '#000000'
        //                 },
        //                 gridLines: {
        //                     display: false
        //                 }
        //             }]
        //         },
        //         legend: {
        //             display: false
        //         }
                
        //     }
        // });

    </script>
    

</body>
</html>