<!doctype html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Get Financed | Front Edge Limited</title>
    <link rel="shortcut icon" href="img/favicon.png" type="image/png">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,900;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/base.min.css"/>
    <link rel="stylesheet" href="css/styles.css"/>
    <script src="js/modernizr.js"></script> <!-- Modernizr -->
</head>

<body class="">
    
    <header role="banner" class="preAuthHeader">
        <div class="container">
            <div class="navbarWrapper">
                <div class="navbarGroupItem navBarItemLeft">
                    <div class="brand_img">
                        <a href="index.html" class="logo_link">
                            <img src="img/logo.svg" alt="Front Edge Limited">
                        </a>
                    </div>
                </div>
                <div class="navbarGroupItem navBarItemRight">
                    <nav class="navMenu menuPrimary">
                        <div class="menuListItem subMenuContainer">
                            <a href="#" class="menuLinkItem">
                                <span class="subLinkHolder">
                                    Solutions <i class="dropdownMarker"></i>
                                </span>
                            </a>
                            <ul class="subMenu dropdown-menu">
                                <li class="subMenuItem">
                                    <a href="corporates.html" class="subMenuItem_link">For Corporates</a>
                                </li>
                                <li class="subMenuItem">
                                    <a href="small_bizs.html" class="subMenuItem_link">For Small &amp; Medium Businesses</a>
                                </li>
                            </ul>
                        </div>
                        <div class="menuListItem">
                            <a href="about.html" class="menuLinkItem">About Us</a>
                        </div>
                        <div class="menuListItem">
                            <a href="case_studies.html" class="menuLinkItem">Case Studies</a>
                        </div>
                        <div class="menuListItem">
                            <a href="capital_calc.html" class="menuLinkItem">Working Capital Calculator</a>
                        </div>
                        <div class="menuListItem active">
                            <a href="get_financed.html" class="menuLinkItem">Get financed</a>
                        </div>
                    </nav>
                    <nav class="navMenu menuAlt">
                        <div class="controlBtn btn_user_act">
                            <a href="login.html" class="btn btn-sm btn-primary-outline">Log In</a>
                        </div>
                        <div class="controlBtn nav_trigger">
                            <a class="primary-nav-trigger" href="#">
                                <span class="menu-icon"></span>
                                <span class="menu-text">Menu</span>
                            </a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    
    <main class="mainContentArea ">
        <section class="section_block bg__inverse">
            <div class="container ">
                <div class="row ">
                    <div class="heroTextWrapper text-center offset-md-3 col-md-6 ">
                        <h2 class="hero_title font-regular margin_bottom_md color__primary">Get Financed</h2>
                        <p class="hero_blub font-bold text-style-italics">Drop a message with the form below, and one of our agents will be in touch shortly. ✌🏼</p>
                    </div>
                </div>
            </div>
        </section> 
        <section class="section_block padding-top-none">
            <div class="container content_narrow">
                <div class="offset-md-2 col-md-8">
                    <div class="formPanel">
                        <form @submit.prevent="ValidCaptcha" id ="form">
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="" class="control-label text-style-italics">First Name*</label>
                                    <input required v-model="firstName" type="text" class="form-control inputRounded" placeholder="First Name">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="" class="control-label text-style-italics">Last Name*</label>
                                    <input required v-model="lastName" type="text" class="form-control inputRounded" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label text-style-italics">Email Address*</label>
                                <input required v-model="email" type="email" class="form-control inputRounded" placeholder="Enter your Email Address">
                            </div>
                            <div class="form-group">
                                <label class="control-label text-style-italics">Phone Number*</label>
                                <input required v-model="phoneNumber" type="number" class="form-control inputRounded" placeholder="Enter your phone number">
                            </div>
                            <div class="form-group">
                                <label class="control-label text-style-italics">Comments</label>
                                <textarea required v-model="body" class="form-control inputRounded" rows="10" placeholder="Add any other relevant information you wish to share"></textarea>
                            </div>
                            <div class="captcha">  
                                <input type="text" id="txtCaptcha" style=" border: none !important; font-weight: bold; font-size: 30px; font-family: 'Brush Script MT', cursive;" />
                                <div class="row">
                                    <div class="col-md-3">
                                        <input type="text" id="txtCompare" />  
                                    </div>
                                    <div class="col-md-3">
                                        <input type="button" id="btnrefresh" value="Refresh" v-on:click="GenerateCaptcha();" />  
                                    </div>
                                </div>                              
                                <br />  
                            </div>  
                            <div class=" " v-if="loading">
                                <img class="d-block mx-auto" style="height:30px; width: 30px;" src="../frontedge_ui/img/loader_gif.gif" alt="loader_gif"/>
                            </div>
                            <div class="section_cto text-center">
                                <button :disabled="loading" class="btn btn-secondary" type="submit">Submit Request</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>
        <div class="imageBlob logoBgPattern"></div>
    </main>

    <footer role="contentinfo" class="footerArea">
        <div class="container">
            <div class="row">
                <div class="col-md-3 footerBlock">
                    <div class="brandBlock">
                        <div class="brand_media">
                            <a href="index.html">
                                <img src="./img/logo_white.svg" alt="Front Edge Limited">
                            </a>
                        </div>
                    </div>
                    <div class="footerCrumbs">
                        <p class="copyright">&copy; Front Edge 2020</p>
                    </div>
                </div>
                <div class="col-md-9 brandNav">
                    <div class="row" id="footerBlockItem">
                        <div class="col-md-4 footerBlock">
                            <div class="ft_block_header">
                                <h3 class="item_title">
                                    <a data-toggle="collapse" data-parent="#footerBlockItem" href="#footerblock_1" class="blockHeaderLink font-bold color__white collapsed">Solutions</a>
                                </h3>
                            </div>
                            <div class="ft_block_segment panel-collapse" id="footerblock_1">
                                <ul class="ft_nav_block">
                                    <li><a href="corporates.html">For Corporates</a></li>
                                    <li><a href="small_bizs.html">For Small & Medium Businesses</a></li>
                                    <li><a href="capital_calc.html">Working Capital Calculator</a></li>
                                    <li><a href="get_financed.html">Get financed</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 footerBlock">
                            <div class="ft_block_header">
                                <h3 class="item_title">
                                    <a data-toggle="collapse" data-parent="#footerBlockItem" href="#footerblock_2" class="blockHeaderLink font-bold color__white collapsed">Company</a>
                                </h3>
                            </div>
                            <div class="ft_block_segment panel-collapse" id="footerblock_2">
                                <ul class="ft_nav_block">
                                    <li><a href="about.html">About us</a></li>
                                    <li><a href="case_studies.html">Case Studies</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-5 footerBlock">
                            <div class="ft_block_header">
                                <h3 class="item_title">
                                    <a data-toggle="collapse" data-parent="#footerBlockItem" href="#footerblock_3" class="blockHeaderLink font-bold color__white collapsed">Contact</a>
                                </h3>
                            </div>
                            <div class="ft_block_segment panel-collapse" id="footerblock_3">
                                <ul class="ft_nav_block">
                                    <li>
                                        <a href="mailto:hello@frontedge.com" class="contactInfoLink">
                                            <span class="infoLinkLabel">hello@frontedge.com</span>
                                        </a>
                                    </li>
                                    <li>
                                        <address>
                                            <span>Suites 4-6, 2nd Floor,</span>
                                            <span> Pees Galleria,</span>
                                            <span>2A Osborne Road,</span>
                                            <span>Ikoyi, Lagos</span>
                                        </address>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	<script src="js/jquery.js"></script>
    <script src="js/base.min.js"></script>
    <script src="js/main.js"></script>
    <script lang="js"> 
        // import VueRecaptcha from 'vue-recaptcha';

        var app2 = new Vue({
            
        el: '#form',
        // components: { VueRecaptcha },

        data: {
            email:'',
            loading:false,
            firstName:'',
            lastName:'',
            to:['hello@frontedge.io'],
            phoneNumber:'',
            subject:'',
            body:''
        },
        mounted(){
        // this.handleSubmit();
        this.GenerateCaptcha();

        },

        methods: {
            handleSubmit(){
                //  event.preventDefault();
                this.loading = true
                const bodyHtml=`
                    "<html>
                        <h2>FRONT EDGE</h2>
                        <strong>First Name: ${this.firstName}</strong>
                        <br></br>
                        <strong>Last Name: ${this.lastName}</strong>
                        <br></br>
                        <strong>Email: ${this.email}</strong>
                        <br></br>
                        <strong>Subject: ${this.phoneNumber}</strong>
                        <br></br>
                        <strong>Message: ${this.body}</strong>
                        <br></br>
                    </html>"
                    `
                const payload={
                    to:this.to,
                    subject:this.phoneNumber,
                    body:bodyHtml
                }
                const randomNumber = Math.random(10)*1000;
                const Header = {
                     'client-id': 'website',
                     'api-key': 'app-909siowurosn803',
                     'Content-Type': 'application/json'
                    }
                 
                const requestOptions = {
                method: 'POST',
                headers: Header,
                body: JSON.stringify(payload)
                };
     fetch(`https://staging.frontedgegroup.com/api/notification/v1/email/${randomNumber}`, requestOptions).then(res=>{
         if(res){
             this.loading = false
             this.reset();
            if(res.status ===200 || res.status==201){
                Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Your Message has being sent successfully',
                showConfirmButton: false,
                timer: 2500
                });
              }else{
                Swal.fire({
                position: 'top-end',
                icon: 'error',
                title: 'Failed to send. Please try again',
                showConfirmButton: false,
                timer: 2500
                });
              }
             }
            }).catch(err=>{
                Swal.firer({
                position: 'top-end',
                icon: 'error',
                title: 'Failed to send. Please try again',
                showConfirmButton: false,
                timer: 2500
                });
            })
          },
             /* Function to Generat Captcha */  
              GenerateCaptcha() {  
                var chr1 = Math.ceil(Math.random() * 10) + '';  
                var chr2 = Math.ceil(Math.random() * 10) + '';  
                var chr3 = Math.ceil(Math.random() * 10) + '';  
      
                var str = new Array(4).join().replace(/(.|$)/g, function () { return ((Math.random() * 36) | 0).toString(36)[Math.random() < .5 ? "toString" : "toUpperCase"](); });  
                var captchaCode = str + chr1 + ' ' + chr2 + ' ' + chr3;  
                document.getElementById("txtCaptcha").value = captchaCode;
                document.getElementById("txtCompare").value = "";
 
            }  ,
      
            /* Validating Captcha Function */  
             ValidCaptcha() {  
                var str1 = this.removeSpaces(document.getElementById('txtCaptcha').value);  
                var str2 = this.removeSpaces(document.getElementById('txtCompare').value);  
      
                if (str1 == str2) {
                    this.handleSubmit();
                    
                    return true;
                };  
                alert("Incorrect CAPTCHA, try again!")
                return false;  
            }  ,
      
            /* Remove spaces from Captcha Code */  
             removeSpaces(string) {  
                return string.split(' ').join('');  
            },
            reset(){
            this.email =""
            this.firstName = ""
            this.lastName = ""
            this.subject=""
            this.phoneNumber=""
            this.body = ""
        }
        },
       
        })
        </script>
</body>
</html>