/*Main Site Nav */

header[role="banner"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height-S;
    z-index: $header-zindex;
    @include font-smoothing;

    + .main_content_wrapper {
        padding-top: $header-height-S;
    }

    @include MQ(M) {
        height: $header-height-M;

        +.main_content_wrapper {
            padding-top: $header-height-M;
        }
    }
}

.nav_header {
    background: rgba($color_white, .97);
    color: $brand_primary;

    @include transition(background-color .6s);
    /* Force Hardware Acceleration in WebKit */
    @include transform(translate3d(0, 0, 0));
    @include backface-visibility(hidden);
    &.is-fixed {
        /* when the user scrolls down, we hide the header right above the viewport */
        position: fixed;
        top: -$header-height-S;
        background-color: rgba($color_white, .97);
        @include transition(transform .5s);
    }
    &.is-visible {
        /* if the user changes the scrolling direction, we show the header */
        @include transform(translate3d(0, $header-height-S, 0));
    }

    .logo {
        float: left;
        height: 100%;   
        line-height: $header-height-S;
    }

    @include MQ(M) {
        .logo {
            line-height: $header-height-M;
        }
        .primary_nav {
            line-height: $header-height-M;
            display: inline-block;
        }
        &.is-fixed {
            top: -$header-height-M;
        }

        &.is-visible {
            /* if the user changes the scrolling direction, we show the header */
            @include transform(translate3d(0, $header-height-M, 0));
        }
    }
}

.nav_item {
    text-transform: capitalize;
    display: inline-block;
    position: relative;

    +.nav_item {
        &::before {
            content: '/';
            color: $border_grey_light;
            font-size: 16px;
            position: absolute;
            left: 0;
        }
    }

    .primary_nav & {
        display: block;
        border-bottom: 1px solid $border_grey_light;
        a[class*="btn"] {
            display: block;
        }
        @include MQ(M) {
            display: inline-block;
            border-bottom: none;
            a[class*="btn"] {
                display: inline-block;
            }
        }
    }

    .btn_label {
        display: none;

        @include MQ(M) {
            display: inline-block;
        }
    }
}

.nav_link_item {
    display: block;
    color: inherit;
    @include transition(all .6s cubic-bezier(.93,0,.17,1));
    text-transform: capitalize;
    letter-spacing: .025em;
    padding: 0 10px;

    &:hover, &:focus, .active &  {
        color: $color_white;
    }

    @include MQ(M) {
        padding: 0 15px;

        &:hover, &:focus, .active &  {
            color: $brand_accent;
        }
    }
}

.navbar_btn {
    color: $color_white;
    background-color: $brand_inverse;
    @include transition(all .6s ease);

    &:hover, &:focus {
        color: $color_white;
        background-color: $brand_primary;
    }
}

.sec_nav {
    display: inline-block;
    line-height: $header-height-S;
    position: relative;
    float: right;

    > ul {
        margin-bottom: 0;
        display: inline-block;

        + ul {
            margin-left: 10px;
        }
    }

    .menu_nav {
        left: 0;
        text-align: left;
        position: fixed;
        top: $header-height-S;
        line-height: 30px;
        width: 100%;
        color: $color_grey_light;

        &::after {
            content: "";
            position: fixed;
            top: $header-height-S; left: 0;
            width: 100%; 
            height: 30px;
            z-index: 1;
            display: block;
            border-top: 1px solid $border_grey_light;
            background-color: rgba($brand_primary, .95);
        }

        li {
            position: relative;
            z-index: 10;
        }
    }

    @include MQ(S) {
        .menu_nav {
            position: static;
            width: auto;
            line-height: $header-height-S;
            color: inherit;

            &::after {
                display: none;
                position: static;
            }
        }
    }

    @include MQ(M) {
        line-height: $header-height-M;

        .menu_nav {
            line-height: $header-height-M;
        }

        li {
            font-size: 14px;
        }

        >ul {
            display: inline-block;
        }
    }
}

.primary_nav {
    background: white;
    visibility: hidden;
    width: 100%;
    @include transform(scaleY(0));
    @include transition(all .6s cubic-bezier(.68, .34, .15, 1));
    height: 100%;
    transform-origin: top;
    position: fixed;
    left: 0;
    top: $header-height-S;

    .menu_nav {
        @include transform(scaleY(0));
        transform-origin: top;
        opacity: .2;
        @include transition(all 1s cubic-bezier(.45, 1, .61, 1.17));
        transition-delay: .05s;
    }
    .is-active & {
        border-top: 2px solid $brand_accent;
        @include transform(scaleY(1));
        visibility: visible;
        @include transition(transform .8s cubic-bezier(.68, .34, .15, 1));
        .menu_nav {
            @include transform(scaleY(1));
            opacity: 1;
        }
    }
    @include MQ(M) {
        width: auto;
        display: inline-block;
        float: right;
        @include transform(scaleY(1));
        position: static;
        visibility: visible;
        border-top: none;
        background-color: transparent;
        .menu_nav {
            @include transform(none);
            opacity: 1;
        }
    }
}

.logo {
    height: 100%;
    width: 115px;
    margin-right: 15px;
    >a {
        padding: 0;
        display: block;
        font-size: 16px;
        background: transparent url(../img/logo.svg) no-repeat center center;
        @include image_replacement;
        background-size: contain;
        height: 100%;
        
        .no-svg & {
            background-image: url(../img/logo.png);
        }

        img {
            width: 0;
            height: 0;
            text-indent: 100%;
        }
    }
}

.nav_trigger {
    display: inline-block;
    position: absolute;
    width: 110px;
    @include center(y);
    right: 15px;
    text-align: right;
    @include MQ(M) {
        display: none;
    }
}

.menu-text {
    text-transform: uppercase;
    display: block;
    font-size: 14px;
}

.primary-nav-trigger {
    .menu-icon {
        /* this span is the central line of the menu icon */
        display: inline-block;
        position: absolute;
        @include center; // mixin inside partials > _mixins.scss
        width: 18px;
        height: 2px;
        background-color: $brand_primary;
        @include transition(background-color .3s);
        /* these are the upper and lower lines in the menu icon */
        &::before,
        &:after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: $brand_accent;
            right: 0;
            @include transition(transform .3s, top .3s, background-color 0s);
        }
        &::before {
            top: -5px;
        }
        &::after {
            top: 5px;
        }
        &.is-clicked {
            background-color: rgba($brand_accent, 0);
            &::before,
            &::after {
                background-color: rgba($brand_accent, 1);
            }
            &::before {
                top: 0;
                @include transform(rotate(135deg));
            }
            &::after {
                top: 0;
                @include transform(rotate(225deg));
            }
        }
    }
    @include MQ(M) {
        width: 100px;
        padding-left: 1em;
        background-color: transparent;
        height: 30px;
        line-height: 30px;
        position: relative;
        border: none;
        @include center(y);
        .menu-text {
            display: inline-block;
        }
        .menu-icon {
            left: -1em;
            @include transform(translateX(0) translateY(-50%));
        }
    }
}

/*Footer*/

footer[role="contentinfo"] {
    text-align: center;
    position: relative;
    z-index: 5;
    bottom: 0;
    width: 100%;
    clear: both;
    padding: 30px 0;
    a:hover,
    a:focus {
        color: $brand_accent;
    }
    @include MQ(S) {
        text-align: left;
    }

    @include MQ(M) {
        padding: 60px 0 35px;
    }
}

.footer_halves {
    @include flexbox();
    flex-wrap: wrap;

    @include MQ(M) {
        margin: 0 -20px;
    }
}

.footerDiv {
    width: 100%;
    padding-top: 20px;

    @include MQ(S) {
        width: 50%;  

        &.footer_block {
            padding-left: 15px;
        }      
    }

    @include MQ(M) {

        &.footer_block {
            padding-left: 70px;
        }      
    }

    .info_label {
        font-size: 16px;
        padding-bottom: 10px;

        @include MQ(M) {
            font-size: 21px;
        }
    }
}

.copyright {
    padding-top: 20px;
    font-size: 11px;
}

.block_title {
    font-size: 21px;
    margin-bottom: 15px;
}

.link_item {
    display: block;
    line-height: 150%;
}

.footer_social_links {
    padding-bottom: 15px;
    clear: both;
    a {
        display: inline-block;
        font-size: 18px;
        @include transform(scale(1, 1));
        @include transition(all .6s cubic-bezier(.68, .34, .15, 1));

        + a {
            margin-left: 15px;
        }

        &:hover {
            @include transform(scale(1.25, 1.25));
        }
    }
}

.child_block {
    padding: 10px;

    .item_title {
        font-size: 16px;
        margin-bottom: 10px;
    }
}