.flex_tiles {
	@include flexbox();
    flex-flow: row wrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
}

.floating_tile__images {
    align-items: center;
    width: 100%;
    margin-bottom: 25px;	
}

.floating_tile__image {
	-webkit-box-flex: 1;
    flex: 1 1 26%;
    width: 100%;
    -webkit-box-ordinal-group: 3;
    order: 2;
}

.tile_thirds {
	+ .tile_thirds {
    	margin-left: 15px;
	}
}

.tile_full {
	margin-top: 10px;
}

.brand_tile__image {
	text-align: center;
	padding: 10px 20px;
	width: 50%;
	margin-top: 10px;

	@include MQ(M) {
		width: 33%;
	}

	&:hover, &:focus {
		img {
			@include filter(grayscale(60%));
		}	
	}
}

figcaption {
	font-size: 14px;

	@include MQ(M) {
		font-size: 16px;
	}
}

.grid_cards {
	clear: both;
    margin-bottom: .5em;
    margin: 0 -10px;
}

.grid_card {
	position: relative;
    clear: none;
    padding: 0 10px;
    margin-bottom: 10px;

	@include MQ(S) {
	    margin-bottom: 20px;
	}
}

.medium_2 {
	@include MQ(S) {
		width: 50%;
	}
}

.medium_3 {
	@include MQ(S) {
		width: 33.333%;
	}
}

.large_3 {
	@include MQ(M) {
		width: 33.33333%;
	}
}

.large_4 {
	@include MQ(M) {
		width: 25%;
	}
}

.postCard__wrapper {
    width: 100%;
    position: relative;
    clear: both;
    background-color: white;
    @include transition(all .4s linear);
    border-radius:5px;
    box-shadow: 0 1px 4px 0 rgba($brand_black, .1);
    height: 100%;
    display: block;
    overflow: hidden;

    &:hover,
    &:focus {
        box-shadow: 0 2px 8px 0 rgba($brand_black, .25);
        color: $border_grey_dark;
		
		img {
			@include filter(grayscale(70%));
		}
    }
}

.card_heading{
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px 15px;
    background-color: transparent;
}

.cardTitle {
    @include transition(all .4s);
    font-size: 16px;
    color: $color_text;
    display: block;
    min-height: 50px;
    margin-bottom: 5px;
}

.postCardImage {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.postCardDetails {
    padding: 10px 15px;
}

.postExcerpt {
    margin: 10px 0;
    font-size: 12px;
    line-height: 150%;
}

.post_info_meta {
	display: block;
	margin:  0 -5px;
	@include clearfix;
}

.post_label {
	display: inline-block;
	padding: 0 5px;
	font-size:  12px;
}

.post_time {
	float: right;
	color:  $border_grey_dark;
}