.auth_panel {
    [class*="col-"] {
        padding: 0;
    }

    .pane_title {
        margin-bottom: 20px;
    }

    .sub_title {
        color: $color_grey_dark;
        font-size: 12px;
        margin-top: 0;
    }
}

.form_wrapper {
    padding: 15px;
    background: $color_white;
    //border: 1px solid $border_grey;
    border-radius: 4px;

    @include MQ(M) {            
        padding: 30px;
    }
}

.auth_meta {
    padding: 10px 0;
    clear: both;
}

.auth_header {
    @include clearfix;
    color: $color_white;
    padding-bottom: 15px;
    text-align: center;

    .logo {
        display: inline-block;
        width: 150px;
    }

    @include MQ(M) {
        text-align: left;

        > * {
            margin: 0;
            display: inline-block;
        }
    }
}

.auth_form {
    padding: 0 0 10px;
    text-align: left;
    margin: 0 auto;
}