a {
    text-decoration: none;
    @include transition(all .4s ease);
    color: inherit;

    &:hover, &:focus {
        color: $brand_accent;
    }

    > .fa {
        padding: 0 4px;
    }

    &:focus {
      outline: thin dotted $brand_accent;

      .no-touch & {
        outline: none;
      }
    }
}

a:link, button {
    -webkit-tap-highlight-color: rgba($brand_accent, .6);
    -moz-tap-highlight-color: rgba($brand_accent, .6);
}

.btn {
    box-shadow: none;
    outline: none;
    font-size: 12px;
    background-color: transparent;
    border: 3px solid transparent;
    color: $color_white;
    font-weight: bold;
    padding: 5px 20px;
    text-transform: uppercase;
    @include border-radius(3px);
    @include transition(all .6s ease);
    @include background-image(none);

    > .fa {
        padding: 0 4px;
    }

    + .btn {
        margin-left: .75em;
    }

    &.btn-primary {
        background-color: $brand_primary;
        border-bottom-color: darken($brand_primary, 5);

        &:hover, &:focus {
            background-color: darken($brand_primary, 5);
        }
    }

    &.btn-secondary {
        background-color: $brand_accent;
        border-bottom-color: darken($brand_primary, 15);

        &:hover, &:focus {
            background-color: darken($brand_primary, 15);
            color: $color_white;
        }
    }

    &.btn-inverse {
        background-color: $brand_inverse;
        border-bottom-color: $brand_primary;
        
        &:hover, &:focus {
            background-color: $brand_primary;
        }
    }

    &.btn-inverse-2 {
        background-color: $brand_inverse_2;
        border-bottom-color: $color_black;
        color: $color_black;
        
        &:hover, &:focus {
            background-color: $color_black;
        }
    }

    &:hover, &:focus {
        text-decoration: none !important;
        color: $color_white;
        box-shadow: 0 1px 4px rgba($color_black, 1);

        .no-touch &{
            outline: none;
        }
    }
}

.btn-sm.btn, .btn-group-sm > .btn {
    padding: 4px 13px;
    font-size: 10.5px;
}

.btn-lg.btn, .btn-group-lg > .btn {
    padding: 10px 36px;
    font-size: 14px;
}

.btn-link {
    padding: 0;
    display: inline-block;
    text-decoration: none;
    position: relative;
    color: inherit;
    @include transition(color .8s ease-in-out);

    .hero_area & {
        font-size: 16px;
    }

    &::after {
        content:"";
        display: block;
        position: absolute;
        width: 20%;
        left: 0; right: 0;
        bottom: 0px;
        height: 2px;
        @include transition(all .4s .2s linear);
        background-color: $color_text;
    }

    &:hover, &:focus {
        color: $brand_accent;
        text-decoration: none;
        background-color: transparent;
        border:none;

        &::after{
            background-color: $brand_accent;
            width: 100%;
        }
    }

    &:active {
        background-color:transparent;
        background-image: none;
    }
}

.to-top {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: fixed;
    bottom: 15px;
    right: 3.5%;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba($brand_inverse_2, .6) url(../img/top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    @include transition (opacity .3s 0s, visibility 0s .3s);
    z-index: 30000;

    .no-touch & {
        &:hover, &:focus {
            background-color: $brand_inverse_2;
            opacity: 1;
        }
    }

    &.is-visible, &.fade-out, .no-touch &:hover {
        @include transition(opacity .3s, visibility 0s);
    }

    &.is-visible {
        /* the button becomes visible */
        visibility: visible;
        opacity: 1;
    }

    &.fade-out {
        /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
        opacity: .5;
    }
}