.main_content_wrapper {
    position: relative;
    width: 100%;
    z-index: 2;
    &::before {
        /* never visible - used to check MQ in jQuery */
        display: none;
        content: 'mobile';
    }
    @include MQ(M) {
        &::before {
            /* never visible - used to check MQ in jQuery */
            content: 'tablet';
        }
    }
    @include MQ(L) {
        margin-top: 0;
        &::before {
            /* never visible - used to check MQ in jQuery */
            content: 'desktop';
        }
    }
}

.entry_content {
    max-width: 760px; 
    line-height: 1.5;

    p {
        margin-bottom: 10px;
    }
}

.section_block {
    display: block;
    width: 100%;
    position: relative;
    padding: 50px 0;
}

.section_header {
    margin-bottom: 30px;
    max-width: 750px;
    position: relative;
    line-height: 1.2;
}

.v_align_center {
    
    @include MQ(M) {
        @include flexbox();
        align-items: center;
    }
}

.section_title {
    font-size: 26px;
    margin-bottom: 10px;

    @include MQ(M) {
        font-size: 32px;
    }
}

.section_cto {
    margin-top: 30px;
    display: block;
    clear: both;
}

.info_title {
    margin-bottom: 4px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: $body_font;
}

.hr_line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: $border_grey_light;
}

.aside_text_wrap {
    .floating_img_block & {
        @include MQ(M) {
            max-width: 320px;
            margin-left: 25px;
        }
    }
}

.main_footer {
    color: rgba($color_white, .75);
    fill: rgba($color_white, .75);
    padding: 40px 0 60px;
}

.footer_block {
    display: block;
    margin-top: 30px;
}

.brand_crest_wrapper {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.4;
}

.block_header {
    margin-bottom: 20px;
}

.block_title {
    font-size: 21px;
    margin-bottom: 10px;
}

.sec_block {
    margin-bottom: 30px;
}

.footer_nav {
    @include flexbox();
    flex-flow: row wrap;
    margin: 0 -10px;
}

.footer_nav_item {
    width: 50%;
    padding: 5px 10px;
    line-height: 1.5;
}

.copyright {
    font-size: 12px;
    color: $border_grey_dark;
    margin-top: 15px;
}