/* line 2, ../sass/partials/_base.scss */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 6, ../sass/partials/_base.scss */
html {
  font-size: 62.5%;
}

/* line 10, ../sass/partials/_base.scss */
img {
  width: 100%;
  height: auto;
}

/* line 15, ../sass/partials/_base.scss */
ul, ol {
  padding: 0;
  margin: 0;
}

/* line 20, ../sass/partials/_base.scss */
body {
  font-family: "Cairo", Roboto, Segoe UI, Open Sans, sans-serif;
  font-size: 1.4rem;
  font-size: 14px;
  word-spacing: -.01em;
  letter-spacing: .01em;
  color: #5C5D5F;
  height: 100%;
  height: 100vh;
  width: 100%;
  font-weight: 400;
  position: relative;
  line-height: 1.85;
  background-color: white;
}
/* line 35, ../sass/partials/_base.scss */
body.scroll_lock {
  overflow: hidden;
}

/* Backgrounds */
/* line 42, ../sass/partials/_base.scss */
.bg__default {
  background-color: #E5E5E5 !important;
}

/* line 46, ../sass/partials/_base.scss */
.bg__white {
  background-color: white !important;
}

/* line 50, ../sass/partials/_base.scss */
.bg__off_white {
  background-color: #f5f5f5 !important;
}

/* line 54, ../sass/partials/_base.scss */
.bg__primary {
  background-color: #AF0404 !important;
}

/* line 58, ../sass/partials/_base.scss */
.bg__black {
  background-color: #14121A !important;
}

/* line 62, ../sass/partials/_base.scss */
.bg__primary_light {
  background-color: #F2EFEF !important;
}

/* line 66, ../sass/partials/_base.scss */
.color__primary {
  color: #AF0404 !important;
}

/* line 70, ../sass/partials/_base.scss */
.color__black {
  color: #14121A !important;
}

/* line 74, ../sass/partials/_base.scss */
.color__grey_light {
  color: #959595 !important;
}

/* line 78, ../sass/partials/_base.scss */
.color__grey {
  color: #E5E5E5 !important;
}

/* line 82, ../sass/partials/_base.scss */
.color__grey_dark {
  color: #757575 !important;
}

/* line 86, ../sass/partials/_base.scss */
.color__white {
  color: #f5f5f5 !important;
}

/* line 90, ../sass/partials/_base.scss */
.color__default {
  color: #5C5D5F !important;
}

/* line 94, ../sass/partials/_base.scss */
.font-sm {
  font-size: 12px !important;
}

/* line 98, ../sass/partials/_base.scss */
.font-default {
  font-size: 14px !important;
}

/* line 102, ../sass/partials/_base.scss */
.font-md {
  font-size: 16px !important;
}

/* line 106, ../sass/partials/_base.scss */
.font-lg {
  font-size: 16px !important;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 106, ../sass/partials/_base.scss */
  .font-lg {
    font-size: 21px !important;
  }
}

/* line 114, ../sass/partials/_base.scss */
.font-bold {
  font-family: "Spectral", Roboto, Segoe UI, Open Sans, sans-serif;
  font-weight: 800;
}

/* line 119, ../sass/partials/_base.scss */
.font-regular {
  font-family: "Cairo", Roboto, Segoe UI, Open Sans, sans-serif;
  font-weight: 400;
}

/* line 124, ../sass/partials/_base.scss */
.text-center {
  text-align: center !important;
}

/* line 128, ../sass/partials/_base.scss */
.text-right {
  text-align: right !important;
}

/* line 132, ../sass/partials/_base.scss */
.text-left {
  text-align: left !important;
}

/* line 136, ../sass/partials/_base.scss */
.caps_upper {
  text-transform: uppercase !important;
}

/* line 140, ../sass/partials/_base.scss */
.caps_normal {
  text-transform: none !important;
}

/* line 144, ../sass/partials/_base.scss */
.container {
  width: auto;
  position: relative;
  max-width: 1170px;
}

/* line 150, ../sass/partials/_base.scss */
.content_narrow {
  max-width: 970px;
}

/* line 154, ../sass/partials/_base.scss */
.centered {
  float: none;
  margin: 0 auto;
}

/* line 159, ../sass/partials/_base.scss */
.hidden {
  display: none !important;
}

/* Mobile devices */
@media only screen and (max-width: 575px) {
  /* line 164, ../sass/partials/_base.scss */
  .hidden-sm {
    display: none !important;
  }

  /* line 168, ../sass/partials/_base.scss */
  .text-center-sm {
    text-align: center !important;
  }
}
/* line 173, ../sass/partials/_base.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* line 182, ../sass/partials/_base.scss */
h1 {
  font-size: 22px;
}

/* line 186, ../sass/partials/_base.scss */
h2 {
  font-size: 32px;
}

/* line 190, ../sass/partials/_base.scss */
h3 {
  font-size: 26px;
}

/* line 194, ../sass/partials/_base.scss */
h4 {
  font-size: 21px;
}

/* line 198, ../sass/partials/_base.scss */
h5 {
  font-size: 18px;
}

/* line 202, ../sass/partials/_base.scss */
h6 {
  font-size: 16px;
}

/* line 206, ../sass/partials/_base.scss */
p {
  margin: 0;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
}
/* line 210, ../sass/partials/_base.scss */
p + p {
  padding-top: .5em;
}

/* line 215, ../sass/partials/_base.scss */
.base_divider {
  height: 4px;
  border-top: 1px solid rgba(175, 4, 4, 0.5);
  border-bottom: 1px solid rgba(175, 4, 4, 0.5);
  margin: 20px 0;
}

/* line 222, ../sass/partials/_base.scss */
.margin_top_sm {
  margin-top: 10px !important;
}

/* line 226, ../sass/partials/_base.scss */
.margin_top_md {
  margin-top: 20px !important;
}

/* line 230, ../sass/partials/_base.scss */
.margin_top_lg {
  margin-top: 30px !important;
}

/* line 234, ../sass/partials/_base.scss */
.margin_top_xl {
  margin-top: 50px !important;
}

/* line 238, ../sass/partials/_base.scss */
.margin_bottom_xl {
  margin-bottom: 50px !important;
}

/* line 242, ../sass/partials/_base.scss */
.margin_bottom_lg {
  margin-bottom: 30px !important;
}

/* line 246, ../sass/partials/_base.scss */
.margin_bottom_md {
  margin-bottom: 20px !important;
}

/* line 250, ../sass/partials/_base.scss */
.margin_bottom_sm {
  margin-bottom: 10px !important;
}

/* line 254, ../sass/partials/_base.scss */
.margin_bottom_xs {
  margin-bottom: 5px !important;
}

/* line 258, ../sass/partials/_base.scss */
.no_margin {
  margin: 0 !important;
}

/* line 262, ../sass/partials/_base.scss */
.padding-top-none {
  padding-top: 0 !important;
}

/* line 1, ../sass/partials/_form.scss */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #959595;
}

/* line 6, ../sass/partials/_form.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #959595;
}

/* line 11, ../sass/partials/_form.scss */
:-ms-input-placeholder {
  /* IE 10+ */
  color: #959595;
}

/* line 16, ../sass/partials/_form.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #959595;
}

/* line 21, ../sass/partials/_form.scss */
.input-group {
  z-index: 1;
}
/* line 24, ../sass/partials/_form.scss */
.input-group > .form-control {
  border-right: none;
}

/* line 29, ../sass/partials/_form.scss */
.input-group-addon {
  background: transparent;
  color: #E5E5E5;
  font-size: .925em;
  padding: 0 15px;
  align-self: center;
  height: 100%;
  line-height: 45px;
  border: 1px solid #d5d5d5;
  border-left: none;
  border-radius: 0 5px 5px 0;
  width: auto;
}

/* line 43, ../sass/partials/_form.scss */
.input-group-btn {
  font-size: 1em;
}
/* line 45, ../sass/partials/_form.scss */
.input-group-btn .btn {
  vertical-align: middle;
  height: 100%;
}

/* line 51, ../sass/partials/_form.scss */
.form-group {
  position: relative;
  margin-bottom: 25px;
}
/* line 55, ../sass/partials/_form.scss */
.form-group .checkbox-inline {
  margin-top: 0;
}
/* line 59, ../sass/partials/_form.scss */
.form-group > a:not(.btn) {
  display: inline-block;
  margin-top: 10px;
}

/* line 65, ../sass/partials/_form.scss */
input:focus {
  outline: none;
}

/* line 70, ../sass/partials/_form.scss */
.text-error, .has-error {
  font-size: 12px;
  color: red !important;
}

/* line 75, ../sass/partials/_form.scss */
.form-control {
  padding: 8px 12px;
  font-size: 14px;
  line-height: normal;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  outline: 0;
  width: 100%;
  min-height: 45px;
  position: relative;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  overflow: hidden;
  color: #5C5D5F;
  text-indent: .01px;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-box-shadow: 0 0 0, transparent;
  -webkit-box-shadow: 0 0 0, transparent;
  box-shadow: 0 0 0, transparent;
  box-shadow: unset;
  vertical-align: middle;
}
/* line 97, ../sass/partials/_form.scss */
.form-control.control_colored {
  border-color: transparent;
  background-color: #F2EFEF;
}
/* line 102, ../sass/partials/_form.scss */
.form-control:focus {
  outline: 0;
  border-color: #AF0404;
  box-shadow: none;
}

/* line 109, ../sass/partials/_form.scss */
.control-label {
  text-transform: none;
  font-size: 1em;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 7.5px;
  line-height: 1.4rem;
  color: #757575;
}
/* line 118, ../sass/partials/_form.scss */
[class*="checkbox"] .control-label, [class*="radio"] .control-label {
  color: inherit;
}

/* line 123, ../sass/partials/_form.scss */
select.form-control {
  background: white url(../img/icons/arrow-down.png) right center no-repeat;
  padding-right: 25px;
}
/* line 126, ../sass/partials/_form.scss */
select.form-control:focus {
  outline: none;
  background: white url(../img/icons/arrow-down.png) right center no-repeat;
}

/* line 132, ../sass/partials/_form.scss */
.radio, .checkbox {
  line-height: 1;
}
/* line 135, ../sass/partials/_form.scss */
.radio + .radio, .radio + .checkbox, .checkbox + .radio, .checkbox + .checkbox {
  margin-top: 15px;
}

/* line 140, ../sass/partials/_form.scss */
input[type="radio"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
  position: relative;
  margin-top: 3px;
  margin-right: 7.5px;
  vertical-align: top;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
/* line 153, ../sass/partials/_form.scss */
.controlSummary input[type="radio"], .controlSummary
.radio input[type="radio"], .controlSummary
.radio-inline input[type="radio"] {
  margin-top: 6px;
}
/* line 157, ../sass/partials/_form.scss */
input[type="radio"]:focus,
.radio input[type="radio"]:focus,
.radio-inline input[type="radio"]:focus {
  outline: none;
}
/* line 160, ../sass/partials/_form.scss */
input[type="radio"]:before, input[type="radio"]:after,
.radio input[type="radio"]:before,
.radio input[type="radio"]:after,
.radio-inline input[type="radio"]:before,
.radio-inline input[type="radio"]:after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -moz-transition: 240ms;
  -o-transition: 240ms;
  -webkit-transition: 240ms;
  transition: 240ms;
}
/* line 169, ../sass/partials/_form.scss */
input[type="radio"]:before,
.radio input[type="radio"]:before,
.radio-inline input[type="radio"]:before {
  position: absolute;
  left: 0;
  top: -3px;
  background-color: #E29F2C;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
/* line 176, ../sass/partials/_form.scss */
input[type="radio"]:after,
.radio input[type="radio"]:after,
.radio-inline input[type="radio"]:after {
  position: relative;
  top: -3px;
  border: 2px solid #959595;
}
/* line 181, ../sass/partials/_form.scss */
input[type="radio"]:checked:before,
.radio input[type="radio"]:checked:before,
.radio-inline input[type="radio"]:checked:before {
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
/* line 184, ../sass/partials/_form.scss */
input[type="radio"]:disabled:checked:before,
.radio input[type="radio"]:disabled:checked:before,
.radio-inline input[type="radio"]:disabled:checked:before {
  background-color: #959595;
}
/* line 187, ../sass/partials/_form.scss */
input[type="radio"]:checked:after,
.radio input[type="radio"]:checked:after,
.radio-inline input[type="radio"]:checked:after {
  border-color: #E29F2C;
}
/* line 190, ../sass/partials/_form.scss */
input[type="radio"]:disabled:after, input[type="radio"]:disabled:checked:after,
.radio input[type="radio"]:disabled:after,
.radio input[type="radio"]:disabled:checked:after,
.radio-inline input[type="radio"]:disabled:after,
.radio-inline input[type="radio"]:disabled:checked:after {
  border-color: #959595;
}

/* line 196, ../sass/partials/_form.scss */
input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: relative;
  border: none;
  margin-bottom: -6px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}
/* line 205, ../sass/partials/_form.scss */
input[type="checkbox"]:focus,
.checkbox input[type="checkbox"]:focus,
.checkbox-inline input[type="checkbox"]:focus {
  outline: none;
}
/* line 208, ../sass/partials/_form.scss */
input[type="checkbox"]:after,
.checkbox input[type="checkbox"]:after,
.checkbox-inline input[type="checkbox"]:after {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  margin-top: -2px;
  margin-right: 7.5px;
  border: 2px solid #959595;
  border-radius: 3px;
  -moz-transition: 240ms;
  -o-transition: 240ms;
  -webkit-transition: 240ms;
  transition: 240ms;
}
/* line 219, ../sass/partials/_form.scss */
input[type="checkbox"]:checked:before,
.checkbox input[type="checkbox"]:checked:before,
.checkbox-inline input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: 0;
  left: 7px;
  display: table;
  width: 6px;
  height: 14px;
  border: 2px solid #f5f5f5;
  border-top-width: 0;
  border-left-width: 0;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 232, ../sass/partials/_form.scss */
input[type="checkbox"]:checked:after,
.checkbox input[type="checkbox"]:checked:after,
.checkbox-inline input[type="checkbox"]:checked:after {
  background-color: #AF0404;
  border-color: #AF0404;
}
/* line 236, ../sass/partials/_form.scss */
input[type="checkbox"]:disabled:after,
.checkbox input[type="checkbox"]:disabled:after,
.checkbox-inline input[type="checkbox"]:disabled:after {
  border-color: #959595;
}
/* line 239, ../sass/partials/_form.scss */
input[type="checkbox"]:disabled:checked:after,
.checkbox input[type="checkbox"]:disabled:checked:after,
.checkbox-inline input[type="checkbox"]:disabled:checked:after {
  background-color: #E5E5E5;
  border-color: transparent;
}
/* line 244, ../sass/partials/_form.scss */
input[type="checkbox"]:disabled:checked:before,
.checkbox input[type="checkbox"]:disabled:checked:before,
.checkbox-inline input[type="checkbox"]:disabled:checked:before {
  border-color: #959595;
}

/* line 249, ../sass/partials/_form.scss */
.required::after {
  content: "*";
  font-size: 1.025em;
  padding-left: 3px;
  color: red;
}

/* line 256, ../sass/partials/_form.scss */
input[disabled] {
  background-color: #c5c5c5;
}

/* line 260, ../sass/partials/_form.scss */
.radio-inline,
.checkbox-inline {
  padding: 10px 0 5px;
  display: inline-flex;
  align-items: center;
}
/* line 266, ../sass/partials/_form.scss */
.radio-inline + .radio-inline,
.radio-inline + .checkbox-inline,
.checkbox-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-left: 30px;
}

/* line 272, ../sass/partials/_form.scss */
label {
  font-weight: normal;
}
/* line 275, ../sass/partials/_form.scss */
label.radio-inline + label {
  margin-left: 30px;
}
/* line 279, ../sass/partials/_form.scss */
label.checkbox-inline {
  margin: 5px 0;
  margin-bottom: 0 !important;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
}

/*Countdown timer*/
/* line 3, ../sass/partials/_controls.scss */
.countdown {
  text-transform: uppercase;
  padding: 15px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

/* line 11, ../sass/partials/_controls.scss */
.countdown-container {
  padding: 0 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

/* line 18, ../sass/partials/_controls.scss */
.countdown-heading, .countdown-value {
  line-height: 1.25;
}

/* line 22, ../sass/partials/_controls.scss */
.countdown-heading {
  font-size: 1em;
  font-weight: 400;
  font-family: "Cairo", Roboto, Segoe UI, Open Sans, sans-serif;
  opacity: .65;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 22, ../sass/partials/_controls.scss */
  .countdown-heading {
    font-size: 18px;
  }
}

/* line 33, ../sass/partials/_controls.scss */
.countdown-value {
  font-size: 21px;
  font-weight: 800;
  font-family: "Spectral", Roboto, Segoe UI, Open Sans, sans-serif;
  /* Mobile devices */
  /* Landscape tablets and desktop or laptops */
}
@media only screen and (min-width: 576px) {
  /* line 33, ../sass/partials/_controls.scss */
  .countdown-value {
    font-size: 32px;
  }
}
@media only screen and (min-width: 992px) {
  /* line 33, ../sass/partials/_controls.scss */
  .countdown-value {
    font-size: 64px;
  }
}

/* line 1, ../sass/partials/_user_area.scss */
.media_item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
}

/* line 6, ../sass/partials/_user_area.scss */
.media_figure {
  position: relative;
  flex-shrink: 0;
  margin-right: 15px;
}

/* line 12, ../sass/partials/_user_area.scss */
.media_info {
  flex: 1;
}

/* line 16, ../sass/partials/_user_area.scss */
.avi_md {
  max-width: 48px;
  font-size: 16px;
}

/* line 21, ../sass/partials/_user_area.scss */
.insight_item {
  margin-bottom: 30px;
}

/* line 25, ../sass/partials/_user_area.scss */
.insight_title {
  clear: both;
  font-size: 12pm;
  white-space: nowrap;
  margin-bottom: 5px;
}

/* line 32, ../sass/partials/_user_area.scss */
.insight_value {
  line-height: 1;
  position: relative;
}

/* line 1, ../sass/partials/_heroes.scss */
.hero_area {
  background-size: cover;
  width: 100%;
  position: relative;
  background-position: top right;
  background-repeat: no-repeat;
  z-index: 1;
  overflow: hidden;
  min-height: 380px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 1, ../sass/partials/_heroes.scss */
  .hero_area {
    min-height: 100%;
  }
}

/* line 16, ../sass/partials/_heroes.scss */
.hero_area {
  background-color: #AF0404;
}
/* line 20, ../sass/partials/_heroes.scss */
.hero_area .container {
  z-index: 10;
}

/* line 25, ../sass/partials/_heroes.scss */
.home_hero {
  background-color: #AF0404;
  background-image: radial-gradient(112.17% 112.17% at 50% 0%, #af0404 0%, #14121a 100%);
}

/* line 30, ../sass/partials/_heroes.scss */
.heroContentWrapper {
  min-height: 65vh;
  padding: 100px 0 70px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  /* Tablets and phablets */
}
/* line 37, ../sass/partials/_heroes.scss */
.contact_hero .heroContentWrapper {
  min-height: auto;
}
@media only screen and (min-width: 768px) {
  /* line 30, ../sass/partials/_heroes.scss */
  .heroContentWrapper {
    padding-top: 220px;
    padding-bottom: 150px;
  }
}

/* line 47, ../sass/partials/_heroes.scss */
.hero_title {
  font-size: 32px;
  margin-bottom: 15px;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 47, ../sass/partials/_heroes.scss */
  .hero_title {
    font-size: 64px;
  }
}

/* line 57, ../sass/partials/_heroes.scss */
.hero_blub {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
  color: inherit;
}

/* line 64, ../sass/partials/_heroes.scss */
.heroImage {
  display: block;
  position: absolute;
  z-index: 3;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  background-position: bottom right;
  bottom: -30px;
}

/* line 76, ../sass/partials/_heroes.scss */
.heroImageRight {
  right: 0;
  max-width: 650px;
  background-position: top center;
  background-image: url(../img/banners/hero_brand.png);
}

/* line 83, ../sass/partials/_heroes.scss */
.imageItemHolder {
  padding-bottom: 20px;
}
/* line 86, ../sass/partials/_heroes.scss */
.imageItemHolder img {
  display: inline-block;
  width: 100%;
}

/* SVG Icon systems */
/* line 2, ../sass/partials/_custom_icons.scss */
.cust_icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  overflow: hidden;
  vertical-align: middle;
  fill: inherit;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* line 14, ../sass/partials/_custom_icons.scss */
svg {
  display: inline-block;
  width: 100%;
}

/* line 19, ../sass/partials/_custom_icons.scss */
.icon_xs {
  width: 16px;
  height: 16px;
}

/* line 24, ../sass/partials/_custom_icons.scss */
.icon_sm {
  width: 32px;
  height: 32px;
}

/* line 29, ../sass/partials/_custom_icons.scss */
.icon_md {
  width: 48px;
  height: 48px;
}

/* line 34, ../sass/partials/_custom_icons.scss */
.icon_lg {
  width: 64px;
  height: 64px;
}

/* line 39, ../sass/partials/_custom_icons.scss */
.icon_xl {
  width: 64px;
  height: 64px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 39, ../sass/partials/_custom_icons.scss */
  .icon_xl {
    width: 116px;
    height: 116px;
  }
}

/* line 49, ../sass/partials/_custom_icons.scss */
.icon_mail {
  background-image: url(../img/icons/mail.svg);
}

/* line 53, ../sass/partials/_custom_icons.scss */
.icon_twitter {
  background-image: url(../img/icons/twitter.svg);
}

/* line 57, ../sass/partials/_custom_icons.scss */
.icon_instagram {
  background-image: url(../img/icons/instagram.svg);
}

/* line 61, ../sass/partials/_custom_icons.scss */
.icon_phone {
  background-image: url(../img/icons/phone.svg);
}

/* line 1, ../sass/partials/_navigation.scss */
a {
  text-decoration: none;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  color: inherit;
}
/* line 6, ../sass/partials/_navigation.scss */
a:hover, a:focus {
  color: #AF0404;
  text-decoration: none;
  opacity: 1;
}
/* line 13, ../sass/partials/_navigation.scss */
a:focus {
  outline: thin dotted #AF0404;
}
/* line 15, ../sass/partials/_navigation.scss */
.no-touch a:focus {
  outline: none;
}
/* line 20, ../sass/partials/_navigation.scss */
p > a {
  font-weight: 600;
  border-bottom: 1px dotted #E5E5E5;
  color: #14121A;
}
/* line 25, ../sass/partials/_navigation.scss */
p > a:hover {
  border-bottom-color: #AF0404;
}

/* line 31, ../sass/partials/_navigation.scss */
button {
  outline: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  width: auto;
  height: auto;
  color: inherit;
  background: 0 0;
  cursor: pointer;
  text-align: center;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
/* line 44, ../sass/partials/_navigation.scss */
button:focus, button:visited {
  outline: none;
}

/* line 49, ../sass/partials/_navigation.scss */
.btn {
  border-radius: 4px;
  padding: 10px 22px;
  font-size: 12px;
  font-weight: 600;
  background-color: transparent;
  color: inherit;
  fill: #959595;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  position: relative;
  max-width: 100%;
  box-shadow: 0px 0px 0px transparent;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  text-decoration: none !important;
  /* Tablets and phablets */
}
/* line 68, ../sass/partials/_navigation.scss */
.btn + [class*="btn"] {
  margin-left: 1.5em;
}
@media only screen and (min-width: 768px) {
  /* line 49, ../sass/partials/_navigation.scss */
  .btn {
    min-width: 120px;
    padding: 12px 32px;
    font-size: 14px;
  }
}
/* line 78, ../sass/partials/_navigation.scss */
.btn:hover, .btn:focus {
  text-decoration: none !important;
}
/* line 81, ../sass/partials/_navigation.scss */
.no-touch .btn:hover, .no-touch .btn:focus {
  outline: none;
}

/* line 87, ../sass/partials/_navigation.scss */
.btnIcon {
  flex-shrink: 0;
  margin: 0 10px;
}

/* line 92, ../sass/partials/_navigation.scss */
.btnLabel {
  margin-top: 2.5px;
}

/* line 96, ../sass/partials/_navigation.scss */
.btn-primary {
  background-color: #AF0404;
  color: #f5f5f5;
}
/* line 99, ../sass/partials/_navigation.scss */
.btn-primary:hover, .btn-primary:focus {
  background-color: #14121A;
  color: #f5f5f5;
}

/* line 106, ../sass/partials/_navigation.scss */
.btn-default {
  background-color: transparent;
  color: inherit;
}
/* line 110, ../sass/partials/_navigation.scss */
.btn-default:hover, .btn-default:focus, .btn-default:visited {
  background-color: #F2EFEF;
  color: #14121A;
}

/* line 118, ../sass/partials/_navigation.scss */
.btn-primary-outline {
  background-color: transparent;
  color: inherit;
  border: 2px solid #959595;
}
/* line 123, ../sass/partials/_navigation.scss */
.btn-primary-outline:hover, .btn-primary-outline:focus {
  color: #f5f5f5;
  background-color: #AF0404;
  border-color: transparent;
}

/* line 130, ../sass/partials/_navigation.scss */
.btn-default-outline {
  background-color: transparent;
  color: inherit;
  border: 1px solid #E5E5E5;
}
/* line 135, ../sass/partials/_navigation.scss */
.btn-default-outline:hover, .btn-default-outline:focus {
  color: #f5f5f5;
  background-color: #14121A;
  border-color: transparent;
}

/* line 142, ../sass/partials/_navigation.scss */
.btn-sm.btn,
.btn-group-sm > .btn {
  font-size: 12px;
  padding: 8.5px 1.5em;
}

/* line 148, ../sass/partials/_navigation.scss */
.btn-lg.btn,
.btn-group-lg > .btn {
  padding: 15px 4em;
  font-size: 16px;
}

/* line 154, ../sass/partials/_navigation.scss */
.btn-link {
  cursor: pointer;
  font-size: 1em;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  color: inherit;
  fill: #959595;
}
/* line 163, ../sass/partials/_navigation.scss */
.btn-link:hover, .btn-link:focus {
  color: #AF0404;
  text-decoration: none;
  fill: #AF0404;
}
/* line 170, ../sass/partials/_navigation.scss */
.btn-link:active, .btn-link[disabled] {
  color: #959595;
  outline: none;
}

/* line 176, ../sass/partials/_navigation.scss */
.ft_control {
  display: inline-block;
  color: inherit;
  padding: 5px 15px 5px 20px;
  border-radius: 3px;
  font-weight: 600;
  box-shadow: inset 4px 0 #AF0404;
}
/* line 184, ../sass/partials/_navigation.scss */
.ft_control:hover, .ft_control:focus {
  background-color: #E5E5E5;
  color: #14121A;
}

/* line 189, ../sass/partials/_navigation.scss */
.social_links {
  clear: both;
  fill: #959595;
}
/* line 193, ../sass/partials/_navigation.scss */
.social_links a {
  display: inline-block;
  font-size: 18px;
  fill: inherit;
  vertical-align: bottom;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
/* line 200, ../sass/partials/_navigation.scss */
.social_links a + a {
  margin-left: 30px;
}
/* line 204, ../sass/partials/_navigation.scss */
.social_links a:hover, .social_links a:focus {
  fill: #AF0404;
}

/* line 210, ../sass/partials/_navigation.scss */
.dialogDismiss {
  position: absolute;
  right: 15px;
  top: 10px;
  display: flex;
  z-index: 1000;
}

/* line 218, ../sass/partials/_navigation.scss */
.pageClose {
  position: fixed;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 218, ../sass/partials/_navigation.scss */
  .pageClose {
    top: 30px;
    right: 40px;
  }
}

/* line 226, ../sass/partials/_navigation.scss */
.close_dialog {
  z-index: 5;
  width: 30px;
  height: 30px;
  font-size: 10px;
  text-align: center;
  border-radius: 50%;
  position: relative;
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-color: transparent;
  border: 2px solid #AF0404;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 239, ../sass/partials/_navigation.scss */
.close_dialog::before, .close_dialog::after {
  position: absolute;
  content: "";
  width: 2px;
  background: #AF0404;
  height: 14px;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -1px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 251, ../sass/partials/_navigation.scss */
.close_dialog::before {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 254, ../sass/partials/_navigation.scss */
.close_dialog::after {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 257, ../sass/partials/_navigation.scss */
.close_dialog:hover, .close_dialog:focus {
  background-color: #959595;
  border-color: transparent;
}
/* line 262, ../sass/partials/_navigation.scss */
.close_dialog:hover::before, .close_dialog:hover::after, .close_dialog:focus::before, .close_dialog:focus::after {
  background-color: #959595;
}

/* line 269, ../sass/partials/_navigation.scss */
.cls_lg {
  width: 48px;
  height: 48px;
}
/* line 273, ../sass/partials/_navigation.scss */
.cls_lg::before, .cls_lg::after {
  height: 24px;
  margin-top: -12px;
}

/* line 2, ../sass/partials/_header_nav.scss */
header[role="banner"] {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 10, ../sass/partials/_header_nav.scss */
.mainHeader {
  background-color: white;
  text-align: center;
  /* Tablets and phablets */
  /* Tablets and phablets */
}
@media only screen and (max-width: 767px) {
  /* line 10, ../sass/partials/_header_nav.scss */
  .mainHeader {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #E5E5E5;
  }
}
@media only screen and (min-width: 768px) {
  /* line 10, ../sass/partials/_header_nav.scss */
  .mainHeader {
    height: 100%;
    width: 80px;
    border-right: 1px solid #E5E5E5;
  }
}

/* line 27, ../sass/partials/_header_nav.scss */
.navbarWrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  z-index: 1;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  /* Tablets and phablets */
  /* Tablets and phablets */
}
@media only screen and (max-width: 767px) {
  /* line 27, ../sass/partials/_header_nav.scss */
  .navbarWrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 27, ../sass/partials/_header_nav.scss */
  .navbarWrapper {
    flex-direction: column;
    padding: 30px 0;
  }
}

/* line 46, ../sass/partials/_header_nav.scss */
.navbarGroupItem {
  width: auto;
  display: block;
  position: relative;
  /* Tablets and phablets */
}
@media only screen and (max-width: 767px) {
  /* line 46, ../sass/partials/_header_nav.scss */
  .navbarGroupItem {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    height: 100%;
  }
}

/* line 58, ../sass/partials/_header_nav.scss */
.navBarItemLeft {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  z-index: 5;
  flex-shrink: 0;
}

/* line 66, ../sass/partials/_header_nav.scss */
.navBarItemRight {
  justify-content: flex-end;
  z-index: 5;
  flex-shrink: 0;
  /* Tablets and phablets */
}
@media only screen and (max-width: 767px) {
  /* line 66, ../sass/partials/_header_nav.scss */
  .navBarItemRight {
    display: none;
  }
}

/* line 76, ../sass/partials/_header_nav.scss */
.brand_img {
  display: block;
}
/* line 79, ../sass/partials/_header_nav.scss */
header[role="banner"] .brand_img {
  height: 60px;
}

/* line 84, ../sass/partials/_header_nav.scss */
.logo_link {
  padding: 0;
  display: block;
  line-height: 60px;
  width: 35px;
  position: relative;
  height: auto;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 84, ../sass/partials/_header_nav.scss */
  .logo_link {
    width: 50px;
  }
}
/* line 96, ../sass/partials/_header_nav.scss */
.logo_link > img {
  display: inline-block;
}

/* line 101, ../sass/partials/_header_nav.scss */
.navMenu {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  width: 100%;
}

/* line 107, ../sass/partials/_header_nav.scss */
.controlBtn {
  position: relative;
}
/* line 110, ../sass/partials/_header_nav.scss */
.controlBtn > a {
  fill: #E5E5E5;
}
/* line 113, ../sass/partials/_header_nav.scss */
.controlBtn > a:hover, .controlBtn > a:focus {
  fill: #AF0404;
}

/* line 119, ../sass/partials/_header_nav.scss */
.menuListItem {
  position: relative;
  display: block;
  width: 100%;
}

/* line 125, ../sass/partials/_header_nav.scss */
.menuLinkItem:not(.btn) {
  display: block;
  padding: 15px 22px;
  text-transform: capitalize;
  white-space: nowrap;
  font-family: "Spectral", Roboto, Segoe UI, Open Sans, sans-serif;
  line-height: 1;
  font-size: 12px;
  border-radius: 25px;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
/* line 136, ../sass/partials/_header_nav.scss */
.menuLinkItem:not(.btn) img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  -moz-transition: filter 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s;
  -o-transition: filter 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s;
  -webkit-transition: filter 0.4s ease-in-out, opacity 0.4s ease-in-out;
  -webkit-transition-delay: 0s, 0s;
  transition: filter 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s;
  opacity: .75;
}
/* line 142, ../sass/partials/_header_nav.scss */
.active .menuLinkItem:not(.btn), .menuLinkItem:not(.btn):hover, .menuLinkItem:not(.btn):focus {
  color: #AF0404;
}
/* line 147, ../sass/partials/_header_nav.scss */
.active .menuLinkItem:not(.btn) img, .menuLinkItem:not(.btn):hover img, .menuLinkItem:not(.btn):focus img {
  opacity: 1;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

/* line 154, ../sass/partials/_header_nav.scss */
.nav_trigger {
  display: inline-block;
}

/* line 158, ../sass/partials/_header_nav.scss */
.primary-nav-trigger {
  position: relative;
}

/* line 162, ../sass/partials/_header_nav.scss */
.menu-icon {
  /* this span is the central line of the menu icon */
  display: block;
  width: 24px;
  height: 2px;
  position: relative;
  background-color: #14121A;
  -moz-transition: background-color 0.6s;
  -o-transition: background-color 0.6s;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
  /* these are the upper and lower lines in the menu icon */
}
/* line 171, ../sass/partials/_header_nav.scss */
.menu-icon::before, .menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #14121A;
  right: 0;
  -moz-transition: -moz-transform 0.6s, top 0.6s, background-color 0s;
  -o-transition: -o-transform 0.6s, top 0.6s, background-color 0s;
  -webkit-transition: -webkit-transform 0.6s, top 0.6s, background-color 0s;
  transition: transform 0.6s, top 0.6s, background-color 0s;
}
/* line 181, ../sass/partials/_header_nav.scss */
.menu-icon::before {
  top: -7px;
}
/* line 184, ../sass/partials/_header_nav.scss */
.menu-icon::after {
  top: 7px;
}
/* line 187, ../sass/partials/_header_nav.scss */
.menu-icon.is-clicked {
  background-color: rgba(175, 4, 4, 0);
}
/* line 189, ../sass/partials/_header_nav.scss */
.menu-icon.is-clicked::before, .menu-icon.is-clicked::after {
  background-color: #14121a;
}
/* line 193, ../sass/partials/_header_nav.scss */
.menu-icon.is-clicked::before {
  top: 0;
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* line 197, ../sass/partials/_header_nav.scss */
.menu-icon.is-clicked::after {
  top: 0;
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

/* line 204, ../sass/partials/_header_nav.scss */
.menuPrimary {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  position: fixed;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  -moz-transition: -moz-transform 0.4s ease-in-out 0s, opacity 0.35s ease-in-out 0s, visibility 0.4s ease-in-out 0s;
  -o-transition: -o-transform 0.4s ease-in-out 0s, opacity 0.35s ease-in-out 0s, visibility 0.4s ease-in-out 0s;
  -webkit-transition: -webkit-transform 0.4s ease-in-out, opacity 0.35s ease-in-out, visibility 0.4s ease-in-out;
  -webkit-transition-delay: 0s, 0s, 0s;
  transition: transform 0.4s ease-in-out 0s, opacity 0.35s ease-in-out 0s, visibility 0.4s ease-in-out 0s;
  /* Tablets and phablets */
  /* Tablets and phablets */
}
@media only screen and (max-width: 767px) {
  /* line 204, ../sass/partials/_header_nav.scss */
  .menuPrimary {
    top: 60px;
    transform-origin: top;
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  /* line 220, ../sass/partials/_header_nav.scss */
  .showNavMenu .menuPrimary {
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}
@media only screen and (min-width: 768px) {
  /* line 204, ../sass/partials/_header_nav.scss */
  .menuPrimary {
    left: 80px;
    top: 0;
    transform-origin: left;
    -moz-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
  /* line 231, ../sass/partials/_header_nav.scss */
  .showNavMenu .menuPrimary {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
/* line 236, ../sass/partials/_header_nav.scss */
.showNavMenu .menuPrimary {
  visibility: visible;
  opacity: 1;
  -moz-transition: -moz-transform 0.4s ease-in-out 0s, opacity 0.35s ease-in-out 0s, visibility 0.4s ease-in-out 0s;
  -o-transition: -o-transform 0.4s ease-in-out 0s, opacity 0.35s ease-in-out 0s, visibility 0.4s ease-in-out 0s;
  -webkit-transition: -webkit-transform 0.4s ease-in-out, opacity 0.35s ease-in-out, visibility 0.4s ease-in-out;
  -webkit-transition-delay: 0s, 0s, 0s;
  transition: transform 0.4s ease-in-out 0s, opacity 0.35s ease-in-out 0s, visibility 0.4s ease-in-out 0s;
}

/* line 243, ../sass/partials/_header_nav.scss */
.primaryMenuWrapper {
  width: 100%;
  display: block;
  height: 100%;
  padding: 30px 15px 100px;
  overflow-y: auto;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 243, ../sass/partials/_header_nav.scss */
  .primaryMenuWrapper {
    padding: 100px 70px;
  }
}

/* line 255, ../sass/partials/_header_nav.scss */
.primaryMenuItem {
  display: block;
  clear: both;
  color: #14121A;
  margin-bottom: 20px;
  /* Tablets and phablets */
}
@media only screen and (max-width: 767px) {
  /* line 255, ../sass/partials/_header_nav.scss */
  .primaryMenuItem {
    text-align: center;
  }
}

/* line 266, ../sass/partials/_header_nav.scss */
.menuLinkBtn {
  display: block;
  font-size: 21px;
  font-weight: 400;
  font-family: "Spectral", Roboto, Segoe UI, Open Sans, sans-serif;
  /* Tablets and phablets */
}
/* line 272, ../sass/partials/_header_nav.scss */
.menuLinkBtn.btn {
  font-size: 16px;
  border-color: #959595;
}
/* line 276, ../sass/partials/_header_nav.scss */
.menuLinkBtn.btn:hover, .menuLinkBtn.btn:focus {
  background-color: #14121A;
  color: #f5f5f5;
}
@media only screen and (min-width: 768px) {
  /* line 266, ../sass/partials/_header_nav.scss */
  .menuLinkBtn {
    font-size: 32px;
    display: inline-block;
  }
}

/* line 288, ../sass/partials/_header_nav.scss */
.navInfoBlock {
  max-width: 280px;
  margin: auto;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 288, ../sass/partials/_header_nav.scss */
  .navInfoBlock {
    font-size: 16px;
    line-height: 2;
  }
}

/* line 298, ../sass/partials/_header_nav.scss */
.infoBlockTitle {
  font-size: 16px;
  letter-spacing: .2em;
}

/* line 303, ../sass/partials/_header_nav.scss */
.streamServices {
  clear: both;
}

/* line 307, ../sass/partials/_header_nav.scss */
.logo_grid {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  /* Tablets and phablets */
  /* Tablets and phablets */
}
@media only screen and (max-width: 767px) {
  /* line 307, ../sass/partials/_header_nav.scss */
  .logo_grid {
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) {
  /* line 307, ../sass/partials/_header_nav.scss */
  .logo_grid {
    margin-left: -20px;
  }
}

/* line 322, ../sass/partials/_header_nav.scss */
.logo_item {
  padding: 15px 20px;
  color: #14121A;
}
/* line 326, ../sass/partials/_header_nav.scss */
.logo_item img {
  display: inline-block;
  height: 50px;
  height: auto;
  max-width: 90px;
  width: auto;
}

/* line 335, ../sass/partials/_header_nav.scss */
.copyright_notice {
  clear: both;
  color: rgba(149, 149, 149, 0.75);
}

/* line 1, ../sass/partials/_sections.scss */
.mainContentArea {
  position: relative;
  width: 100%;
  /* Tablets and phablets */
  /* Tablets and phablets */
  /* Landscape tablets and desktop or laptops */
}
@media only screen and (max-width: 767px) {
  /* line 1, ../sass/partials/_sections.scss */
  .mainContentArea {
    margin-top: 60px;
  }
}
/* line 9, ../sass/partials/_sections.scss */
.mainContentArea.is_active {
  overflow: hidden;
}
/* line 13, ../sass/partials/_sections.scss */
.mainContentArea::before {
  /* never visible - used to check MQ in jQuery */
  display: none;
  content: 'mobile';
}
@media only screen and (min-width: 768px) {
  /* line 1, ../sass/partials/_sections.scss */
  .mainContentArea {
    padding-left: 80px;
  }
  /* line 20, ../sass/partials/_sections.scss */
  .mainContentArea::before {
    /* never visible - used to check MQ in jQuery */
    content: 'tablet';
  }
}
@media only screen and (min-width: 992px) {
  /* line 1, ../sass/partials/_sections.scss */
  .mainContentArea {
    margin-top: 0;
  }
  /* line 27, ../sass/partials/_sections.scss */
  .mainContentArea::before {
    /* never visible - used to check MQ in jQuery */
    content: 'desktop';
  }
}

/* line 34, ../sass/partials/_sections.scss */
.pageLayoutHolder {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* line 42, ../sass/partials/_sections.scss */
.pageLayoutInner {
  width: 100%;
  min-height: 100%;
}

/* line 47, ../sass/partials/_sections.scss */
.section_block {
  padding: 70px 0;
  display: block;
  width: 100%;
  position: relative;
}
/* line 53, ../sass/partials/_sections.scss */
.section_block .container {
  z-index: 5;
}

/* line 58, ../sass/partials/_sections.scss */
.section_cto {
  margin-top: 30px;
  display: block;
  clear: both;
}

/* line 64, ../sass/partials/_sections.scss */
.section_header {
  padding-bottom: 40px;
  position: relative;
}

/* line 69, ../sass/partials/_sections.scss */
.title {
  line-height: 1.3;
  font-size: 16px;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
}

/* line 75, ../sass/partials/_sections.scss */
.title_sm {
  font-size: 18px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 75, ../sass/partials/_sections.scss */
  .title_sm {
    font-size: 21px;
  }
}

/* line 83, ../sass/partials/_sections.scss */
.title_lg {
  font-size: 21px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 83, ../sass/partials/_sections.scss */
  .title_lg {
    font-size: 32px;
  }
}

/* line 91, ../sass/partials/_sections.scss */
.title_xl {
  font-size: 32px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 91, ../sass/partials/_sections.scss */
  .title_xl {
    font-size: 42px;
  }
}

/* line 99, ../sass/partials/_sections.scss */
.headerSupport {
  font-size: 16px;
  font-weight: bold;
  display: block;
}

/* line 105, ../sass/partials/_sections.scss */
.text_clipped {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

/* line 109, ../sass/partials/_sections.scss */
.info_sub_row + .info_sub_row {
  padding-top: 70px;
}

/* line 113, ../sass/partials/_sections.scss */
.infoSubDetails {
  max-width: 500px;
}

/* line 117, ../sass/partials/_sections.scss */
.bannerCaption {
  width: 100%;
  padding: 15px 10px;
  background-color: rgba(20, 18, 26, 0.95);
  color: #E5E5E5;
  font-size: 14px;
}

/* line 125, ../sass/partials/_sections.scss */
.pageFooter {
  clear: both;
  padding: 50px 0;
  border-top: 1px solid #E5E5E5;
}

/* line 131, ../sass/partials/_sections.scss */
.subHeader {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* Tablets and phablets */
}
@media only screen and (max-width: 767px) {
  /* line 131, ../sass/partials/_sections.scss */
  .subHeader {
    text-align: center;
    flex-direction: column;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
  }
}

/* line 143, ../sass/partials/_sections.scss */
.subFigure {
  flex-shrink: 0;
  margin-bottom: 15px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 143, ../sass/partials/_sections.scss */
  .subFigure {
    margin-right: 20px;
  }
}

/* line 154, ../sass/partials/_sections.scss */
.formPanelBox {
  margin-bottom: 50px;
}

/* line 158, ../sass/partials/_sections.scss */
.formPanelWrapper {
  width: 100%;
  border-radius: 25px;
  padding: 50px 20px;
  background-color: white;
  box-shadow: 1px 2px 8px rgba(20, 18, 26, 0.15);
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 158, ../sass/partials/_sections.scss */
  .formPanelWrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* line 171, ../sass/partials/_sections.scss */
.contactInfoBlock {
  padding-bottom: 30px;
  width: 100%;
}

/* line 176, ../sass/partials/_sections.scss */
.contactAddrItem + .contactAddrItem {
  margin-top: 20px;
}

/* line 1, ../sass/partials/_dialogs.scss */
.dropdown-menu {
  font-size: 1em;
  box-sizing: border-box;
  visibility: hidden;
  z-index: 1000;
  max-width: 460px;
  padding: 10px;
  margin: 0;
  border-radius: 5px;
  color: #757575;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  -webkit-animation: panel-slide-down .6s ease-in-out forwards;
  animation: panel-slide-down .6s ease-in-out forwards;
  overflow: hidden;
  border: none;
}
/* line 19, ../sass/partials/_dialogs.scss */
.btn_user_act .dropdown-menu {
  min-width: 200px;
}
/* line 23, ../sass/partials/_dialogs.scss */
.btn-block + .dropdown-menu {
  width: 100%;
}
/* line 27, ../sass/partials/_dialogs.scss */
.dropdown-menu.show {
  visibility: visible;
}
/* line 31, ../sass/partials/_dialogs.scss */
.dropdown-menu li {
  display: block;
  padding: 0;
  margin: 0;
}
/* line 36, ../sass/partials/_dialogs.scss */
.dropdown-menu li > *, .dropdown-menu li > a {
  padding: 10px;
  display: flex;
  width: 100%;
  font-size: 14px;
  color: rgba(92, 93, 95, 0.85);
  text-transform: capitalize;
  line-height: normal;
  align-items: center;
  white-space: nowrap;
}
/* line 47, ../sass/partials/_dialogs.scss */
.dropdown-menu li > *:hover, .dropdown-menu li > a:hover {
  color: #14121A;
}

@keyframes panel-slide-down {
  0%,30% {
    margin-top: -15px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
/* line 65, ../sass/partials/_dialogs.scss */
.dropdown-toggle::after {
  display: none;
}

/* line 69, ../sass/partials/_dialogs.scss */
.tooltip .arrow::before {
  border-top-color: #14121A !important;
}

/* line 73, ../sass/partials/_dialogs.scss */
.tooltip-inner {
  font-size: 12px;
  background-color: rgba(20, 18, 26, 0.9);
  border-radius: 5px;
  padding: 6px 12px;
}

/* line 80, ../sass/partials/_dialogs.scss */
.caret {
  display: inline-flex;
  margin-left: 4px;
}
/* line 84, ../sass/partials/_dialogs.scss */
.caret:after {
  vertical-align: .255em;
  content: "";
  border-top: .4em solid;
  border-right: .35em solid transparent;
  border-bottom: 0;
  border-left: 0.35em solid transparent;
}

/* line 94, ../sass/partials/_dialogs.scss */
.modal-backdrop {
  background-color: #14121A;
}

/* line 98, ../sass/partials/_dialogs.scss */
.modal-content {
  border-radius: 15px;
}

/* line 102, ../sass/partials/_dialogs.scss */
.modal-dialog {
  z-index: 2000;
  margin: 5rem auto;
}

/* Landscape tablets and desktop or laptops */
@media only screen and (min-width: 992px) {
  /* line 108, ../sass/partials/_dialogs.scss */
  .modal-md {
    max-width: 650px;
  }

  /* line 112, ../sass/partials/_dialogs.scss */
  .modal-lg, .modal-xl {
    max-width: 1170px;
  }
}
/* line 118, ../sass/partials/_dialogs.scss */
.modal-open .modal {
  background-color: rgba(20, 18, 26, 0.9);
}
/* line 122, ../sass/partials/_dialogs.scss */
.modal .modal-header {
  border-bottom: none;
  padding: 10px 15px 0;
  *zoom: 1;
  justify-content: flex-start;
  /* Tablets and phablets */
}
/* line 78, ../sass/partials/_mixins.scss */
.modal .modal-header:before, .modal .modal-header:after {
  content: "";
  display: table;
}
/* line 83, ../sass/partials/_mixins.scss */
.modal .modal-header:after {
  clear: both;
}
@media only screen and (min-width: 768px) {
  /* line 122, ../sass/partials/_dialogs.scss */
  .modal .modal-header {
    padding: 15px 30px 0;
  }
}
/* line 133, ../sass/partials/_dialogs.scss */
.modal .modal-body {
  position: relative;
  padding: 20px 15px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 133, ../sass/partials/_dialogs.scss */
  .modal .modal-body {
    padding: 30px;
  }
}
/* line 141, ../sass/partials/_dialogs.scss */
.modal .subtitle {
  margin-bottom: 15px;
  display: block;
}
/* line 146, ../sass/partials/_dialogs.scss */
.modal .content-panel {
  min-height: 250px;
}
/* line 150, ../sass/partials/_dialogs.scss */
.modal .modal-footer {
  border-top: none;
  padding: 0 15px 10px;
}

/* line 156, ../sass/partials/_dialogs.scss */
.modal-title {
  font-size: 16px;
  font-weight: 600;
  font-family: "Cairo", Roboto, Segoe UI, Open Sans, sans-serif;
  text-transform: uppercase;
}
