/* line 2, ../sass/partials/_base.scss */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 6, ../sass/partials/_base.scss */
html {
  font-size: 62.5%;
  height: 100%;
}

/* line 11, ../sass/partials/_base.scss */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 17, ../sass/partials/_base.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 22, ../sass/partials/_base.scss */
body {
  font-family: "Roboto", -apple-system, system-ui, BlinkMacSystemFont, Open Sans, sans-serif;
  color: #363c3f;
  font-size: 1.4rem;
  font-size: 14px;
  line-height: 1.4;
  word-spacing: .5px;
  letter-spacing: .0835em;
  height: 100%;
  height: 100vh;
  width: 100%;
  font-weight: 300;
  position: relative;
}
/* line 35, ../sass/partials/_base.scss */
body ul,
body ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 43, ../sass/partials/_base.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #363c3f;
}

/* line 54, ../sass/partials/_base.scss */
p {
  margin: 0;
}
/* line 56, ../sass/partials/_base.scss */
p + p {
  margin-top: 8.5px;
}

/* line 61, ../sass/partials/_base.scss */
strong {
  font-weight: 400;
}

/* line 65, ../sass/partials/_base.scss */
address {
  margin: 0;
  font-style: normal;
}

/* line 70, ../sass/partials/_base.scss */
figure {
  margin: 0;
}

/* line 74, ../sass/partials/_base.scss */
.centered {
  float: none;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

/* line 81, ../sass/partials/_base.scss */
.ctn_narrow {
  max-width: 800px;
}

/* Tablets and phablets */
@media only screen and (max-width: 767px) {
  /* line 86, ../sass/partials/_base.scss */
  .container {
    max-width: 100%;
  }
}
/* line 91, ../sass/partials/_base.scss */
.color-primary {
  color: #0e4d92 !important;
  fill: #0e4d92 !important;
}

/* line 96, ../sass/partials/_base.scss */
.color-secondary {
  color: #e76c58 !important;
  fill: #e76c58 !important;
}

/* line 101, ../sass/partials/_base.scss */
.color-inverse {
  color: #ececff !important;
  fill: #ececff !important;
}

/* line 106, ../sass/partials/_base.scss */
.color-black {
  color: #232323 !important;
  fill: #232323 !important;
}

/* line 111, ../sass/partials/_base.scss */
.color-white {
  color: #fcfcfc !important;
  fill: #fcfcfc !important;
}

/* line 116, ../sass/partials/_base.scss */
.color-grey_dark {
  color: #858585 !important;
}

/* line 120, ../sass/partials/_base.scss */
.color-grey {
  color: #CCCCC4 !important;
}

/* line 124, ../sass/partials/_base.scss */
.bg-primary {
  background-color: #0e4d92 !important;
}

/* line 128, ../sass/partials/_base.scss */
.bg-secondary {
  background-color: #e76c58 !important;
}

/* line 132, ../sass/partials/_base.scss */
.bg-inverse {
  background-color: #ececff !important;
}

/* line 136, ../sass/partials/_base.scss */
.bg-black {
  background-color: #232323 !important;
}

/* line 140, ../sass/partials/_base.scss */
.bg-grey {
  background-color: #CCCCC4 !important;
}

/* line 144, ../sass/partials/_base.scss */
.bg-off-white {
  background-color: #fcfcfc !important;
}

/* line 148, ../sass/partials/_base.scss */
.bg-white {
  background-color: white !important;
}

/* line 152, ../sass/partials/_base.scss */
.font-light {
  font-weight: 300 !important;
}

/* line 156, ../sass/partials/_base.scss */
.font-regular {
  font-weight: 400 !important;
}

/* line 160, ../sass/partials/_base.scss */
.font-title {
  font-family: "Merriweather", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "Century Schoolbook L", Georgia, serif;
  font-weight: 400 !important;
}

/* line 165, ../sass/partials/_base.scss */
.text-caps {
  text-transform: uppercase !important;
}

/* line 169, ../sass/partials/_base.scss */
.text-center {
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* line 175, ../sass/partials/_base.scss */
.text-right {
  text-align: right;
  justify-content: flex-end;
}

/* line 180, ../sass/partials/_base.scss */
.text-left {
  text-align: left;
  justify-content: flex-start;
}

/* line 185, ../sass/partials/_base.scss */
.font-sm {
  font-size: 12px !important;
}

/* line 189, ../sass/partials/_base.scss */
.font-md {
  font-size: 16px !important;
}

/* line 193, ../sass/partials/_base.scss */
.font-lg {
  font-size: 21px !important;
}

/* line 197, ../sass/partials/_base.scss */
.empty_state {
  position: relative;
  max-width: 450px;
  margin: auto;
  font-size: 1em;
  min-height: 150px;
}
/* line 204, ../sass/partials/_base.scss */
.empty_state .btn {
  margin-top: 15px;
}
/* line 208, ../sass/partials/_base.scss */
.empty_state .def_wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
}
/* line 214, ../sass/partials/_base.scss */
.empty_state .title {
  margin-bottom: 10px;
}

/* line 1, ../sass/partials/_forms.scss */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(204, 204, 196, 0.5);
}

/* line 6, ../sass/partials/_forms.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(204, 204, 196, 0.5);
}

/* line 11, ../sass/partials/_forms.scss */
:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(204, 204, 196, 0.5);
}

/* line 16, ../sass/partials/_forms.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(204, 204, 196, 0.5);
}

/* line 21, ../sass/partials/_forms.scss */
.form_header {
  display: block;
  padding-bottom: 10px;
  border-bottom: 3px solid rgba(14, 77, 146, 0.2);
  margin-bottom: 30px;
}

/* line 28, ../sass/partials/_forms.scss */
fieldset {
  padding: 20px 0;
}
/* line 31, ../sass/partials/_forms.scss */
fieldset > p {
  margin-bottom: 8.5px;
}

/* line 37, ../sass/partials/_forms.scss */
input:focus {
  outline: none;
}

/* line 42, ../sass/partials/_forms.scss */
.input-group-addon {
  background: #e76c58;
  color: #fcfcfc;
  font-size: .923em;
  padding-right: 1em;
  padding-left: 1em;
}

/* line 50, ../sass/partials/_forms.scss */
.input-group-btn {
  font-size: 1em;
}
/* line 52, ../sass/partials/_forms.scss */
.input-group-btn .btn {
  vertical-align: top;
  padding-left: 2em;
  padding-right: 2em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* line 61, ../sass/partials/_forms.scss */
.slim_form {
  clear: both;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 61, ../sass/partials/_forms.scss */
  .slim_form {
    width: 50%;
  }
}

/* line 68, ../sass/partials/_forms.scss */
.form-horizontal {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  /* Mobile devices */
}
@media only screen and (min-width: 576px) {
  /* line 68, ../sass/partials/_forms.scss */
  .form-horizontal {
    margin-bottom: 20px;
  }
}

/* line 77, ../sass/partials/_forms.scss */
.form-group {
  position: relative;
  margin-bottom: 20px;
  /* Mobile devices */
}
/* line 80, ../sass/partials/_forms.scss */
.input_group_wrapper .form-group {
  margin: 0;
}
/* line 84, ../sass/partials/_forms.scss */
.form-group[class*="col-"] {
  padding: 0;
}
@media only screen and (min-width: 576px) {
  /* line 89, ../sass/partials/_forms.scss */
  .form-group[class*="col-"] {
    margin: 0;
  }
  /* line 91, ../sass/partials/_forms.scss */
  .form-group[class*="col-"]:first-of-type {
    padding-right: 7.5px;
  }
  /* line 94, ../sass/partials/_forms.scss */
  .form-group[class*="col-"]:last-of-type {
    padding-left: 7.5px;
  }
}
/* line 99, ../sass/partials/_forms.scss */
.form-group .checkbox-inline {
  margin-top: 0;
}
/* line 102, ../sass/partials/_forms.scss */
.form-group > a:not(.btn) {
  display: inline-block;
  margin-top: 10px;
}

/* line 108, ../sass/partials/_forms.scss */
.help-block {
  font-size: .85em;
  color: #858585;
  font-style: italic;
  margin: 7.5px 0;
}

/* line 116, ../sass/partials/_forms.scss */
.required::before {
  content: "*";
  font-size: 1.125em;
  color: #e76c58;
}

/* line 123, ../sass/partials/_forms.scss */
label {
  margin-bottom: 0;
  display: inline-block;
  vertical-align: top;
  font-weight: normal;
}
/* line 130, ../sass/partials/_forms.scss */
label.radio-inline + label {
  margin-left: 15px;
}

/* line 136, ../sass/partials/_forms.scss */
.form-control {
  padding: 8px 12px;
  font-size: 1em;
  line-height: normal;
  z-index: 1;
  margin: 0;
  outline: 0;
  overflow: hidden;
  color: #363c3f;
  text-indent: .02px;
  min-height: 40px;
  -moz-appearance: none;
  -webkit-appearance: none;
  box-shadow: 0 1px 3px rgba(35, 35, 35, 0.15);
  background-color: white;
  border-color: rgba(133, 133, 133, 0.4);
}
/* line 152, ../sass/partials/_forms.scss */
.newsletter_input .form-control {
  border-radius: 25px;
}
/* line 156, ../sass/partials/_forms.scss */
.form-control:focus {
  outline: 0;
  box-shadow: none;
  border-color: #ececff;
}

/* line 163, ../sass/partials/_forms.scss */
textarea {
  display: block;
  resize: vertical;
}

/* line 168, ../sass/partials/_forms.scss */
.control-label {
  text-transform: none;
  font-size: 1em;
  padding-bottom: 7.5px;
  font-weight: normal;
}

/* line 175, ../sass/partials/_forms.scss */
select.form-control {
  background: white url(../img/arrow-down.png) right center no-repeat;
}
/* line 177, ../sass/partials/_forms.scss */
select.form-control:focus {
  outline: none;
}

/* line 182, ../sass/partials/_forms.scss */
input[type="radio"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
  margin-top: 6px;
  margin-right: 4px;
  vertical-align: top;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
/* line 193, ../sass/partials/_forms.scss */
input[type="radio"]:focus,
.radio input[type="radio"]:focus,
.radio-inline input[type="radio"]:focus {
  outline: none;
}
/* line 196, ../sass/partials/_forms.scss */
input[type="radio"]:before, input[type="radio"]:after,
.radio input[type="radio"]:before,
.radio input[type="radio"]:after,
.radio-inline input[type="radio"]:before,
.radio-inline input[type="radio"]:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  -moz-transition: 240ms;
  -o-transition: 240ms;
  -webkit-transition: 240ms;
  transition: 240ms;
}
/* line 205, ../sass/partials/_forms.scss */
input[type="radio"]:before,
.radio input[type="radio"]:before,
.radio-inline input[type="radio"]:before {
  position: absolute;
  left: 0;
  top: -3px;
  background-color: #e76c58;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
/* line 212, ../sass/partials/_forms.scss */
input[type="radio"]:after,
.radio input[type="radio"]:after,
.radio-inline input[type="radio"]:after {
  position: relative;
  top: -3px;
  border: 2px solid #ececff;
}
/* line 217, ../sass/partials/_forms.scss */
input[type="radio"]:checked:before,
.radio input[type="radio"]:checked:before,
.radio-inline input[type="radio"]:checked:before {
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
/* line 220, ../sass/partials/_forms.scss */
input[type="radio"]:disabled:checked:before,
.radio input[type="radio"]:disabled:checked:before,
.radio-inline input[type="radio"]:disabled:checked:before {
  background-color: #ececff;
}
/* line 223, ../sass/partials/_forms.scss */
input[type="radio"]:checked:after,
.radio input[type="radio"]:checked:after,
.radio-inline input[type="radio"]:checked:after {
  border-color: #e76c58;
}
/* line 226, ../sass/partials/_forms.scss */
input[type="radio"]:disabled:after, input[type="radio"]:disabled:checked:after,
.radio input[type="radio"]:disabled:after,
.radio input[type="radio"]:disabled:checked:after,
.radio-inline input[type="radio"]:disabled:after,
.radio-inline input[type="radio"]:disabled:checked:after {
  border-color: #ececff;
}

/* line 232, ../sass/partials/_forms.scss */
input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: relative;
  border: none;
  margin-bottom: -4px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}
/* line 241, ../sass/partials/_forms.scss */
input[type="checkbox"]:focus,
.checkbox input[type="checkbox"]:focus,
.checkbox-inline input[type="checkbox"]:focus {
  outline: none;
}
/* line 244, ../sass/partials/_forms.scss */
input[type="checkbox"]:after,
.checkbox input[type="checkbox"]:after,
.checkbox-inline input[type="checkbox"]:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin-top: -2px;
  margin-right: 5px;
  border: 2px solid #ececff;
  border-radius: 2px;
  -moz-transition: 240ms;
  -o-transition: 240ms;
  -webkit-transition: 240ms;
  transition: 240ms;
}
/* line 255, ../sass/partials/_forms.scss */
input[type="checkbox"]:checked:before,
.checkbox input[type="checkbox"]:checked:before,
.checkbox-inline input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: 0;
  left: 6px;
  display: table;
  width: 6px;
  height: 12px;
  border: 2px solid #fcfcfc;
  border-top-width: 0;
  border-left-width: 0;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 268, ../sass/partials/_forms.scss */
input[type="checkbox"]:checked:after,
.checkbox input[type="checkbox"]:checked:after,
.checkbox-inline input[type="checkbox"]:checked:after {
  background-color: #e76c58;
  border-color: #e76c58;
}
/* line 272, ../sass/partials/_forms.scss */
input[type="checkbox"]:disabled:after,
.checkbox input[type="checkbox"]:disabled:after,
.checkbox-inline input[type="checkbox"]:disabled:after {
  border-color: #ececff;
}
/* line 275, ../sass/partials/_forms.scss */
input[type="checkbox"]:disabled:checked:after,
.checkbox input[type="checkbox"]:disabled:checked:after,
.checkbox-inline input[type="checkbox"]:disabled:checked:after {
  background-color: #ececff;
  border-color: transparent;
}

/* SVG Icon systems */
/* line 2, ../sass/partials/_custom_icons.scss */
.cust_icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  overflow: hidden;
  vertical-align: middle;
  fill: inherit;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 13, ../sass/partials/_custom_icons.scss */
[class*="btn-"] .cust_icon {
  margin: 0 2px;
  width: 14px;
  height: 14px;
}

/* line 20, ../sass/partials/_custom_icons.scss */
svg {
  display: block;
  width: 100%;
}

/* line 25, ../sass/partials/_custom_icons.scss */
.icon_xs {
  width: 16px;
  height: 16px;
}

/* line 30, ../sass/partials/_custom_icons.scss */
.icon_sm {
  width: 24px;
  height: 24px;
}

/* line 35, ../sass/partials/_custom_icons.scss */
.icon_md {
  width: 48px;
  height: 48px;
}

/* line 1, ../sass/partials/_header_nav.scss */
header[role="banner"] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
}
/* line 12, ../sass/partials/_header_nav.scss */
header[role="banner"] + .main_content_area {
  padding-top: 60px;
}

/* line 17, ../sass/partials/_header_nav.scss */
.main_header {
  color: #0e4d92;
  -moz-transition: background-color 0.5s linear;
  -o-transition: background-color 0.5s linear;
  -webkit-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
  /* Force Hardware Acceleration in WebKit */
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-bottom: 1px solid transparent;
  /* Tablets and phablets */
  /* Tablets and phablets */
}
@media only screen and (max-width: 767px) {
  /* line 17, ../sass/partials/_header_nav.scss */
  .main_header {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    background: white;
    border-bottom-color: #ececff;
  }
}
@media only screen and (min-width: 768px) {
  /* line 32, ../sass/partials/_header_nav.scss */
  .main_header.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -60px;
    background-color: rgba(255, 255, 255, 0.985);
    -moz-transition: -moz-transform 0.5s linear;
    -o-transition: -o-transform 0.5s linear;
    -webkit-transition: -webkit-transform 0.5s linear;
    transition: transform 0.5s linear;
    border-bottom-color: #ececff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  }
  /* line 42, ../sass/partials/_header_nav.scss */
  .main_header.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -moz-transform: translate3d(0, 60px, 0);
    -ms-transform: translate3d(0, 60px, 0);
    -webkit-transform: translate3d(0, 60px, 0);
    transform: translate3d(0, 60px, 0);
  }
}

/* line 49, ../sass/partials/_header_nav.scss */
.navbar_container {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
}

/* line 58, ../sass/partials/_header_nav.scss */
.navbar_group {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* line 65, ../sass/partials/_header_nav.scss */
.navbar_group_left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-right: 20px;
}

/* line 72, ../sass/partials/_header_nav.scss */
.navbar_group_right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

/* line 78, ../sass/partials/_header_nav.scss */
.primary_nav_menu {
  height: 100%;
  height: 100vh;
  visibility: hidden;
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  transform-origin: top;
  -moz-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  -o-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  -webkit-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  overflow: hidden;
  position: fixed;
  width: 100%;
  left: 0;
  top: 60px;
  /* Tablets and phablets */
}
/* line 90, ../sass/partials/_header_nav.scss */
.is-active .primary_nav_menu {
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  visibility: visible;
  background-color: white;
  -moz-transition: -moz-transform 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  -o-transition: -o-transform 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  transition: transform 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
}
@media only screen and (min-width: 768px) {
  /* line 78, ../sass/partials/_header_nav.scss */
  .primary_nav_menu {
    width: auto;
    height: auto;
    position: static;
    color: inherit;
    visibility: visible;
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    line-height: 60px;
  }
}

/* line 107, ../sass/partials/_header_nav.scss */
.primary_nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  flex-direction: column;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 107, ../sass/partials/_header_nav.scss */
  .primary_nav {
    flex-direction: row;
  }
}

/* line 117, ../sass/partials/_header_nav.scss */
.nav_item {
  text-transform: capitalize;
  line-height: 60px;
}

/* line 122, ../sass/partials/_header_nav.scss */
.nav_link_item {
  display: block;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  padding: 0 15px;
  font-weight: 400;
  text-transform: uppercase;
  color: #0e4d92;
}
/* line 131, ../sass/partials/_header_nav.scss */
.active .nav_link_item, .nav_link_item:hover, .nav_link_item:focus {
  color: #363c3f;
}

/* line 138, ../sass/partials/_header_nav.scss */
.brand_image {
  display: block;
}

/* line 142, ../sass/partials/_header_nav.scss */
.logo_link {
  display: block;
  line-height: 60px;
  position: relative;
}
/* line 147, ../sass/partials/_header_nav.scss */
.logo_link img {
  display: none;
}

/* line 152, ../sass/partials/_header_nav.scss */
.logo_image_holder {
  display: block;
  background-color: transparent;
  background-position: center;
  background-size: contain;
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-image: url(../img/logo_mark.png);
  height: 45px;
  width: 45px;
  /* Mobile devices */
}
@media only screen and (min-width: 576px) {
  /* line 152, ../sass/partials/_header_nav.scss */
  .logo_image_holder {
    width: 200px;
    background-image: url(../img/logo.png);
  }
}

/* line 170, ../sass/partials/_header_nav.scss */
.control_btns {
  margin-left: 20px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  fill: #fcfcfc;
}
/* line 176, ../sass/partials/_header_nav.scss */
.control_btns > a {
  display: block;
}

/* Tablets and phablets */
@media only screen and (min-width: 768px) {
  /* line 182, ../sass/partials/_header_nav.scss */
  .btn_menu {
    display: none;
  }
}
/* line 187, ../sass/partials/_header_nav.scss */
.icon_holder {
  display: block;
  margin: auto;
}
/* line 191, ../sass/partials/_header_nav.scss */
.icon_holder .control_btns {
  width: 25px;
  height: 25px;
  line-height: 25px;
}
/* line 197, ../sass/partials/_header_nav.scss */
.nav_link_item .icon_holder {
  display: inline-block;
}

/* line 203, ../sass/partials/_header_nav.scss */
.dpd_nav_item {
  clear: both;
}
/* line 205, ../sass/partials/_header_nav.scss */
.dpd_nav_item > a {
  padding: 10px 15px;
}

/* line 210, ../sass/partials/_header_nav.scss */
.dsp_tab_row {
  display: table;
}
/* line 212, ../sass/partials/_header_nav.scss */
.dsp_tab_row > span,
.dsp_tab_row > * {
  display: table-cell;
  vertical-align: middle;
}
/* line 217, ../sass/partials/_header_nav.scss */
.dsp_tab_row > * + * {
  padding-left: 5px;
}
/* line 220, ../sass/partials/_header_nav.scss */
.dsp_tab_row .userName {
  display: none;
  /* Mobile devices */
}
@media only screen and (min-width: 576px) {
  /* line 220, ../sass/partials/_header_nav.scss */
  .dsp_tab_row .userName {
    display: table-cell;
  }
}

/* line 229, ../sass/partials/_header_nav.scss */
.nav_item_text {
  text-transform: none;
}

/* line 233, ../sass/partials/_header_nav.scss */
.primary-nav-trigger {
  position: relative;
}

/* line 237, ../sass/partials/_header_nav.scss */
.menu-icon {
  /* this span is the central line of the menu icon */
  display: block;
  width: 24px;
  height: 3px;
  background-color: #e76c58;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  /* these are the upper and lower lines in the menu icon */
}
/* line 245, ../sass/partials/_header_nav.scss */
.menu-icon::before, .menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #363c3f;
  right: 0;
  -moz-transition: -moz-transform 0.3s, top 0.3s, background-color 0s;
  -o-transition: -o-transform 0.3s, top 0.3s, background-color 0s;
  -webkit-transition: -webkit-transform 0.3s, top 0.3s, background-color 0s;
  transition: transform 0.3s, top 0.3s, background-color 0s;
}
/* line 255, ../sass/partials/_header_nav.scss */
.menu-icon::before {
  top: -7px;
}
/* line 258, ../sass/partials/_header_nav.scss */
.menu-icon::after {
  top: 7px;
}
/* line 261, ../sass/partials/_header_nav.scss */
.menu-icon.is-clicked {
  background-color: rgba(231, 108, 88, 0);
}
/* line 263, ../sass/partials/_header_nav.scss */
.menu-icon.is-clicked::before, .menu-icon.is-clicked::after {
  background-color: #e76c58;
}
/* line 267, ../sass/partials/_header_nav.scss */
.menu-icon.is-clicked::before {
  top: 0;
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* line 271, ../sass/partials/_header_nav.scss */
.menu-icon.is-clicked::after {
  top: 0;
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

/* line 1, ../sass/partials/_navigations.scss */
a {
  text-decoration: none;
  -moz-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  -o-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  -webkit-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  color: #0e4d92;
}
/* line 5, ../sass/partials/_navigations.scss */
a:hover, a:focus {
  text-decoration: none;
  color: #363c3f;
}
/* line 10, ../sass/partials/_navigations.scss */
a:focus {
  outline: thin dotted transparent;
}

/* line 15, ../sass/partials/_navigations.scss */
button {
  outline: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: auto;
  height: auto;
  color: inherit;
  line-height: 1;
  background: 0 0;
  cursor: pointer;
}

/* line 28, ../sass/partials/_navigations.scss */
.btn,
a.btn {
  text-decoration: none;
  border-radius: 25px;
  padding: 1.2em 4em;
  font-size: 12px;
  font-weight: 400;
  background-color: transparent;
  color: #fcfcfc;
  fill: #fcfcfc;
  border: none;
  cursor: pointer;
  display: inline-block;
  letter-spacing: .165em;
  max-width: 100%;
  text-transform: uppercase;
  -moz-transition: all 0.8s cubic-bezier(0.68, 0.34, 0.15, 1);
  -o-transition: all 0.8s cubic-bezier(0.68, 0.34, 0.15, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.68, 0.34, 0.15, 1);
  transition: all 0.8s cubic-bezier(0.68, 0.34, 0.15, 1);
  /* Mobile devices */
}
@media only screen and (min-width: 576px) {
  /* line 47, ../sass/partials/_navigations.scss */
  .btn + .btn,
  a.btn + .btn {
    margin-left: 20px;
  }
}
/* line 52, ../sass/partials/_navigations.scss */
.btn.btn-primary,
a.btn.btn-primary {
  background-color: #0e4d92;
}
/* line 54, ../sass/partials/_navigations.scss */
.btn.btn-primary:hover, .btn.btn-primary:focus,
a.btn.btn-primary:hover,
a.btn.btn-primary:focus {
  background-color: #232323;
}
/* line 60, ../sass/partials/_navigations.scss */
.btn.btn-secondary,
a.btn.btn-secondary {
  background-color: #e76c58;
}
/* line 62, ../sass/partials/_navigations.scss */
.btn.btn-secondary:hover, .btn.btn-secondary:focus,
a.btn.btn-secondary:hover,
a.btn.btn-secondary:focus {
  background-color: #232323;
}
/* line 68, ../sass/partials/_navigations.scss */
.btn.btn-inverse,
a.btn.btn-inverse {
  background-color: white;
  color: #0e4d92;
}
/* line 72, ../sass/partials/_navigations.scss */
.btn.btn-inverse:hover, .btn.btn-inverse:focus,
a.btn.btn-inverse:hover,
a.btn.btn-inverse:focus {
  background-color: #0e4d92;
  color: #fcfcfc;
}
/* line 79, ../sass/partials/_navigations.scss */
.btn.btn-default,
a.btn.btn-default {
  background-color: transparent;
  color: inherit;
  border: 1px solid #ececff;
}
/* line 84, ../sass/partials/_navigations.scss */
.btn.btn-default:hover, .btn.btn-default:focus,
a.btn.btn-default:hover,
a.btn.btn-default:focus {
  background-color: #fcfcfc;
  color: #232323;
}
/* line 90, ../sass/partials/_navigations.scss */
.btn.btn-icon,
a.btn.btn-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  padding: 0;
  text-align: center;
}
/* line 99, ../sass/partials/_navigations.scss */
.btn:hover, .btn:focus,
a.btn:hover,
a.btn:focus {
  text-decoration: none !important;
  box-shadow: 2px 4px 8px 0 rgba(35, 35, 35, 0.1);
}
/* line 103, ../sass/partials/_navigations.scss */
.no-touch .btn:hover, .no-touch .btn:focus, .no-touch
a.btn:hover, .no-touch
a.btn:focus {
  outline: none;
}

/* line 109, ../sass/partials/_navigations.scss */
.btn-sm.btn,
.btn-group-sm > .btn {
  padding: .9em 2em;
  font-size: 10px;
}

/* line 115, ../sass/partials/_navigations.scss */
.btn-lg.btn,
.btn-group-lg > .btn {
  padding: 1.6em 6em;
  font-size: 16px;
}

/* line 121, ../sass/partials/_navigations.scss */
.btn-link {
  padding: 0;
  color: #363c3f;
  text-transform: uppercase;
  font-size: 12px;
  display: inline-block;
  -moz-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  -o-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  -webkit-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
}
/* line 129, ../sass/partials/_navigations.scss */
.btn-link:hover, .btn-link:focus {
  text-decoration: none;
  color: #0e4d92;
}

/* line 136, ../sass/partials/_navigations.scss */
.nav-tabs {
  flex-direction: row;
  margin-bottom: 30px;
  overflow-x: auto;
  flex-wrap: nowrap;
  background-color: #fcfcfc;
  border-bottom-color: rgba(14, 77, 146, 0.2);
}
/* line 144, ../sass/partials/_navigations.scss */
.nav-tabs > li {
  flex: 1;
}
/* line 147, ../sass/partials/_navigations.scss */
.nav-tabs > li > a {
  display: block;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  padding: 10px 15px;
  white-space: nowrap;
  border-radius: 0;
  opacity: .75;
  text-transform: uppercase;
  text-align: center;
}
/* line 158, ../sass/partials/_navigations.scss */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus,
.nav-tabs > li a:hover,
.nav-tabs > li a:focus {
  box-shadow: inset 0 -4px 0 #0e4d92;
  color: #0e4d92;
}
/* line 167, ../sass/partials/_navigations.scss */
.nav-tabs > li.active > a {
  opacity: 1;
  pointer-events: none;
}

/* line 174, ../sass/partials/_navigations.scss */
.to-top {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: fixed;
  bottom: 15px;
  right: 3.5%;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #0e4d92 url(../img/top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -o-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -webkit-transition: opacity 0.3s, visibility 0s;
  -webkit-transition-delay: 0s, 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  z-index: 30000;
}
/* line 191, ../sass/partials/_navigations.scss */
.no-touch .to-top:hover, .no-touch .to-top:focus {
  background-color: rgba(14, 77, 146, 0.66);
  opacity: 1;
}
/* line 197, ../sass/partials/_navigations.scss */
.to-top.is-visible, .to-top.fade-out, .no-touch .to-top:hover {
  -moz-transition: opacity 0.3s, visibility 0s;
  -o-transition: opacity 0.3s, visibility 0s;
  -webkit-transition: opacity 0.3s, visibility 0s;
  transition: opacity 0.3s, visibility 0s;
}
/* line 202, ../sass/partials/_navigations.scss */
.to-top.is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
/* line 207, ../sass/partials/_navigations.scss */
.to-top.fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

/* line 213, ../sass/partials/_navigations.scss */
.close_dialog {
  z-index: 5;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: #e5e5e5;
  -moz-transition: background-color 0.8s ease-in-out;
  -o-transition: background-color 0.8s ease-in-out;
  -webkit-transition: background-color 0.8s ease-in-out;
  transition: background-color 0.8s ease-in-out;
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
/* line 225, ../sass/partials/_navigations.scss */
.close_dialog::before, .close_dialog::after {
  position: absolute;
  content: "";
  width: 2px;
  background: #858585;
  height: 14px;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -1px;
}
/* line 236, ../sass/partials/_navigations.scss */
.close_dialog::before {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 239, ../sass/partials/_navigations.scss */
.close_dialog::after {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 242, ../sass/partials/_navigations.scss */
.close_dialog:hover, .close_dialog:focus {
  background-color: #e76c58;
}
/* line 245, ../sass/partials/_navigations.scss */
.close_dialog:hover::before, .close_dialog:hover::after, .close_dialog:focus::before, .close_dialog:focus::after {
  background-color: #232323;
}

/* line 252, ../sass/partials/_navigations.scss */
.link_icon_list {
  clear: both;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/* line 257, ../sass/partials/_navigations.scss */
.link_item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  fill: #0e4d92;
  border: 2px solid #0e4d92;
  vertical-align: middle;
}
/* line 268, ../sass/partials/_navigations.scss */
.link_item + .link_item {
  margin-left: 15px;
}
/* line 272, ../sass/partials/_navigations.scss */
.link_item:hover, .link_item:focus {
  fill: #363c3f;
  border-color: #363c3f;
}

/* line 279, ../sass/partials/_navigations.scss */
.scroll_arrows {
  display: inline-block;
}

/* line 283, ../sass/partials/_navigations.scss */
.slick-arrow {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  opacity: .5;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  -moz-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
  border: none;
}
/* line 297, ../sass/partials/_navigations.scss */
.slick-arrow:hover, .slick-arrow:focus {
  opacity: 1;
  outline: 0;
}

/* line 303, ../sass/partials/_navigations.scss */
.slick-prev {
  background-image: url(../img/icons/arrowLeft.svg);
  margin-right: 20px;
}

/* line 308, ../sass/partials/_navigations.scss */
.slick-next {
  background-image: url(../img/icons/arrowRight.svg);
}

/* line 1, ../sass/partials/_heroes.scss */
.hero_area {
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: auto;
  min-height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 320px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 1, ../sass/partials/_heroes.scss */
  .hero_area {
    min-height: 420px;
    max-height: 1200px;
  }
}

/* line 23, ../sass/partials/_heroes.scss */
.main_hero {
  background-image: url(../img/banners/hero_bg.png);
}

/* line 27, ../sass/partials/_heroes.scss */
.hero_info_caption {
  position: relative;
  z-index: 10;
  max-width: 760px;
  padding: 50px 0;
}

/* line 34, ../sass/partials/_heroes.scss */
.hero_title {
  font-size: 21px;
  line-height: 1.45;
  font-family: "Merriweather", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "Century Schoolbook L", Georgia, serif;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 34, ../sass/partials/_heroes.scss */
  .hero_title {
    font-size: 32px;
  }
}

/* line 44, ../sass/partials/_heroes.scss */
.hero_blub {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 20px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 44, ../sass/partials/_heroes.scss */
  .hero_blub {
    font-size: 21px;
    line-height: 1.6;
  }
}

/* line 56, ../sass/partials/_heroes.scss */
.banner_content {
  position: relative;
  overflow: hidden;
  padding: 70px 0;
}

/* line 62, ../sass/partials/_heroes.scss */
.hero_info_item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 62, ../sass/partials/_heroes.scss */
  .hero_info_item {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* line 74, ../sass/partials/_heroes.scss */
.deco_bar {
  display: inline-block;
  clear: both;
  width: 96px;
  height: 3px;
  border-radius: 3px;
  background-color: #ececff;
  margin: 15px 0;
}

/* line 84, ../sass/partials/_heroes.scss */
.cto_block {
  width: 100%;
  clear: both;
  background-color: #0e4d92;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/banners/cto_bg.jpg);
  position: relative;
  margin-bottom: 70px;
  /* Tablets and phablets */
}
/* line 95, ../sass/partials/_heroes.scss */
.cto_block::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(14, 77, 146, 0.85);
  background: -webkit-linear-gradient(left, transparent 0%, #0e4d92 75%, #0e4d92 100%);
  background: -o-linear-gradient(left, transparent 0%, #0e4d92 75%, #0e4d92 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #0e4d92 75%, #0e4d92 100%);
}
@media only screen and (min-width: 768px) {
  /* line 84, ../sass/partials/_heroes.scss */
  .cto_block {
    height: 450px;
  }
}

/* line 1, ../sass/partials/_blocks.scss */
.main_content_area {
  z-index: 1;
}

/* line 5, ../sass/partials/_blocks.scss */
.section_block {
  width: 100%;
  clear: both;
  background-size: cover;
  padding: 70px 0;
  position: relative;
}

/* line 13, ../sass/partials/_blocks.scss */
.section_header {
  margin-bottom: 40px;
}

/* line 17, ../sass/partials/_blocks.scss */
.section_title {
  font-size: 12px;
  margin-bottom: 10px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 17, ../sass/partials/_blocks.scss */
  .section_title {
    font-size: 14px;
  }
}

/* line 26, ../sass/partials/_blocks.scss */
.title_text {
  font-size: 18px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 26, ../sass/partials/_blocks.scss */
  .title_text {
    font-size: 26px;
  }
}

/* line 34, ../sass/partials/_blocks.scss */
.section_cto {
  margin-top: 30px;
  display: block;
  clear: both;
}

/*Site footer*/
/* line 42, ../sass/partials/_blocks.scss */
.main_footer {
  display: block;
  clear: both;
  background-color: #ececff;
  position: relative;
  font-weight: 400;
}
/* line 49, ../sass/partials/_blocks.scss */
.main_footer::before {
  width: 100%;
  height: 40%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  content: '';
  background-color: #fcfcfc;
  /* Mobile devices */
  /* Tablets and phablets */
}
@media only screen and (min-width: 576px) {
  /* line 49, ../sass/partials/_blocks.scss */
  .main_footer::before {
    width: 45%;
    height: 100%;
  }
}
@media only screen and (min-width: 768px) {
  /* line 49, ../sass/partials/_blocks.scss */
  .main_footer::before {
    width: 35%;
    height: 100%;
  }
}

/* line 72, ../sass/partials/_blocks.scss */
.footer_inner {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
  /* Mobile devices */
}
@media only screen and (min-width: 576px) {
  /* line 72, ../sass/partials/_blocks.scss */
  .footer_inner {
    flex-direction: row;
  }
}

/* line 84, ../sass/partials/_blocks.scss */
.footer_section {
  padding-top: 40px;
  padding-bottom: 30px;
}

/* line 89, ../sass/partials/_blocks.scss */
.footer_section_i {
  /* Mobile devices */
  /* Tablets and phablets */
}
@media only screen and (min-width: 576px) {
  /* line 89, ../sass/partials/_blocks.scss */
  .footer_section_i {
    width: 60%;
    padding-right: 60px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 89, ../sass/partials/_blocks.scss */
  .footer_section_i {
    width: 70%;
  }
}

/* line 100, ../sass/partials/_blocks.scss */
.footer_section_ii {
  text-align: center;
  /* Mobile devices */
  /* Tablets and phablets */
}
@media only screen and (min-width: 576px) {
  /* line 100, ../sass/partials/_blocks.scss */
  .footer_section_ii {
    width: 40%;
    padding-left: 0px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 100, ../sass/partials/_blocks.scss */
  .footer_section_ii {
    padding-left: 20px;
    width: 30%;
  }
}

/* line 113, ../sass/partials/_blocks.scss */
.footer_block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  /* Tablets and phablets */
}
@media only screen and (max-width: 767px) {
  /* line 118, ../sass/partials/_blocks.scss */
  .footer_block + .footer_block {
    margin-top: 30px;
  }
}

/* line 124, ../sass/partials/_blocks.scss */
.ft_block_segment + .ft_block_segment {
  margin-top: 20px;
}

/* line 128, ../sass/partials/_blocks.scss */
.ft_block_header {
  margin-bottom: 20px;
}

/* line 132, ../sass/partials/_blocks.scss */
.ft_block_title {
  font-size: 21px;
  line-height: 1;
}

/* line 137, ../sass/partials/_blocks.scss */
.segment_flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
}

/* line 143, ../sass/partials/_blocks.scss */
.ft_nav_block + .ft_nav_block {
  margin-left: 50px;
}
/* line 146, ../sass/partials/_blocks.scss */
.ft_nav_block > li {
  margin-bottom: .35em;
}
/* line 149, ../sass/partials/_blocks.scss */
.ft_nav_block > li a {
  color: #0e4d92;
  display: inline-block;
}
/* line 153, ../sass/partials/_blocks.scss */
.ft_nav_block > li a + a {
  margin-left: 10px;
}
/* line 157, ../sass/partials/_blocks.scss */
.ft_nav_block > li a:hover, .ft_nav_block > li a:focus {
  text-decoration: underline;
  color: #363c3f;
}
/* line 163, ../sass/partials/_blocks.scss */
.ft_nav_block > li:last-child {
  margin-bottom: 0;
}

/* line 169, ../sass/partials/_blocks.scss */
.brand_media {
  width: 100%;
  position: relative;
  overflow: hidden;
}
/* line 173, ../sass/partials/_blocks.scss */
.brand_media img {
  display: inline-block;
  max-width: 185px;
}

/* line 179, ../sass/partials/_blocks.scss */
.copyright_notice {
  clear: both;
  padding-top: 30px;
  font-size: 12px;
  opacity: .6;
}
/* line 185, ../sass/partials/_blocks.scss */
.copyright_notice p + p {
  margin-top: 0;
}

/*Layout tiles*/
/* line 2, ../sass/partials/_cards.scss */
.tile_blocks {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  /* Mobile devices */
}
@media only screen and (min-width: 576px) {
  /* line 2, ../sass/partials/_cards.scss */
  .tile_blocks {
    flex-direction: row;
  }
}

/* line 11, ../sass/partials/_cards.scss */
.tile_image_wrapper, .tile_content_wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
/* line 18, ../sass/partials/_cards.scss */
.cto_block .tile_image_wrapper, .cto_block .tile_content_wrapper {
  justify-content: flex-end;
}

/* line 23, ../sass/partials/_cards.scss */
.tile_item {
  width: 100%;
  flex: 1;
  /* Mobile devices */
}
@media only screen and (min-width: 576px) {
  /* line 23, ../sass/partials/_cards.scss */
  .tile_item {
    min-width: 50%;
    flex: 1 0 50%;
  }
}

/* line 34, ../sass/partials/_cards.scss */
.tile_image_wrapper img {
  max-height: 500px;
  display: block;
  width: 100%;
  height: 100%;
}

/* line 42, ../sass/partials/_cards.scss */
.tile_content_wrapper {
  position: relative;
  z-index: 50;
}

/* line 47, ../sass/partials/_cards.scss */
.content_inner {
  padding: 30px 15px;
  max-width: 500px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 47, ../sass/partials/_cards.scss */
  .content_inner {
    padding-left: 0;
    padding-right: 0;
  }
}
/* line 56, ../sass/partials/_cards.scss */
.cto_block .content_inner {
  padding-left: 30px;
  padding-right: 30px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 56, ../sass/partials/_cards.scss */
  .cto_block .content_inner {
    padding-right: 100px;
    padding-left: 100px;
  }
}

/* line 66, ../sass/partials/_cards.scss */
.info_block_list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* Mobile devices */
}
@media only screen and (min-width: 576px) {
  /* line 66, ../sass/partials/_cards.scss */
  .info_block_list {
    flex-direction: row;
  }
}

/* line 76, ../sass/partials/_cards.scss */
.info_block_item {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 81, ../sass/partials/_cards.scss */
.info_wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

/* line 86, ../sass/partials/_cards.scss */
.info_image {
  max-width: 96px;
  margin-bottom: 20px;
  overflow: hidden;
}
/* line 91, ../sass/partials/_cards.scss */
.info_image img {
  display: inline-block;
}

/* line 97, ../sass/partials/_cards.scss */
.info_details > p {
  font-size: 12px;
  font-weight: 400;
  height: 85px;
  line-height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 107, ../sass/partials/_cards.scss */
.info_title {
  font-size: 16px;
  margin-bottom: 15px;
}
/* line 111, ../sass/partials/_cards.scss */
.card_item .info_title {
  font-size: 21px;
  height: 54px;
  line-height: 24px;
}

/* line 118, ../sass/partials/_cards.scss */
.checklist_item {
  padding-bottom: 10px;
}

/* line 122, ../sass/partials/_cards.scss */
.info_card_list {
  *zoom: 1;
  padding: 30px 0;
}
/* line 113, ../sass/partials/_mixins.scss */
.info_card_list:before, .info_card_list:after {
  content: "";
  display: table;
}
/* line 118, ../sass/partials/_mixins.scss */
.info_card_list:after {
  clear: both;
}

/* line 127, ../sass/partials/_cards.scss */
.card_item {
  padding: 15px;
  width: calc(100% - 30px);
  max-width: 300px;
  float: left;
  display: block;
  /* Mobile devices */
  /* Tablets and phablets */
}
@media only screen and (min-width: 576px) {
  /* line 127, ../sass/partials/_cards.scss */
  .card_item {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  /* line 127, ../sass/partials/_cards.scss */
  .card_item {
    width: calc(100% / 4);
  }
}

/* line 143, ../sass/partials/_cards.scss */
.card_wrapper {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
  padding: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* line 1, ../sass/partials/_dialogs.scss */
.modal-backdrop {
  background-color: black;
}

/* line 5, ../sass/partials/_dialogs.scss */
.modal-content {
  border-radius: 5px;
  overflow: hidden;
}

/* line 10, ../sass/partials/_dialogs.scss */
.modal-dialog {
  z-index: 2000;
}

/* line 15, ../sass/partials/_dialogs.scss */
.modal-open .modal {
  background-color: rgba(35, 35, 35, 0.95);
}
/* line 19, ../sass/partials/_dialogs.scss */
.modal .modal-header {
  border-bottom: none;
  padding: 10px 15px;
  *zoom: 1;
  justify-content: flex-start;
  /* Tablets and phablets */
}
/* line 113, ../sass/partials/_mixins.scss */
.modal .modal-header:before, .modal .modal-header:after {
  content: "";
  display: table;
}
/* line 118, ../sass/partials/_mixins.scss */
.modal .modal-header:after {
  clear: both;
}
@media only screen and (min-width: 768px) {
  /* line 19, ../sass/partials/_dialogs.scss */
  .modal .modal-header {
    padding: 15px 30px;
  }
}
/* line 30, ../sass/partials/_dialogs.scss */
.modal .modal-title {
  font-size: 16px;
}
/* line 34, ../sass/partials/_dialogs.scss */
.modal .modal-body {
  position: relative;
  padding: 20px 15px;
  background: #fcfcfc;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 34, ../sass/partials/_dialogs.scss */
  .modal .modal-body {
    padding: 30px;
  }
}
/* line 43, ../sass/partials/_dialogs.scss */
.modal .content-panel {
  min-height: 250px;
}
/* line 47, ../sass/partials/_dialogs.scss */
.modal .modal-footer {
  border-top: none;
  padding: 10px 15px;
}

/* line 53, ../sass/partials/_dialogs.scss */
.dropdown-menu {
  padding: 0;
  font-size: 1em;
  z-index: 2000;
  border-color: #CCCCC4;
  box-shadow: 1px 2px 3px rgba(35, 35, 35, 0.1);
}
/* line 60, ../sass/partials/_dialogs.scss */
.dropdown-menu.dropdown-right {
  left: auto;
  right: 0;
}
/* line 65, ../sass/partials/_dialogs.scss */
.dropdown-menu li {
  display: block;
  padding: 0;
  margin: 0;
}
/* line 70, ../sass/partials/_dialogs.scss */
.dropdown-menu li > * {
  display: block;
  fill: #e76c58;
  color: inherit;
  padding: 10px 15px;
  line-height: normal;
}
/* line 76, ../sass/partials/_dialogs.scss */
.dropdown-menu li > *:hover {
  background: #e5e5e5;
  fill: #e76c58;
}

/* line 84, ../sass/partials/_dialogs.scss */
.dropdown-toggle::after {
  display: none;
}
