/* line 2, ../sass/partials/_base.scss */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 6, ../sass/partials/_base.scss */
html {
  font-size: 62.5%;
  height: 100%;
}

/* line 11, ../sass/partials/_base.scss */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 17, ../sass/partials/_base.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 22, ../sass/partials/_base.scss */
body {
  font-family: "Muli", -apple-system, system-ui, BlinkMacSystemFont, Open Sans, sans-serif;
  color: #454545;
  font-size: 1.4rem;
  font-size: 14px;
  line-height: 1.65;
  word-spacing: .5px;
  letter-spacing: .0835em;
  height: 100%;
  height: 100vh;
  width: 100%;
  font-weight: 300;
  position: relative;
}
/* line 35, ../sass/partials/_base.scss */
body ul,
body ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 43, ../sass/partials/_base.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* line 53, ../sass/partials/_base.scss */
p {
  margin: 0;
}
/* line 55, ../sass/partials/_base.scss */
p + p {
  margin-top: 15px;
}

/* line 60, ../sass/partials/_base.scss */
strong {
  font-weight: 400;
}

/* line 64, ../sass/partials/_base.scss */
address {
  margin: 0;
  font-style: normal;
}

/* line 69, ../sass/partials/_base.scss */
figure {
  margin: 0;
}

/* line 73, ../sass/partials/_base.scss */
.hidden {
  display: none !important;
}

/* line 77, ../sass/partials/_base.scss */
.centered {
  float: none;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

/* line 84, ../sass/partials/_base.scss */
.container {
  width: auto;
  max-width: 1170px;
  position: relative;
}

/* line 90, ../sass/partials/_base.scss */
.narrow_container {
  max-width: 960px;
  z-index: 4;
}

/* line 95, ../sass/partials/_base.scss */
.color-primary {
  color: #d4af37 !important;
  fill: #d4af37 !important;
}

/* line 100, ../sass/partials/_base.scss */
.color-secondary {
  color: #f7f3e8 !important;
  fill: #f7f3e8 !important;
}

/* line 105, ../sass/partials/_base.scss */
.color-inverse {
  color: #ececff !important;
  fill: #ececff !important;
}

/* line 110, ../sass/partials/_base.scss */
.color-black {
  color: #121713 !important;
  fill: #121713 !important;
}

/* line 115, ../sass/partials/_base.scss */
.color-white {
  color: #fafafa !important;
  fill: #fafafa !important;
}

/* line 120, ../sass/partials/_base.scss */
.color-grey-dark {
  color: #858585 !important;
}

/* line 124, ../sass/partials/_base.scss */
.color-grey {
  color: #c5c5c5 !important;
}

/* line 128, ../sass/partials/_base.scss */
.bg-primary {
  background-color: #d4af37 !important;
}

/* line 132, ../sass/partials/_base.scss */
.bg-secondary {
  background-color: #f7f3e8 !important;
}

/* line 136, ../sass/partials/_base.scss */
.bg-inverse {
  background-color: #ececff !important;
}

/* line 140, ../sass/partials/_base.scss */
.bg-black {
  background-color: #121713 !important;
}

/* line 144, ../sass/partials/_base.scss */
.bg-grey {
  background-color: #e5e5e5 !important;
}

/* line 148, ../sass/partials/_base.scss */
.bg-off-white {
  background-color: #fafafa !important;
}

/* line 152, ../sass/partials/_base.scss */
.bg-white {
  background-color: white !important;
}

/* line 156, ../sass/partials/_base.scss */
.font-regular {
  font-family: "Muli", -apple-system, system-ui, BlinkMacSystemFont, Open Sans, sans-serif;
  font-weight: 400 !important;
}

/* line 161, ../sass/partials/_base.scss */
.font-bold {
  font-family: "Muli", -apple-system, system-ui, BlinkMacSystemFont, Open Sans, sans-serif;
  font-weight: 700 !important;
}

/* line 166, ../sass/partials/_base.scss */
.text-caps {
  text-transform: uppercase !important;
}

/* line 170, ../sass/partials/_base.scss */
.text-center {
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* line 176, ../sass/partials/_base.scss */
.text-right {
  text-align: right;
  justify-content: flex-end;
}

/* line 181, ../sass/partials/_base.scss */
.text-left {
  text-align: left;
  justify-content: flex-start;
}

/* line 186, ../sass/partials/_base.scss */
.font-sm {
  font-size: 12px !important;
}

/* line 190, ../sass/partials/_base.scss */
.font-md {
  font-size: 16px !important;
}

/* line 194, ../sass/partials/_base.scss */
.font-lg {
  font-size: 21px !important;
}

/* line 198, ../sass/partials/_base.scss */
.margin_bottom_lg {
  margin-bottom: 70px;
}

/* line 202, ../sass/partials/_base.scss */
.empty_state {
  position: relative;
  max-width: 450px;
  margin: auto;
  font-size: 1em;
  min-height: 150px;
}
/* line 209, ../sass/partials/_base.scss */
.empty_state .btn {
  margin-top: 15px;
}
/* line 213, ../sass/partials/_base.scss */
.empty_state .def_wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
}
/* line 219, ../sass/partials/_base.scss */
.empty_state .title {
  margin-bottom: 10px;
}

/* line 224, ../sass/partials/_base.scss */
.badge {
  padding: .7em 1.8em;
  font-weight: 400;
  border-radius: 25px;
  font-size: 11px;
}

/* line 231, ../sass/partials/_base.scss */
.badge-primary {
  background-color: #d4af37;
  color: #121713;
}

/* line 236, ../sass/partials/_base.scss */
.badge-secondary {
  background-color: #121713;
  color: #d4af37;
}

/* line 1, ../sass/partials/_forms.scss */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(197, 197, 197, 0.5);
}

/* line 6, ../sass/partials/_forms.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(197, 197, 197, 0.5);
}

/* line 11, ../sass/partials/_forms.scss */
:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(197, 197, 197, 0.5);
}

/* line 16, ../sass/partials/_forms.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(197, 197, 197, 0.5);
}

/* line 21, ../sass/partials/_forms.scss */
.form_header {
  display: block;
  padding-bottom: 10px;
  border-bottom: 3px solid rgba(212, 175, 55, 0.2);
  margin-bottom: 30px;
}

/* line 28, ../sass/partials/_forms.scss */
fieldset {
  padding: 20px 0;
}
/* line 31, ../sass/partials/_forms.scss */
fieldset > p {
  margin-bottom: 8.5px;
}

/* line 37, ../sass/partials/_forms.scss */
input:focus {
  outline: none;
}

/* line 42, ../sass/partials/_forms.scss */
.input-group-addon {
  background: #f7f3e8;
  color: #fafafa;
  font-size: .923em;
  padding-right: 1em;
  padding-left: 1em;
}

/* line 50, ../sass/partials/_forms.scss */
.input-group-btn {
  font-size: 1em;
}
/* line 52, ../sass/partials/_forms.scss */
.input-group-btn .btn {
  vertical-align: top;
  padding-left: 2em;
  padding-right: 2em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* line 61, ../sass/partials/_forms.scss */
.slim_form {
  clear: both;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 61, ../sass/partials/_forms.scss */
  .slim_form {
    width: 50%;
  }
}

/* line 68, ../sass/partials/_forms.scss */
.form-horizontal {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  /* Mobile devices */
}
@media only screen and (min-width: 576px) {
  /* line 68, ../sass/partials/_forms.scss */
  .form-horizontal {
    margin-bottom: 20px;
  }
}

/* line 77, ../sass/partials/_forms.scss */
.form-group {
  position: relative;
  margin-bottom: 20px;
}

/* line 82, ../sass/partials/_forms.scss */
.help-block {
  font-size: .85em;
  color: #858585;
  font-style: italic;
  margin: 7.5px 0;
}

/* line 90, ../sass/partials/_forms.scss */
.required::before {
  content: "*";
  font-size: 1.125em;
  color: #f7f3e8;
}

/* line 97, ../sass/partials/_forms.scss */
label {
  margin-bottom: 0;
  display: inline-block;
  vertical-align: top;
  font-weight: normal;
}
/* line 104, ../sass/partials/_forms.scss */
label.radio-inline + label {
  margin-left: 15px;
}

/* line 110, ../sass/partials/_forms.scss */
.form-control {
  padding: 8px 12px;
  font-size: 1em;
  line-height: normal;
  z-index: 1;
  margin: 0;
  outline: 0;
  overflow: hidden;
  color: #454545;
  text-indent: .02px;
  min-height: 40px;
  -moz-appearance: none;
  -webkit-appearance: none;
  box-shadow: 0 1px 3px rgba(18, 23, 19, 0.15);
  background-color: white;
  border-color: rgba(133, 133, 133, 0.4);
}
/* line 126, ../sass/partials/_forms.scss */
.form-control.input_filled {
  background-color: rgba(236, 236, 255, 0.7);
  border: none;
  box-shadow: none;
}
/* line 132, ../sass/partials/_forms.scss */
.form-control:focus {
  outline: 0;
  box-shadow: none;
  border-color: #ececff;
}

/* line 139, ../sass/partials/_forms.scss */
textarea {
  display: block;
  resize: vertical;
}

/* line 144, ../sass/partials/_forms.scss */
.control-label {
  text-transform: none;
  font-size: 1em;
  padding-bottom: 7.5px;
  font-weight: 700;
  color: #858585;
  display: inline-block;
  margin-bottom: 0;
}

/* line 154, ../sass/partials/_forms.scss */
select.form-control {
  background: white url(../img/arrow-down.png) right center no-repeat;
}
/* line 156, ../sass/partials/_forms.scss */
select.form-control:focus {
  outline: none;
}

/* line 161, ../sass/partials/_forms.scss */
.file_subscribe {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* line 167, ../sass/partials/_forms.scss */
.field {
  position: relative;
}

/* line 171, ../sass/partials/_forms.scss */
.subscribe_choice {
  font-size: 12px;
}

/* line 175, ../sass/partials/_forms.scss */
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
/* line 183, ../sass/partials/_forms.scss */
.inputfile:focus {
  outline: 1px dotted #f7f3e8;
  outline: -webkit-focus-ring-color auto 5px;
}

/* line 189, ../sass/partials/_forms.scss */
.upload_btn {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 1px 10px 0 0;
  color: #121713;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  line-height: 24px;
  cursor: pointer;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

/* line 205, ../sass/partials/_forms.scss */
input[type="radio"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
  margin-top: 6px;
  margin-right: 4px;
  vertical-align: top;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
/* line 216, ../sass/partials/_forms.scss */
input[type="radio"]:focus,
.radio input[type="radio"]:focus,
.radio-inline input[type="radio"]:focus {
  outline: none;
}
/* line 219, ../sass/partials/_forms.scss */
input[type="radio"]:before, input[type="radio"]:after,
.radio input[type="radio"]:before,
.radio input[type="radio"]:after,
.radio-inline input[type="radio"]:before,
.radio-inline input[type="radio"]:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  -moz-transition: 240ms;
  -o-transition: 240ms;
  -webkit-transition: 240ms;
  transition: 240ms;
}
/* line 228, ../sass/partials/_forms.scss */
input[type="radio"]:before,
.radio input[type="radio"]:before,
.radio-inline input[type="radio"]:before {
  position: absolute;
  left: 0;
  top: -3px;
  background-color: #f7f3e8;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
/* line 235, ../sass/partials/_forms.scss */
input[type="radio"]:after,
.radio input[type="radio"]:after,
.radio-inline input[type="radio"]:after {
  position: relative;
  top: -3px;
  border: 2px solid #ececff;
}
/* line 240, ../sass/partials/_forms.scss */
input[type="radio"]:checked:before,
.radio input[type="radio"]:checked:before,
.radio-inline input[type="radio"]:checked:before {
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
/* line 243, ../sass/partials/_forms.scss */
input[type="radio"]:disabled:checked:before,
.radio input[type="radio"]:disabled:checked:before,
.radio-inline input[type="radio"]:disabled:checked:before {
  background-color: #ececff;
}
/* line 246, ../sass/partials/_forms.scss */
input[type="radio"]:checked:after,
.radio input[type="radio"]:checked:after,
.radio-inline input[type="radio"]:checked:after {
  border-color: #f7f3e8;
}
/* line 249, ../sass/partials/_forms.scss */
input[type="radio"]:disabled:after, input[type="radio"]:disabled:checked:after,
.radio input[type="radio"]:disabled:after,
.radio input[type="radio"]:disabled:checked:after,
.radio-inline input[type="radio"]:disabled:after,
.radio-inline input[type="radio"]:disabled:checked:after {
  border-color: #ececff;
}

/* line 255, ../sass/partials/_forms.scss */
input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: relative;
  border: none;
  margin-bottom: -4px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}
/* line 264, ../sass/partials/_forms.scss */
input[type="checkbox"]:focus,
.checkbox input[type="checkbox"]:focus,
.checkbox-inline input[type="checkbox"]:focus {
  outline: none;
}
/* line 267, ../sass/partials/_forms.scss */
input[type="checkbox"]:after,
.checkbox input[type="checkbox"]:after,
.checkbox-inline input[type="checkbox"]:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin-top: -2px;
  margin-right: 5px;
  border: 2px solid #ececff;
  border-radius: 2px;
  -moz-transition: 240ms;
  -o-transition: 240ms;
  -webkit-transition: 240ms;
  transition: 240ms;
}
/* line 278, ../sass/partials/_forms.scss */
input[type="checkbox"]:checked:before,
.checkbox input[type="checkbox"]:checked:before,
.checkbox-inline input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: 0;
  left: 6px;
  display: table;
  width: 6px;
  height: 12px;
  border: 2px solid #fafafa;
  border-top-width: 0;
  border-left-width: 0;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 291, ../sass/partials/_forms.scss */
input[type="checkbox"]:checked:after,
.checkbox input[type="checkbox"]:checked:after,
.checkbox-inline input[type="checkbox"]:checked:after {
  background-color: #f7f3e8;
  border-color: #f7f3e8;
}
/* line 295, ../sass/partials/_forms.scss */
input[type="checkbox"]:disabled:after,
.checkbox input[type="checkbox"]:disabled:after,
.checkbox-inline input[type="checkbox"]:disabled:after {
  border-color: #ececff;
}
/* line 298, ../sass/partials/_forms.scss */
input[type="checkbox"]:disabled:checked:after,
.checkbox input[type="checkbox"]:disabled:checked:after,
.checkbox-inline input[type="checkbox"]:disabled:checked:after {
  background-color: #ececff;
  border-color: transparent;
}

/* SVG Icon systems */
/* line 2, ../sass/partials/_custom_icons.scss */
.cust_icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  overflow: hidden;
  vertical-align: middle;
  fill: inherit;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 13, ../sass/partials/_custom_icons.scss */
[class*="btn-"] .cust_icon {
  margin: 0 2px;
  width: 14px;
  height: 14px;
}

/* line 20, ../sass/partials/_custom_icons.scss */
svg {
  display: block;
  width: 100%;
}

/* line 25, ../sass/partials/_custom_icons.scss */
.icon_xs {
  width: 16px;
  height: 16px;
}

/* line 30, ../sass/partials/_custom_icons.scss */
.icon_sm {
  width: 24px;
  height: 24px;
}

/* line 35, ../sass/partials/_custom_icons.scss */
.icon_md {
  width: 48px;
  height: 48px;
}

/* line 1, ../sass/partials/_header_nav.scss */
header[role="banner"] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
}
/* line 10, ../sass/partials/_header_nav.scss */
header[role="banner"] + .main_content_area {
  padding-top: 60px;
}

/* line 15, ../sass/partials/_header_nav.scss */
.main_header {
  -moz-transition: background-color 0.5s linear;
  -o-transition: background-color 0.5s linear;
  -webkit-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
  /* Force Hardware Acceleration in WebKit */
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-bottom: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.75);
  /* Landscape tablets and desktop or laptops */
  /* Landscape tablets and desktop or laptops */
}
@media only screen and (max-width: 991px) {
  /* line 15, ../sass/partials/_header_nav.scss */
  .main_header {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-bottom-color: #e5e5e5;
  }
}
@media only screen and (min-width: 992px) {
  /* line 27, ../sass/partials/_header_nav.scss */
  .main_header.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -60px;
    -moz-transition: -moz-transform 0.5s linear;
    -o-transition: -o-transform 0.5s linear;
    -webkit-transition: -webkit-transform 0.5s linear;
    transition: transform 0.5s linear;
    border-bottom-color: #ececff;
    background-color: #fafafa;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  }
  /* line 36, ../sass/partials/_header_nav.scss */
  .main_header.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -moz-transform: translate3d(0, 60px, 0);
    -ms-transform: translate3d(0, 60px, 0);
    -webkit-transform: translate3d(0, 60px, 0);
    transform: translate3d(0, 60px, 0);
  }
}

/* line 43, ../sass/partials/_header_nav.scss */
.navbar_container {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
}

/* line 52, ../sass/partials/_header_nav.scss */
.navbar_group {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* line 59, ../sass/partials/_header_nav.scss */
.navbar_group_left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-right: 20px;
}

/* line 66, ../sass/partials/_header_nav.scss */
.navbar_group_right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

/* line 72, ../sass/partials/_header_nav.scss */
.primary_nav_menu {
  height: 100%;
  height: 100vh;
  visibility: hidden;
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  transform-origin: top;
  -moz-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  -o-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  -webkit-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  overflow: hidden;
  position: fixed;
  width: 100%;
  left: 0;
  top: 60px;
  /* Tablets and phablets */
}
/* line 84, ../sass/partials/_header_nav.scss */
.is-active .primary_nav_menu {
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  visibility: visible;
  background-color: #121713;
  -moz-transition: -moz-transform 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  -o-transition: -o-transform 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  transition: transform 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
}
@media only screen and (min-width: 768px) {
  /* line 72, ../sass/partials/_header_nav.scss */
  .primary_nav_menu {
    width: auto;
    height: auto;
    position: static;
    color: inherit;
    visibility: visible;
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    line-height: 60px;
  }
}

/* line 101, ../sass/partials/_header_nav.scss */
.primary_nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  flex-direction: column;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 101, ../sass/partials/_header_nav.scss */
  .primary_nav {
    flex-direction: row;
  }
}

/* line 110, ../sass/partials/_header_nav.scss */
.nav_item {
  text-transform: capitalize;
  line-height: 60px;
}

/* line 115, ../sass/partials/_header_nav.scss */
.nav_link_item {
  display: block;
  position: relative;
  padding: 0 15px;
  text-transform: uppercase;
  color: #fafafa;
  font-weight: 700;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  /* Tablets and phablets */
}
/* line 123, ../sass/partials/_header_nav.scss */
.active .nav_link_item {
  color: #d4af37;
}
@media only screen and (min-width: 768px) {
  /* line 115, ../sass/partials/_header_nav.scss */
  .nav_link_item {
    color: rgba(18, 23, 19, 0.65);
  }
  /* line 130, ../sass/partials/_header_nav.scss */
  .active .nav_link_item, .nav_link_item:hover, .nav_link_item:focus {
    color: #121713;
  }
}

/* line 136, ../sass/partials/_header_nav.scss */
.brand_image {
  display: block;
}

/* line 140, ../sass/partials/_header_nav.scss */
.logo_link {
  display: block;
  line-height: 60px;
  position: relative;
}
/* line 144, ../sass/partials/_header_nav.scss */
.logo_link img {
  display: none;
}

/* line 149, ../sass/partials/_header_nav.scss */
.logo_image_holder {
  display: block;
  background-color: transparent;
  background-position: left center;
  background-size: contain;
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-image: url(../img/logo.png);
  height: 45px;
  width: 150px;
  /* Landscape tablets and desktop or laptops */
}
@media only screen and (min-width: 992px) {
  /* line 149, ../sass/partials/_header_nav.scss */
  .logo_image_holder {
    width: 200px;
  }
}

/* line 165, ../sass/partials/_header_nav.scss */
.control_btns {
  margin-left: 20px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  fill: #fafafa;
}
/* line 171, ../sass/partials/_header_nav.scss */
.control_btns > a {
  display: block;
}

/* Tablets and phablets */
@media only screen and (min-width: 768px) {
  /* line 177, ../sass/partials/_header_nav.scss */
  .btn_menu {
    display: none;
  }
}
/* line 182, ../sass/partials/_header_nav.scss */
.primary-nav-trigger {
  position: relative;
}

/* line 186, ../sass/partials/_header_nav.scss */
.menu-icon {
  /* this span is the central line of the menu icon */
  display: block;
  width: 24px;
  height: 3px;
  background-color: #121713;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  /* these are the upper and lower lines in the menu icon */
}
/* line 194, ../sass/partials/_header_nav.scss */
.menu-icon::before, .menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #121713;
  right: 0;
  -moz-transition: -moz-transform 0.3s, top 0.3s, background-color 0s;
  -o-transition: -o-transform 0.3s, top 0.3s, background-color 0s;
  -webkit-transition: -webkit-transform 0.3s, top 0.3s, background-color 0s;
  transition: transform 0.3s, top 0.3s, background-color 0s;
}
/* line 204, ../sass/partials/_header_nav.scss */
.menu-icon::before {
  top: -7px;
}
/* line 207, ../sass/partials/_header_nav.scss */
.menu-icon::after {
  top: 7px;
}
/* line 210, ../sass/partials/_header_nav.scss */
.menu-icon.is-clicked {
  background-color: rgba(18, 23, 19, 0);
}
/* line 212, ../sass/partials/_header_nav.scss */
.menu-icon.is-clicked::before, .menu-icon.is-clicked::after {
  background-color: #121713;
}
/* line 216, ../sass/partials/_header_nav.scss */
.menu-icon.is-clicked::before {
  top: 0;
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* line 220, ../sass/partials/_header_nav.scss */
.menu-icon.is-clicked::after {
  top: 0;
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

/* line 1, ../sass/partials/_navigations.scss */
a {
  text-decoration: none;
  -moz-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  -o-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  -webkit-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  color: #d4af37;
}
/* line 5, ../sass/partials/_navigations.scss */
a:hover, a:focus {
  text-decoration: none;
  color: #454545;
}
/* line 10, ../sass/partials/_navigations.scss */
a:focus {
  outline: thin dotted transparent;
}

/* line 15, ../sass/partials/_navigations.scss */
button {
  outline: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: auto;
  height: auto;
  color: inherit;
  line-height: 1;
  background: 0 0;
  cursor: pointer;
}

/* line 28, ../sass/partials/_navigations.scss */
.btn,
a.btn {
  text-decoration: none;
  border-radius: 2px;
  padding: 1.4em 4em;
  font-size: 12px;
  font-weight: 400;
  background-color: transparent;
  color: #121713;
  fill: #454545;
  border: none;
  cursor: pointer;
  display: inline-block;
  letter-spacing: .165em;
  max-width: 100%;
  text-transform: uppercase;
  -moz-transition: all 0.8s cubic-bezier(0.68, 0.34, 0.15, 1);
  -o-transition: all 0.8s cubic-bezier(0.68, 0.34, 0.15, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.68, 0.34, 0.15, 1);
  transition: all 0.8s cubic-bezier(0.68, 0.34, 0.15, 1);
  /* Mobile devices */
}
@media only screen and (min-width: 576px) {
  /* line 47, ../sass/partials/_navigations.scss */
  .btn + .btn,
  a.btn + .btn {
    margin-left: 20px;
  }
}
/* line 52, ../sass/partials/_navigations.scss */
.btn.btn-primary,
a.btn.btn-primary {
  background-color: #d4af37;
}
/* line 54, ../sass/partials/_navigations.scss */
.btn.btn-primary:hover, .btn.btn-primary:focus,
a.btn.btn-primary:hover,
a.btn.btn-primary:focus {
  background-color: #121713;
  color: #d4af37;
}
/* line 61, ../sass/partials/_navigations.scss */
.btn.btn-secondary,
a.btn.btn-secondary {
  background-color: #121713;
  color: #d4af37;
}
/* line 64, ../sass/partials/_navigations.scss */
.btn.btn-secondary:hover, .btn.btn-secondary:focus,
a.btn.btn-secondary:hover,
a.btn.btn-secondary:focus {
  background-color: #d4af37;
  color: #121713;
}
/* line 71, ../sass/partials/_navigations.scss */
.btn.btn-inverse,
a.btn.btn-inverse {
  background-color: #f7f3e8;
  color: #d4af37;
}
/* line 74, ../sass/partials/_navigations.scss */
.btn.btn-inverse:hover, .btn.btn-inverse:focus,
a.btn.btn-inverse:hover,
a.btn.btn-inverse:focus {
  background-color: #d4af37;
  color: #121713;
}
/* line 80, ../sass/partials/_navigations.scss */
.btn.btn-default,
a.btn.btn-default {
  border: 2px solid #858585;
}
/* line 82, ../sass/partials/_navigations.scss */
.btn.btn-default:hover, .btn.btn-default:focus,
a.btn.btn-default:hover,
a.btn.btn-default:focus {
  border-color: transparent;
  background-color: #d4af37;
}
/* line 88, ../sass/partials/_navigations.scss */
.btn.btn-icon,
a.btn.btn-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  padding: 0;
  text-align: center;
}
/* line 97, ../sass/partials/_navigations.scss */
.btn:hover, .btn:focus,
a.btn:hover,
a.btn:focus {
  text-decoration: none !important;
  box-shadow: 2px 4px 8px 0 rgba(18, 23, 19, 0.1);
}
/* line 101, ../sass/partials/_navigations.scss */
.no-touch .btn:hover, .no-touch .btn:focus, .no-touch
a.btn:hover, .no-touch
a.btn:focus {
  outline: none;
}

/* line 107, ../sass/partials/_navigations.scss */
.btn-sm.btn,
.btn-group-sm > .btn {
  padding: 1.1em 2em;
  font-size: 10px;
}

/* line 113, ../sass/partials/_navigations.scss */
.btn-lg.btn,
.btn-group-lg > .btn {
  padding: 1.6em 6em;
  font-size: 1em;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 113, ../sass/partials/_navigations.scss */
  .btn-lg.btn,
  .btn-group-lg > .btn {
    font-size: 1.25em;
  }
}

/* line 123, ../sass/partials/_navigations.scss */
.btn-link {
  padding: 0;
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
  color: inherit;
  text-transform: uppercase;
  font-size: 1em;
  display: inline-block;
  -moz-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  -o-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  -webkit-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
}
/* line 133, ../sass/partials/_navigations.scss */
.btn-link:hover, .btn-link:focus {
  text-decoration: none;
  border-bottom-color: #d4af37;
  color: #d4af37;
}

/* line 141, ../sass/partials/_navigations.scss */
.breadcrumb {
  padding: 0;
  margin-bottom: 0;
  list-style: none;
  background-color: transparent;
  border-radius: 0;
  line-height: 3;
  color: #c5c5c5;
}
/* line 150, ../sass/partials/_navigations.scss */
.breadcrumb li {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 150, ../sass/partials/_navigations.scss */
  .breadcrumb li {
    font-size: 14px;
  }
}
/* line 160, ../sass/partials/_navigations.scss */
.breadcrumb li + li::before {
  padding: 0 5px;
  content: "/";
  display: inline-block;
}
/* line 166, ../sass/partials/_navigations.scss */
.breadcrumb li > a {
  color: inherit;
}
/* line 171, ../sass/partials/_navigations.scss */
.breadcrumb > .active {
  color: rgba(250, 250, 250, 0.5);
  pointer-events: none;
}

/* line 177, ../sass/partials/_navigations.scss */
.to-top {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: fixed;
  bottom: 15px;
  right: 3.5%;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #d4af37 url(../img/top-arrow.svg) no-repeat center 50%;
  background-size: 14px;
  visibility: hidden;
  opacity: 0;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -o-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -webkit-transition: opacity 0.3s, visibility 0s;
  -webkit-transition-delay: 0s, 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  z-index: 30000;
}
/* line 195, ../sass/partials/_navigations.scss */
.no-touch .to-top:hover, .no-touch .to-top:focus {
  background-color: rgba(212, 175, 55, 0.66);
  opacity: 1;
}
/* line 201, ../sass/partials/_navigations.scss */
.to-top.is-visible, .to-top.fade-out, .no-touch .to-top:hover {
  -moz-transition: opacity 0.3s, visibility 0s;
  -o-transition: opacity 0.3s, visibility 0s;
  -webkit-transition: opacity 0.3s, visibility 0s;
  transition: opacity 0.3s, visibility 0s;
}
/* line 206, ../sass/partials/_navigations.scss */
.to-top.is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
/* line 211, ../sass/partials/_navigations.scss */
.to-top.fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

/* line 217, ../sass/partials/_navigations.scss */
.close_dialog {
  z-index: 5;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: #e5e5e5;
  -moz-transition: background-color 0.8s ease-in-out;
  -o-transition: background-color 0.8s ease-in-out;
  -webkit-transition: background-color 0.8s ease-in-out;
  transition: background-color 0.8s ease-in-out;
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
/* line 229, ../sass/partials/_navigations.scss */
.close_dialog::before, .close_dialog::after {
  position: absolute;
  content: "";
  width: 2px;
  background: #858585;
  height: 14px;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -1px;
}
/* line 240, ../sass/partials/_navigations.scss */
.close_dialog::before {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 243, ../sass/partials/_navigations.scss */
.close_dialog::after {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 246, ../sass/partials/_navigations.scss */
.close_dialog:hover, .close_dialog:focus {
  background-color: #f7f3e8;
}
/* line 249, ../sass/partials/_navigations.scss */
.close_dialog:hover::before, .close_dialog:hover::after, .close_dialog:focus::before, .close_dialog:focus::after {
  background-color: #121713;
}

/* line 256, ../sass/partials/_navigations.scss */
.link_icon_list {
  clear: both;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* Tablets and phablets */
}
@media only screen and (max-width: 767px) {
  /* line 261, ../sass/partials/_navigations.scss */
  .footer_block .link_icon_list {
    justify-content: center;
  }
}

/* line 267, ../sass/partials/_navigations.scss */
.link_item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  fill: #d4af37;
  vertical-align: middle;
}
/* line 277, ../sass/partials/_navigations.scss */
.link_item + .link_item {
  margin-left: 15px;
}
/* line 281, ../sass/partials/_navigations.scss */
.link_item:hover, .link_item:focus {
  fill: #121713;
  background-color: #d4af37;
}

/*TO delete*/
/* line 289, ../sass/partials/_navigations.scss */
.scroll_arrows {
  display: inline-block;
}

/* line 293, ../sass/partials/_navigations.scss */
.slick-arrow {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  opacity: .5;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  -moz-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
  border: none;
}
/* line 307, ../sass/partials/_navigations.scss */
.slick-arrow:hover, .slick-arrow:focus {
  opacity: 1;
  outline: 0;
}

/* line 313, ../sass/partials/_navigations.scss */
.slick-prev {
  background-image: url(../img/icons/arrowLeft.svg);
  margin-right: 20px;
}

/* line 318, ../sass/partials/_navigations.scss */
.slick-next {
  background-image: url(../img/icons/arrowRight.svg);
}

/* line 322, ../sass/partials/_navigations.scss */
.slick-slider {
  margin-bottom: 30px;
}

/* line 326, ../sass/partials/_navigations.scss */
.slick-dots {
  list-style: none;
  display: block;
  width: 100%;
}
/* line 331, ../sass/partials/_navigations.scss */
.postList .slick-dots {
  text-align: center;
}
/* line 335, ../sass/partials/_navigations.scss */
.slick-dots button {
  display: block;
  height: 12px;
  width: 12px;
  padding: 0;
  border-radius: 50%;
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid #858585;
  cursor: pointer;
}
/* line 346, ../sass/partials/_navigations.scss */
.slick-dots button:hover, .slick-dots button:focus {
  outline: none;
}
/* line 351, ../sass/partials/_navigations.scss */
.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}
/* line 356, ../sass/partials/_navigations.scss */
.slick-dots li.slick-active button {
  border-color: transparent;
  background-color: #fafafa;
}

/* line 1, ../sass/partials/_heroes.scss */
.hero_area {
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 1, ../sass/partials/_heroes.scss */
  .hero_area {
    min-height: 450px;
    max-height: 1200px;
  }
}

/* line 21, ../sass/partials/_heroes.scss */
.main_hero {
  background-image: url(../img/banners/hero_bg.jpg);
}

/* line 25, ../sass/partials/_heroes.scss */
.hero_pattern {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .75;
  background-color: rgba(18, 23, 19, 0.45);
  background-image: url(../img/banners/pattern.png);
  background-size: cover;
  z-index: 1;
}

/* line 39, ../sass/partials/_heroes.scss */
.banner_content {
  position: relative;
  overflow: hidden;
  padding: 70px 0;
  /* Landscape tablets and desktop or laptops */
}
@media only screen and (min-width: 992px) {
  /* line 39, ../sass/partials/_heroes.scss */
  .banner_content {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

/* line 50, ../sass/partials/_heroes.scss */
.hero_info_caption {
  position: relative;
  z-index: 10;
  width: 100%;
}

/* line 56, ../sass/partials/_heroes.scss */
.hero_title {
  font-size: 28px;
  font-weight: 700;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 56, ../sass/partials/_heroes.scss */
  .hero_title {
    font-size: 52px;
  }
}

/* line 65, ../sass/partials/_heroes.scss */
.hero_blub {
  font-size: 16px;
  /* Landscape tablets and desktop or laptops */
}
@media only screen and (min-width: 992px) {
  /* line 65, ../sass/partials/_heroes.scss */
  .hero_blub {
    font-size: 21px;
  }
}

/* line 73, ../sass/partials/_heroes.scss */
.title_half {
  margin-bottom: 30px;
}
/* line 76, ../sass/partials/_heroes.scss */
.title_half .hero_title {
  max-width: 450px;
  margin-bottom: 5px;
}

/* line 82, ../sass/partials/_heroes.scss */
.extra_details {
  font-size: 16px;
}

/* line 86, ../sass/partials/_heroes.scss */
.hero_info_item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 86, ../sass/partials/_heroes.scss */
  .hero_info_item {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* line 98, ../sass/partials/_heroes.scss */
.deco_bar {
  display: inline-block;
  clear: both;
  width: 96px;
  height: 3px;
  border-radius: 3px;
  background-color: #454545;
  margin: 5px 0 15px;
}

/* line 108, ../sass/partials/_heroes.scss */
.cto_block {
  width: 100%;
  clear: both;
  background-color: #d4af37;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/banners/cto_bg.jpg);
  position: relative;
  margin-bottom: 70px;
  /* Tablets and phablets */
}
/* line 119, ../sass/partials/_heroes.scss */
.cto_block::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(212, 175, 55, 0.85);
  background: -webkit-linear-gradient(right, transparent 0%, #d4af37 75%, #d4af37 100%);
  background: -o-linear-gradient(right, transparent 0%, #d4af37 75%, #d4af37 100%);
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, #d4af37 75%, #d4af37 100%);
}
@media only screen and (min-width: 768px) {
  /* line 108, ../sass/partials/_heroes.scss */
  .cto_block {
    height: 450px;
  }
}

/* line 136, ../sass/partials/_heroes.scss */
.aside_icon {
  margin-bottom: 20px;
  text-align: center;
}
/* line 140, ../sass/partials/_heroes.scss */
.aside_icon img {
  max-width: 160px;
  display: inline-block;
}

/* line 1, ../sass/partials/_blocks.scss */
.main_content_area {
  z-index: 1;
}

/* line 5, ../sass/partials/_blocks.scss */
.section_block {
  width: 100%;
  clear: both;
  background-size: cover;
  padding: 70px 0;
  position: relative;
}

/* line 13, ../sass/partials/_blocks.scss */
.section_header {
  margin-bottom: 40px;
}

/* line 17, ../sass/partials/_blocks.scss */
.section_title {
  font-size: 21px;
  margin-bottom: 10px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 17, ../sass/partials/_blocks.scss */
  .section_title {
    font-size: 32px;
  }
}

/* line 26, ../sass/partials/_blocks.scss */
.title_text {
  font-size: 18px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 26, ../sass/partials/_blocks.scss */
  .title_text {
    font-size: 30px;
  }
}

/* line 34, ../sass/partials/_blocks.scss */
.section_cto {
  margin-top: 30px;
  display: block;
  clear: both;
}

/* line 40, ../sass/partials/_blocks.scss */
.block_divider {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #d5d5d5;
  margin: 50px 0;
}

/*Site footer*/
/* line 50, ../sass/partials/_blocks.scss */
.main_footer {
  display: block;
  clear: both;
  background-color: #121713;
  position: relative;
  color: #e5e5e5;
  line-height: 2;
  font-size: 12px;
}

/* line 60, ../sass/partials/_blocks.scss */
.footer_inner {
  position: relative;
  z-index: 5;
  padding-top: 40px;
  padding-bottom: 30px;
}

/* line 67, ../sass/partials/_blocks.scss */
.footer_section_i, .footer_section_ii {
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 67, ../sass/partials/_blocks.scss */
  .footer_section_i, .footer_section_ii {
    padding: 0 15px;
  }
}

/* line 73, ../sass/partials/_blocks.scss */
.footer_section_i {
  width: 100%;
  text-align: center;
  /* Tablets and phablets */
  /* Tablets and phablets */
}
@media only screen and (max-width: 767px) {
  /* line 73, ../sass/partials/_blocks.scss */
  .footer_section_i {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #e5e5e5;
  }
}
@media only screen and (min-width: 768px) {
  /* line 73, ../sass/partials/_blocks.scss */
  .footer_section_i {
    width: 25%;
    text-align: left;
  }
}

/* line 89, ../sass/partials/_blocks.scss */
.footer_section_ii {
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 89, ../sass/partials/_blocks.scss */
  .footer_section_ii {
    width: 75%;
  }
}

/* line 95, ../sass/partials/_blocks.scss */
.ft_sub_block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/* line 101, ../sass/partials/_blocks.scss */
.footer_block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
/* line 105, ../sass/partials/_blocks.scss */
.ft_sub_block .footer_block {
  padding: 0 15px;
  flex: 1 0 50%;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 105, ../sass/partials/_blocks.scss */
  .ft_sub_block .footer_block {
    flex: 1 0 25%;
  }
}

/* line 117, ../sass/partials/_blocks.scss */
.ft_block_segment + .ft_block_segment {
  margin-top: 15px;
}

/* line 122, ../sass/partials/_blocks.scss */
.ft_block_header {
  margin-bottom: 20px;
}

/* line 126, ../sass/partials/_blocks.scss */
.ft_block_title {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.2;
}

/* line 132, ../sass/partials/_blocks.scss */
.segment_flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
  /* Tablets and phablets */
}
@media only screen and (max-width: 767px) {
  /* line 132, ../sass/partials/_blocks.scss */
  .segment_flex {
    justify-content: center;
  }
}

/* line 142, ../sass/partials/_blocks.scss */
.ft_nav_block {
  width: 100%;
}
/* line 145, ../sass/partials/_blocks.scss */
.segment_flex .ft_nav_block {
  flex: 0 50%;
}
/* line 147, ../sass/partials/_blocks.scss */
.segment_flex .ft_nav_block + .ft_nav_block {
  padding-left: 30px;
}
/* line 152, ../sass/partials/_blocks.scss */
.ft_nav_block > li {
  margin-bottom: .35em;
}
/* line 155, ../sass/partials/_blocks.scss */
.ft_nav_block > li a {
  color: inherit;
  display: inline-block;
}
/* line 159, ../sass/partials/_blocks.scss */
.ft_nav_block > li a + a {
  margin-left: 10px;
}
/* line 163, ../sass/partials/_blocks.scss */
.ft_nav_block > li a:hover, .ft_nav_block > li a:focus {
  color: #d4af37;
}
/* line 168, ../sass/partials/_blocks.scss */
.ft_nav_block > li:last-child {
  margin-bottom: 0;
}

/* line 174, ../sass/partials/_blocks.scss */
.brand_media {
  width: 100%;
  position: relative;
  overflow: hidden;
}
/* line 178, ../sass/partials/_blocks.scss */
.brand_media img {
  display: inline-block;
  max-width: 185px;
}

/* line 184, ../sass/partials/_blocks.scss */
.copyright_notice {
  clear: both;
  padding: 20px 0;
  font-size: 12px;
  opacity: .65;
  text-align: center;
}

/* line 193, ../sass/partials/_blocks.scss */
.legal_content {
  line-height: 170%;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 193, ../sass/partials/_blocks.scss */
  .legal_content {
    font-size: 16px;
  }
}
/* line 200, ../sass/partials/_blocks.scss */
.legal_content p {
  margin-bottom: 10px;
}
/* line 204, ../sass/partials/_blocks.scss */
.legal_content > h2, .legal_content > h3, .legal_content > h4 {
  margin: 25px 0 10px;
  text-transform: capitalize;
  font-family: "Muli", -apple-system, system-ui, BlinkMacSystemFont, Open Sans, sans-serif;
}

/* line 1, ../sass/partials/_cards.scss */
.ft_wrapper {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
/* line 6, ../sass/partials/_cards.scss */
.ft_wrapper > * {
  width: 100%;
}

/* line 11, ../sass/partials/_cards.scss */
.feature_item_image {
  margin-bottom: 20px;
}
/* line 14, ../sass/partials/_cards.scss */
.feature_item_image.margin_up {
  margin-top: 40px;
}
/* line 18, ../sass/partials/_cards.scss */
.feature_item_image img {
  width: auto;
  height: 64px;
}
/* line 23, ../sass/partials/_cards.scss */
.feature_item_image .img_sm {
  height: 32px;
}

/* line 28, ../sass/partials/_cards.scss */
.feat_line {
  width: 100%;
  height: 3px;
  background-color: #f7f3e8;
  position: relative;
}
/* line 35, ../sass/partials/_cards.scss */
.feat_line.no_node::before {
  display: none;
}
/* line 40, ../sass/partials/_cards.scss */
.feat_line::before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0;
  top: 50%;
  bottom: auto;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #d4af37;
}

/* line 53, ../sass/partials/_cards.scss */
.feature_details {
  padding-top: 20px;
  padding-bottom: 30px;
  line-height: 175%;
}
/* line 58, ../sass/partials/_cards.scss */
.no-gutters .feature_details {
  padding-right: 30px;
}

/* line 63, ../sass/partials/_cards.scss */
.feature_title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 150%;
  letter-spacing: .2rem;
}

/* line 71, ../sass/partials/_cards.scss */
.feat_cto {
  margin-top: 30px;
}

/* line 75, ../sass/partials/_cards.scss */
.ft_control {
  display: inline-block;
  padding-left: 15px;
  line-height: 1.5;
  color: inherit;
  box-shadow: inset 4px 0 #d4af37;
}
/* line 82, ../sass/partials/_cards.scss */
.ft_control:hover, .ft_control:focus {
  color: #d4af37;
}

/* line 87, ../sass/partials/_cards.scss */
.info_icon {
  margin-bottom: 15px;
}
/* line 90, ../sass/partials/_cards.scss */
.info_icon img {
  max-width: 48px;
}

/* line 95, ../sass/partials/_cards.scss */
.partners_grid {
  display: block;
}

/* line 99, ../sass/partials/_cards.scss */
.logo_grid {
  display: grid;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* line 106, ../sass/partials/_cards.scss */
.logo_item {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 106, ../sass/partials/_cards.scss */
  .logo_item {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
/* line 116, ../sass/partials/_cards.scss */
.logo_item img {
  display: inline-block;
  max-width: 125px;
}

/* line 122, ../sass/partials/_cards.scss */
.grey_scaled {
  filter: grayscale(1) brightness(0);
}

/* line 126, ../sass/partials/_cards.scss */
.postList {
  flex-wrap: wrap;
}

/* line 130, ../sass/partials/_cards.scss */
.postMetaItems {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

/* line 135, ../sass/partials/_cards.scss */
.postMetaItem {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
}
/* line 140, ../sass/partials/_cards.scss */
.postThumbDetails .postMetaItem {
  flex-grow: 0;
}
/* line 144, ../sass/partials/_cards.scss */
.postMetaItem + .metaItem {
  margin-left: 5px;
}
/* line 147, ../sass/partials/_cards.scss */
.postMetaItem + .metaItem::before {
  content: "/";
  color: #d5d5d5;
}

/* line 154, ../sass/partials/_cards.scss */
.postThumb {
  margin-bottom: 30px;
}

/* line 158, ../sass/partials/_cards.scss */
.postThumbWrapper {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  color: #121713;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 171, ../sass/partials/_cards.scss */
.postThumbWrapper:hover, .postThumbWrapper:focus {
  box-shadow: 2px 3px 20px rgba(18, 23, 19, 0.3);
}
/* line 174, ../sass/partials/_cards.scss */
.postThumbWrapper:hover .curl, .postThumbWrapper:focus .curl {
  width: 30px;
  height: 30px;
}
/* line 179, ../sass/partials/_cards.scss */
.postThumbWrapper:hover img, .postThumbWrapper:focus img {
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
/* line 184, ../sass/partials/_cards.scss */
.slick-slide .postThumbWrapper {
  min-height: 375px;
}
/* line 188, ../sass/partials/_cards.scss */
.postWebinar .postThumbWrapper {
  background-color: #121713;
  color: #fafafa;
}

/* line 194, ../sass/partials/_cards.scss */
.postThumbDetails {
  width: 100%;
  padding: 20px 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* line 202, ../sass/partials/_cards.scss */
.postTitle {
  font-size: 16px;
  color: inherit;
  line-height: 1.5em;
  letter-spacing: .1rem;
  font-weight: 700;
  margin-bottom: 10px;
  max-height: 4.5em;
  overflow: hidden;
}
/* line 212, ../sass/partials/_cards.scss */
.postWebinar .postTitle {
  margin-top: 15px;
  font-size: 21px;
  flex-grow: 1;
  max-height: 100%;
}
/* line 219, ../sass/partials/_cards.scss */
.postTitle a {
  color: inherit;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
/* line 223, ../sass/partials/_cards.scss */
.postTitle a:hover, .postTitle a:focus {
  opacity: .65;
}

/* line 229, ../sass/partials/_cards.scss */
.postThumbImage {
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-color: transparent;
  display: block;
  position: relative;
}
/* line 240, ../sass/partials/_cards.scss */
.postWebinar .postThumbImage {
  display: none;
}
/* line 244, ../sass/partials/_cards.scss */
.postThumbImage img {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  margin: auto;
  object-fit: cover;
  -moz-transition: -moz-transform 0.4s ease-out 0s;
  -o-transition: -o-transform 0.4s ease-out 0s;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  -webkit-transition-delay: 0s;
  transition: transform 0.4s ease-out 0s;
}

/* line 256, ../sass/partials/_cards.scss */
.postExcerpt {
  font-size: 14px;
  line-height: 1.5em;
  max-height: 6em;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 264, ../sass/partials/_cards.scss */
.postTag {
  display: block;
  z-index: 10;
  margin-bottom: 30px;
}
/* line 269, ../sass/partials/_cards.scss */
.postThumbImage .postTag {
  margin-bottom: 0;
  position: absolute;
  top: 15px;
  left: 15px;
}

/* line 277, ../sass/partials/_cards.scss */
.curl {
  width: 0px;
  height: 0px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 1000;
  overflow: hidden;
  background: #d4af37;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease;
  -webkit-transition-delay: 0s;
  transition: all 0.3s ease 0s;
}
/* line 288, ../sass/partials/_cards.scss */
.curl::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  -moz-transform: rotate(135deg) translateX(70%) scale(1.4);
  -ms-transform: rotate(135deg) translateX(70%) scale(1.4);
  -webkit-transform: rotate(135deg) translateX(70%) scale(1.4);
  transform: rotate(135deg) translateX(70%) scale(1.4);
  background: white;
}

/* line 1, ../sass/partials/_controls.scss */
.pr_options_list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  margin: 30px -10px 0;
  justify-content: space-between;
}

/* line 8, ../sass/partials/_controls.scss */
.option_item {
  flex: 1 0 50%;
  min-width: 50%;
}

/* line 13, ../sass/partials/_controls.scss */
.option_link {
  display: block;
  padding: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-transform: uppercase;
  color: #121713;
}
/* line 22, ../sass/partials/_controls.scss */
.option_link:hover, .option_link:focus {
  color: #d4af37;
  text-decoration: underline;
}
/* line 27, ../sass/partials/_controls.scss */
.option_link:visited {
  color: #454545;
}

/* line 32, ../sass/partials/_controls.scss */
.address_info_block {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 24px;
}

/* line 38, ../sass/partials/_controls.scss */
.info_block_title {
  margin-bottom: 8px;
  font-size: 16px;
}

/* line 43, ../sass/partials/_controls.scss */
.address_link {
  margin: 8px 0;
  display: block;
  color: #454545;
}
/* line 48, ../sass/partials/_controls.scss */
.address_link:hover, .address_link:focus {
  color: #d4af37;
}

/* line 1, ../sass/partials/_dialogs.scss */
.modal-backdrop {
  background-color: black;
}

/* line 5, ../sass/partials/_dialogs.scss */
.modal-content {
  border-radius: 5px;
  overflow: hidden;
}

/* line 10, ../sass/partials/_dialogs.scss */
.modal-dialog {
  z-index: 2000;
}

/* line 15, ../sass/partials/_dialogs.scss */
.modal-open .modal {
  background-color: rgba(18, 23, 19, 0.95);
}
/* line 19, ../sass/partials/_dialogs.scss */
.modal .modal-header {
  border-bottom: none;
  padding: 10px 15px;
  *zoom: 1;
  justify-content: flex-start;
  /* Tablets and phablets */
}
/* line 113, ../sass/partials/_mixins.scss */
.modal .modal-header:before, .modal .modal-header:after {
  content: "";
  display: table;
}
/* line 118, ../sass/partials/_mixins.scss */
.modal .modal-header:after {
  clear: both;
}
@media only screen and (min-width: 768px) {
  /* line 19, ../sass/partials/_dialogs.scss */
  .modal .modal-header {
    padding: 15px 30px;
  }
}
/* line 30, ../sass/partials/_dialogs.scss */
.modal .modal-title {
  font-size: 16px;
}
/* line 34, ../sass/partials/_dialogs.scss */
.modal .modal-body {
  position: relative;
  padding: 20px 15px;
  background: #fafafa;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 34, ../sass/partials/_dialogs.scss */
  .modal .modal-body {
    padding: 30px;
  }
}
/* line 43, ../sass/partials/_dialogs.scss */
.modal .content-panel {
  min-height: 250px;
}
/* line 47, ../sass/partials/_dialogs.scss */
.modal .modal-footer {
  border-top: none;
  padding: 10px 15px;
}

/* line 53, ../sass/partials/_dialogs.scss */
.dropdown-menu {
  padding: 0;
  font-size: 1em;
  z-index: 2000;
  border-color: #c5c5c5;
  box-shadow: 1px 2px 3px rgba(18, 23, 19, 0.1);
}
/* line 60, ../sass/partials/_dialogs.scss */
.dropdown-menu.dropdown-right {
  left: auto;
  right: 0;
}
/* line 65, ../sass/partials/_dialogs.scss */
.dropdown-menu li {
  display: block;
  padding: 0;
  margin: 0;
}
/* line 70, ../sass/partials/_dialogs.scss */
.dropdown-menu li > * {
  display: block;
  fill: #f7f3e8;
  color: inherit;
  padding: 10px 15px;
  line-height: normal;
}
/* line 76, ../sass/partials/_dialogs.scss */
.dropdown-menu li > *:hover {
  background: #e5e5e5;
  fill: #f7f3e8;
}

/* line 84, ../sass/partials/_dialogs.scss */
.dropdown-toggle::after {
  display: none;
}
