.wcCalculator {
    clear: both;
    position: relative;
    padding-bottom: 50px;
}

.wcCalculatorControls {
    padding-top: 15px;
    padding-bottom: 20px;
}

.wcCalculatorInfoWidget {
    width: 100%;
    padding: 20px 0;
}

.wcCalculatorInfoStatBox {
    display: block;
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 4px rgba(black, .2);

    @include MQ(M) {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.infoStatSnippet {
    display: block;
    padding: 15px 0;
}

.wcCalculatorChart {
    clear: both;
    display: block;
    padding: 15px 0;
}