.wrapper {
  background-color: #fffcf9;
  padding: 50px 0;
}
.create__crop {
  padding-top: 50px;
}
.half--width {
  width: 50%;
  margin: 0 auto;
}
.create__crop--container a {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #353535;
  margin-left: 10px;
}
.form-title {
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;
  color: #353535;
  margin-bottom: 30px;
}
.create__crop--form {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 30px 31px;
  margin-top: 40.88px;
}
.create__crop--form input,
.create__crop--form select {
  background: #ffffff;
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 13px 12px;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.05em;
}
.create__crop--form textarea {
  background: #ffffff;
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
  border-radius: 5px;
  height: 90px;
  resize: none;
  padding: 13px 11px;
}
.create__crop--form select {
  height: 45px;
}
.create__crop--form select:focus,
.create__crop--form textarea:focus {
  outline: none;
}
.create__crop--form input::placeholder {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #757575;
}
.create__crop--form .label {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #353535;
}

.overlay--label {
  position: relative;
}
.overlay--label--text {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #353535;
  position: absolute;
  top: 12px;
  right: 10px;
  padding-left: 10px;
  border-left: 1px solid #353535;
}

.create__crop--form .farming-stage {
  margin-top: 30px;
}
.farming-stage h1,
.upload-images h1 {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #000000;
}
.farming-stage span,
.upload-images span {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #353535;
}
.farming-stage select {
  border: none;
  height: 25px;
}
.upload-images_btn {
  width: 64px;
  height: 64px;
  background: rgba(114, 110, 11, 0.25);
  border-radius: 15px;
  cursor: pointer;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer p {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #757575;
}
.footer button {
  width: 115px;
  height: 42px;
  background: #2b700b;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}
/** reusable classes **/
.full--width {
  width: 100%;
}
.mb-sm {
  margin-top: 20px;
}
